@if (licenses(); as licensesArray) {
    <table mat-table [dataSource]="licensesArray.data">

        <!-- License Code Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> {{ 'common.labels.code' | translate }} </th>
            <td mat-cell *matCellDef="let element" class="code">
                {{ element.code }}
            </td>
        </ng-container>

        <!-- License Name Column -->
        <ng-container matColumnDef="licenseName">
            <th mat-header-cell *matHeaderCellDef> {{ 'common.labels.name' | translate }} </th>
            <td mat-cell *matCellDef="let element" class="name">
                {{ element.name }}
            </td>
        </ng-container>
        
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="text-right actions">
                @if (!isHandsetPortrait()) {
                    <button matIconButton class="margin-right-10" (click)="openLicenseDialog(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button matIconButton (click)="onDelete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                } @else {
                    <button class="more-button" matButton="outlined" [matMenuTriggerFor]="dropdownMenuAction" [attr.aria-label]="'common.labels.moreOptions' | translate">
                        <span class="material-symbols-outlined">more_vert</span>
                    </button>
                    <mat-menu #dropdownMenuAction="matMenu" xPosition="before">
                        <button mat-menu-item (click)="openLicenseDialog(element)">{{ 'common.actions.update' | translate }}</button>
                        <button mat-menu-item (click)="onDelete(element)">{{ 'common.actions.delete' | translate }}</button>
                    </mat-menu>
                }
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
    </table>
    <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="licensesArray.total"
        [pageIndex]="pageIndex"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 100]"
        [attr.aria-label]="'common.paginator.selectPage' | translate">
    </mat-paginator>

    <button matButton="filled" (click)="openLicenseDialog(undefined)">{{ 'components.licenseList.texts.newLicense' | translate }}</button>
}