.hashtag-header {
    font-weight: 600;
    padding-bottom: 10px;
}

mat-icon {
    top: 8px;
    position: relative;
    transform: scale(0.8);
    opacity: 0.8;
}

.image-container {
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 6px;
    }
}