.account-actions {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
}

.blocked-domains-actions {
    min-width: 130px;
}

#avatarImage {
  border-radius: 50%;
}

#headerImage {
    width: 100%;
    max-width: 600px;
}

.checkbox-hint {
    margin-left: 44px;
}

.download-data {
    max-width: 200px;

    mat-icon {
        font-size: 20px;
        height: 16px;
        width: 16px;
    }
}