<div [hidden]="!isReady()" @fadeIn [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
    <section>
        <h1>Account</h1>
    </section>

    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <mat-card class="margin-bottom-20" appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    Your personal information
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput name="userName" #userName="ngModel" [(ngModel)]="user().name"
                            placeholder="Name" aria-label="Name" appMaxLength="100" />
                        <mat-error *ngIf="userName.invalid && userName.errors?.appMaxLength">
                            Too long name.
                        </mat-error>
                    </mat-form-field>
                    <div></div>
                </div>

                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                    <mat-form-field appearance="outline">
                        <mat-label>Bio</mat-label>
                        <textarea matInput name="bio" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                            cdkAutosizeMaxRows="10" placeholder="Bio" #bio="ngModel" [(ngModel)]="user().bio"
                            aria-label="Bio" appMaxLength="500"></textarea>
                        <mat-error *ngIf="bio.invalid && bio.errors?.appMaxLength">Too long bio.</mat-error>
                    </mat-form-field>
                    <div></div>
                </div>

                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                    <mat-form-field appearance="outline">
                        <mat-label>Language</mat-label>
                        <mat-select [(value)]="user().locale">
                            <mat-option value="en_US">English (English)</mat-option>
                            <mat-option value="pl_PL">Polish (polski)</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div></div>
                </div>

                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                    <div>
                        <mat-checkbox name="manuallyApprovesFollowers" color="primary" [disableRipple]="true" [(ngModel)]="user().manuallyApprovesFollowers">Manually accept new followers</mat-checkbox>
                        <div class="text-muted checkbox-hint">
                            People will need to wait for you to accept their follow request. Check this option if you prefer to manually review follow requests and decide whether to accept or reject new followers, or uncheck it to allow people to follow you without requiring approval.
                        </div>
                    </div>
                    <div></div>
                </div>

                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                    <mat-divider></mat-divider>
                    <div></div>
                </div>

                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20 padding-top-20">
                    <div class="flex-row flex-stretch flex-space-between">
                        <h3>Fields</h3>
                        <div class="text-right">
                            <button mat-stroked-button color="accent" type="button" (click)="onAddField()">Add field</button>
                        </div>
                    </div>
                    <div></div>
                </div>

                @for (field of user().fields; track field.id; let i = $index) {
                    <div>
                        <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                            <mat-form-field appearance="outline">
                                <mat-label>Key</mat-label>
                                <input type="text" matInput [name]="'key-' + i" #key="ngModel" [(ngModel)]="field.key" placeholder="Key" aria-label="Key" appMaxLength="500" />
                                <mat-error *ngIf="key.invalid && key.errors?.appMaxLength">Too long key.</mat-error>
                            </mat-form-field>
                            <div></div>
                        </div>

                        <div class="flex-row flex-responsive flex-stretch gap-16">
                            <mat-form-field appearance="outline">
                                <mat-label>Value</mat-label>
                                <input type="text" matInput [name]="'value-' + i" #value="ngModel" [(ngModel)]="field.value" placeholder="Value" aria-label="Value" appMaxLength="500" />
                                <mat-error *ngIf="value.invalid && value.errors?.appMaxLength">Too long value.</mat-error>
                            </mat-form-field>
                            <div></div>
                        </div>

                        <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                            <div class="text-right">
                                <button mat-stroked-button color="primary" type="button" (click)="onDeleteField(field)">Delete</button>
                            </div>
                            <div></div>
                        </div>
                    </div>
                }

                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20 padding-top-20">
                    <div>
                        <div class="fw-400 margin-bottom-5">Self-verification of the account</div>
                        <div class="text-muted">
                            <p>
                                You can use Fields to verify your identity. All you need is a personal website that others recognize as yours.
                                By linking to this website from your profile, we will verify that the website links back to your profile and
                                display a visual indicator to confirm this. Simply copy and paste the code provided below into the HTML of your
                                website, then add your website's address into one of the extra fields above.
                            </p>
                            
                            <mat-form-field class="width-100" appearance="outline">
                                <input type="text" matInput name="verification" [ngModel]="verification()" aria-label="Verification example" [readonly]="true">
                                <button matSuffix mat-flat-button type="button" class="margin-right-10" (click)="onCopyVerification()" aria-label="Copy verification">Copy</button>
                            </mat-form-field>

                            <p>
                                Tip: The link on your website can be invisible. The important part is rel="me" which prevents impersonation on websites
                                with user-generated content.
                            </p>
                        </div>
                    </div>
                    <div></div>
                </div>

            </mat-card-content>

            <mat-card-actions>
                <div class="account-actions padding-top-20">
                    <button type="submit" mat-raised-button color="primary" aria-label="Save">Save</button>
                </div>
            </mat-card-actions>

        </mat-card>
    </form>

    <form name="avatarForm" (ngSubmit)="avatarForm.form.valid && onAvatarFormSubmit()" #avatarForm="ngForm" novalidate>
        <mat-card class="margin-bottom-20" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Avatar</mat-card-title>
                <mat-card-subtitle>PNG, GIF or JPG. At most {{ maxPictureFileSizeString() }}. Will be downscaled to 600x600px</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                    <div>
                        <button type="button" mat-stroked-button (click)="avatarFileUpload.click()" class="margin-right-20">Choose file</button>
                        <input type="file" hidden name="avatar" #avatarFileUpload accept="image/*" (change)="onAvatarSelected($event)">
                    </div>

                    <div>
                        <img id="avatarImage" [src]="avatarSrc()" width="200" height="200" alt="Avatar" />
                    </div>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <div class="account-actions">
                    <button type="submit" mat-raised-button color="primary" aria-label="Save" class="margin-right-10">Save</button>
                    <button type="button" mat-raised-button color="accent" aria-label="Remove avatar" (click)="onRemoveAvatar()">Remove</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>

    <form name="avatarForm" (ngSubmit)="headerForm.form.valid && onHeaderFormSubmit()" #headerForm="ngForm" novalidate>
        <mat-card class="margin-bottom-20" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Header</mat-card-title>
                <mat-card-subtitle>PNG, GIF or JPG. At most {{ maxPictureFileSizeString() }}. Will be downscaled to 1500x500px</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                    <div>
                        <button type="button" mat-stroked-button (click)="headerFileUpload.click()" class="margin-right-20">Choose file</button>
                        <input type="file" hidden name="header" #headerFileUpload accept="image/*" (change)="onHeaderSelected($event)">
                    </div>

                    <div>
                        <img id="headerImage" [src]="headerSrc()" alt="Header" />
                    </div>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <div class="account-actions">
                    <button type="submit" mat-raised-button color="primary" aria-label="Save" class="margin-right-10">Save</button>
                    <button type="button" mat-raised-button color="accent" aria-label="Remove header" (click)="onRemoveHeader()">Remove</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>

    <mat-card class="margin-bottom-20" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                Show your support
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                <div>
                    <p>
                        Thank you for supporting Vernissage! You can choose to display a small badge on your
                        profile as a token of appreciation and to inspire others to join our community of supporters.
                    </p>
                    <p>
                        This option is available only to users who support Vernissage.
                        If you're a supporter but don't see this option, please contact your instance administrator.
                    </p>

                    <p>
                        The badge is optional - you decide whether to show it or keep your support private.
                    </p>
                </div>
                <div class="text-right">
                    <div class="margin-bottom-20">
                        <mat-slide-toggle color="warn" name="isSupporterFlagEnabled" [(ngModel)]="isSupporterFlagEnabled" (ngModelChange)="onIsSupporterFlagChange()" [disabled]="!user().isSupporter">
                            Show badge on your profile
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="margin-bottom-20" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                Two factor authentication (2FA)
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-row flex-responsive flex-space-between gap-16 margin-bottom-20">
                <div>
                    Protect access to your account by two factor authentication (2FA) process.
                </div>
                <div>
                    <button *ngIf="!user().twoFactorEnabled" type="button" (click)="openEnableTwoFactorTokenDialog()" mat-raised-button color="primary" aria-label="Enable two factor authentication">Enable</button>
                    <button *ngIf="user().twoFactorEnabled" type="button" (click)="openDisableTwoFactorTokenDialog()" mat-raised-button color="accent" aria-label="Disable two factor authentication">Disable</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="margin-bottom-20" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                Change email
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-row flex-responsive flex-space-between gap-16 margin-bottom-20">
                <div>
                    Your current email: <strong>{{ user().email }}</strong>
                    <span *ngIf="!user().emailWasConfirmed" class="text-error margin-left-5">(not confirmed)</span>
                </div>
                <div>
                    <button *ngIf="!user().emailWasConfirmed" type="button" (click)="resentConfirmationEmail()" mat-stroked-button color="primary" class="margin-right-10" aria-label="Resend confirmation email">Resend confirmation email</button>
                    <button type="button" (click)="openChangeEmailDialog()" mat-raised-button color="primary" aria-label="Change email">Change email</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="margin-bottom-20" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                Change password
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-row flex-responsive flex-space-between gap-16 margin-bottom-20">
                <div>
                    Set a strong password and don't reuse it for other accounts.
                </div>
                <div>
                    <button type="button" (click)="openChangePasswordDialog()" mat-raised-button color="primary" aria-label="Change password">Change password</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="margin-bottom-20" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                Moving from a different account
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                <div>
                    If you want to move from another account to this one, here you can create an alias,
                    which is required before you can proceed with moving followers from the old account to this one.
                    This action by itself is harmless and reversible. The account migration is initiated from the old account.

                    @if (userAliases(); as userAliasesArray) {
                        @if (userAliasesArray.length > 0) {
                            <table mat-table [dataSource]="userAliasesArray" @fadeIn>
            
                                <!-- Alias Column -->
                                <ng-container matColumnDef="alias">
                                    <th mat-header-cell *matHeaderCellDef> Alias </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.alias }}
                                    </td>
                                </ng-container>
                        
                                <!-- Actions Column -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element" class="text-right actions">
                                        <button mat-stroked-button color="warn" (click)="onUserAliasDelete(element)">Delete</button>
                                    </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="aliasDisplayedColumns()"></tr>
                                <tr mat-row *matRowDef="let row; columns: aliasDisplayedColumns();"></tr>
                            </table>
                        }
                    }
                </div>
                <div class="text-right">
                    <button type="button" (click)="openCreateAccountDialog()" mat-raised-button color="primary" aria-label="Create account">Create alias</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="margin-bottom-20" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                Export
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                <div>
                    You can request an archive containing your posts and uploaded media. The exported data will be provided
                    in the ActivityPub format, ensuring compatibility with any compliant software. Archives may be requested
                    once every 30 days. Archives are generated once a day, and you will be notified via email once your
                    archive is ready.
                </div>
                <div class="text-right">
                    @if (showRequestArchiveButton()) {
                        <button type="button" mat-raised-button color="primary" aria-label="Request archive" (click)="onRequestArchive()">Request archive</button>
                    }
                </div>
            </div>

            @if (archives(); as archivesArray) {
                @if (archivesArray.length > 0) {
                    <table mat-table [dataSource]="archivesArray" @fadeIn>

                        <!-- RequestDate Column -->
                        <ng-container matColumnDef="requestDate">
                            <th mat-header-cell *matHeaderCellDef> Request date </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.requestDate | date: 'short' }}
                            </td>
                        </ng-container>

                        <!-- Request StartDate Column -->
                        <ng-container matColumnDef="startDate">
                            <th mat-header-cell *matHeaderCellDef> Start processing date </th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.startDate) {
                                    {{ element.startDate | date: 'short' }}
                                }
                            </td>
                        </ng-container>

                        <!-- Request EndDate Column -->
                        <ng-container matColumnDef="endDate">
                            <th mat-header-cell *matHeaderCellDef> End processing date </th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.endDate) {
                                    {{ element.endDate | date: 'short' }}
                                }
                            </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-chip-set aria-label="Status">
                                    @switch (element.status) {
                                        @case (archiveStatus.New) {
                                            <mat-chip [disableRipple]="true">New</mat-chip>
                                        }
                                        @case (archiveStatus.Processing) {
                                            <mat-chip [disableRipple]="true">Processing...</mat-chip>
                                        }
                                        @case (archiveStatus.Ready) {
                                            <mat-chip [disableRipple]="true">Ready</mat-chip>
                                        }
                                        @case (archiveStatus.Expired) {
                                            <mat-chip [disableRipple]="true">Expired</mat-chip>
                                        }
                                        @case (archiveStatus.Error) {
                                            <mat-chip [disableRipple]="true">Error</mat-chip>
                                        }
                                    }
                                </mat-chip-set>
                            </td>
                        </ng-container>

                        <!-- Request EndDate Column -->
                        <ng-container matColumnDef="download">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.status === archiveStatus.Ready) {
                                    <a [href]="element.fileName" target="_blank">Download your archive</a>
                                }
                            </td>
                        </ng-container>
                                        
                        <tr mat-header-row *matHeaderRowDef="archivesDisplayedColumns()"></tr>
                        <tr mat-row *matRowDef="let row; columns: archivesDisplayedColumns();"></tr>
                    </table>
                }
            }

            <h3>Download data files</h3>

            <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                <div>
                    Some of the data from the system can be downloaded directly without waiting for the archive to be generated.
                    The files are created in text format (CSV) and can also be used for importing to other instances.
                </div>
                <div class="text-right">
                </div>
            </div>

            <div class="download-data">
                <div class="flex-row flex-space-between gap-16">
                    <div>Follows</div>
                    <div>
                        <a href="javascript:void(0)" (click)="onDownloadFollowing()"><mat-icon>download</mat-icon><span class="margin-left-10">Download</span></a>
                    </div>
                </div>
                <div class="flex-row flex-space-between gap-16">
                    <div>Bookmarks</div>
                    <div>
                        <a href="javascript:void(0)" (click)="onDownloadBookmarks()"><mat-icon>download</mat-icon><span class="margin-left-10">Download</span></a>
                    </div>
                </div>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card class="margin-bottom-20" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                Import
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                <div>
                    You can import data previously exported from another server, such as a list of accounts you are following.
                    Imported accounts will be merged with the ones you are already following. Only CSV files are currently supported.
                    Max file size is {{ maxImportFileSizeString() }}.
                </div>
                <div class="text-right">
                    <input type="file" hidden (change)="onFileSelected($event)" #fileInput id="file">
                    <button type="button" mat-raised-button color="primary" aria-label="Request archive" (click)="fileInput.click()">Import</button>
                </div>
            </div>

            @if (followingImports(); as followingImportsArray) {
                @if (followingImportsArray.data.length > 0) {
                    <table mat-table [dataSource]="followingImportsArray.data" @fadeIn>

                        <!-- RequestDate Column -->
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef> Created date </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.createdAt | date: 'short' }}
                            </td>
                        </ng-container>

                        <!-- Request StartDate Column -->
                        <ng-container matColumnDef="startedAt">
                            <th mat-header-cell *matHeaderCellDef> Start processing date </th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.startedAt) {
                                    {{ element.startedAt | date: 'short' }}
                                }
                            </td>
                        </ng-container>

                        <!-- Request EndDate Column -->
                        <ng-container matColumnDef="endedAt">
                            <th mat-header-cell *matHeaderCellDef> End processing date </th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.endedAt) {
                                    {{ element.endedAt | date: 'short' }}
                                }
                            </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-chip-set aria-label="Status">
                                    @switch (element.status) {
                                        @case (followingImportStatus.New) {
                                            <mat-chip [disableRipple]="true">New</mat-chip>
                                        }
                                        @case (followingImportStatus.Processing) {
                                            <mat-chip [disableRipple]="true">Processing...</mat-chip>
                                        }
                                        @case (followingImportStatus.Finished) {
                                            <mat-chip [disableRipple]="true">Finished</mat-chip>
                                        }
                                    }
                                </mat-chip-set>
                            </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <a [routerLink]="[]" (click)="openShowAccountsDialog(element)" aria-label="Show accounts">Show accounts</a>
                            </td>
                        </ng-container>
                                        
                        <tr mat-header-row *matHeaderRowDef="followingImportsDisplayedColumns()"></tr>
                        <tr mat-row *matRowDef="let row; columns: followingImportsDisplayedColumns();"></tr>
                    </table>
                    <mat-paginator
                        (page)="handleFollowingImportsPageEvent($event)"
                        [length]="followingImportsArray.total"
                        [pageIndex]="followingImportsPageIndex()"
                        [pageSize]="followingImportsPageSize()"
                        [pageSizeOptions]="[10, 25, 100]"
                        aria-label="Select page">
                    </mat-paginator>
                }
            }

        </mat-card-content>
    </mat-card>

    <mat-card class="margin-bottom-20" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                Delete account
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                <div>
                    You can delete your account, this operation is irreversible. Keep in mind that you will
                    not be able to reactivate your account or retrieve any of the content or information
                    you have added.
                </div>
                <div class="text-right">
                    <button type="button" mat-raised-button color="accent" aria-label="Delete account" (click)="openDeleteAccountDialog()">Delete account</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>

