<div [ngClass]="{ 'padding-left-30 padding-right-30': !isHandset, 'padding-left-10 padding-right-10': isHandset }">
    @if (!isBrowser) {
        <div></div>
    }
    @else if (hashtags?.data?.length) {
        <div *ngFor="let hashtag of hashtags?.data; trackBy:trackByHashtagFn">
            <app-hashtag-gallery-item [hashtag]="hashtag"></app-hashtag-gallery-item>
        </div>
    } @else {
        <div class="text-muted padding-top-30 width-100 text-center">
            <h2 class="empty-page">
                <div class="camera"></div>
                <div>Sadly, there's nothing to see here just yet.</div>
            </h2>
        </div>
    }
</div>