<div [ngClass]="{ 'padding-left-30 padding-right-30': !isHandset, 'padding-left-10 padding-right-10': isHandset }">
    @if (hashtags?.data?.length) {
        <div *ngFor="let hashtag of hashtags?.data; trackBy:trackByHashtagFn">
            <app-hashtag-gallery-item [hashtag]="hashtag"></app-hashtag-gallery-item>
        </div>
    } @else {
        <div class="text-muted padding-top-30 width-100 text-center">
            <h2>
                Unfortunatelly, there is nothing to see here yet.
            </h2>
        </div>
    }
</div>