<div [ngClass]="{ 'padding-left-30 padding-right-30': !isHandset, 'padding-left-10 padding-right-10': isHandset }">
    @if (hashtags?.data?.length) {
        <div *ngFor="let hashtag of hashtags?.data">
            <div class="hashtag-header">
                <a [routerLink]="['/hashtag', hashtag.name]">
                    <mat-icon>tag</mat-icon> {{ hashtag.name }}
                </a>
            </div>
            <div class="images-container">
                <div class="flex-row">
                    <ng-container *ngFor="let status of getStatuses(hashtag.name)">
                        <a [routerLink]="['/statuses', status.id]" [ariaLabel]="'Status added by: ' + status.user?.userName" (click)="onStatusClick(hashtag.name)">
                            @if (status.sensitive) {
                                <div class="blurhash">
                                    <app-blurhash-image [horizontal]="true" [imageSrc]="getMainAttachmentSrc(status)" [blurhash]="getMainAttachmentBlurhash(status)" [text]="status.contentWarning"></app-blurhash-image>
                                </div>
                            } @else {
                                <img class="image" *ngIf="getMainAttachmentSrc(status)" [src]="getMainAttachmentSrc(status)" />
                            }
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    } @else {
        <div class="text-muted padding-top-30 width-100 text-center">
            <h2>
                Unfortunatelly, there is nothing to see here yet.
            </h2>
        </div>
    }
</div>