@if (isReady()) {
    <div animate.enter="fade-in">

        @if (articles().length > 0) {
            <div [ngClass]="{ 'padding-top-30': !isHandset(), 'padding-left-30': !isHandset(), 'padding-right-30': !isHandset(), 'padding-10': isHandset() }">
                @for (article of articles(); track article) {
                    <app-article-inline [article]="article"></app-article-inline>
                }
            </div>
        }

        <div style="max-width: 960px; margin-left: auto; margin-right: auto;">
            <div class="header">{{ 'components.homeSignout.texts.rediscoverTheBeautyOfPhotography' | translate }}</div>
            <div class="subheader text-muted">
                <p>{{ 'components.homeSignout.texts.vernissageIsAFreePlatformDesignedFor' | translate }}</p>
                <p>{{ 'components.homeSignout.texts.itSAdFreeAndFocusedOn' | translate }}</p>
            </div>

            <div class="flex-row flex-wrap flex-center gap-8 margin-top-20 margin-bottom-20 margin-left-10 margin-right-10">
                @for(homeCard of homeCards(); track homeCard.id) {
                    <mat-card appearance="outlined">
                        <mat-card-header>
                            <mat-card-title>{{ homeCard.title }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="text-muted">{{ homeCard.body }}</p>
                        </mat-card-content>
                    </mat-card>
                }
            </div>

            <ul>
                <li class="margin-bottom-10"><a [routerLink]="['/support']">{{ 'common.labels.support' | translate }}</a></li>
                <li class="margin-bottom-10"><a [routerLink]="['/terms']">{{ 'components.homeSignout.texts.termsOfService' | translate }}</a></li>
                <li class="margin-bottom-10"><a [routerLink]="['/privacy']">{{ 'components.homeSignout.texts.privacyPolicy' | translate }}</a></li>
                <li class="margin-bottom-10"><a href="https://github.com/VernissageApp/VernissageServer" target="_blank">{{ 'components.homeSignout.texts.sourceCode' | translate }}</a></li>
                <li class="margin-bottom-10"><a href="https://api.vernissage.photos/" target="_blank">{{ 'components.homeSignout.texts.apiDocumentation' | translate }}</a></li>

                @if (mastodonUrl(); as mastodonUrlString) {
                    <li class="margin-bottom-10"><a [href]="mastodonUrlString" target="_blank">{{ 'components.homeSignout.mastodon' | translate }}</a></li>
                }
            </ul>

            @if (showEditorsChoice() && statuses()?.data?.length) {
                <div class="text-center">
                    <h1>{{ 'components.homeSignout.texts.editorSChoiceAcrossWholeFediverse' | translate }}</h1>
                </div>
            }
        </div>

        @if (showEditorsChoice() || showLocal()) {
            @if (statuses(); as statusesArray) {
                <app-gallery [statuses]="statusesArray" [startUrl]="pageUrl"></app-gallery>
            }
        }
    </div>
}
