mat-card {
    width: 300px;
    border-width: 0;
}

.header {
    text-align: center;
    font-size: 2.6em;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 200;
    line-height: 1;
}

.subheader {
    text-align: center;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 100;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 30px 10px;
}
  
li {
    display: inline;
}

li::after {
    content: " ";
    word-spacing: 1em;
    background-image: linear-gradient(
        -0.2turn,
        transparent 0 calc(50% - 0.03em),
        currentcolor 0 calc(50% + 0.03em),
        transparent 0
    );
}
