@if (isReady()) {
    <div @fadeIn>

        @if (articles().length > 0) {
            <div [ngClass]="{ 'padding-top-30': !isHandset(), 'padding-left-30': !isHandset(), 'padding-right-30': !isHandset(), 'padding-10': isHandset() }">
                @for (article of articles(); track article) {
                    <app-article-inline [article]="article"></app-article-inline>
                }
            </div>
        }

        <div style="max-width: 960px; margin-left: auto; margin-right: auto;">
            <div class="header">Rediscover the beauty of photography</div>
            <div class="subheader text-muted">
                <p>Vernissage is a free platform designed for photographers.</p>
                <p>It's ad-free and focused on community and creativity, not algorithms.</p>
            </div>

            <div class="flex-row flex-wrap flex-center gap-8 margin-top-20 margin-bottom-20 margin-left-10 margin-right-10">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Support for the ActivityPub</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-muted">Connect with leading photographers across Mastodon, Pixelfed, and other platforms seamlessly.</p>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Photography centric</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-muted">Enjoy multiple curated timelines, including your followers' photos, trending images, artist spotlights, hashtags, editor's choice photos, and much more.</p>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Metadata support</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-muted">Share Exif metadata (such as camera manufacturer, model, aperture settings) or set up your own values, even for analog photography (like film, scanner or chemistry details). Photo location sharing is also available, if desired.</p>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>High Dynamic Range (HDR)</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-muted">Display HDR versions of your photos to take full advantage of modern monitor capabilities.</p>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>AI integration</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-muted">Leverage AI to generate ALT text for accessibility or to suggest hashtags.</p>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Push notifications</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-muted">Upon installing the app, configure push notifications to receive alerts for new likes, followers, and other interactions.</p>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Account verification</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-muted">Verify your account if you have a well-recognized personal website.</p>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Open source</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-muted">All source codes are available under the Apache 2.0 license. Anyone can view, download, and modify them.</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <ul>
                <li class="margin-bottom-10"><a [routerLink]="['/support']">Support</a></li>
                <li class="margin-bottom-10"><a [routerLink]="['/terms']">Terms of Service</a></li>
                <li class="margin-bottom-10"><a [routerLink]="['/privacy']">Privacy policy</a></li>
                <li class="margin-bottom-10"><a href="https://github.com/VernissageApp/VernissageServer" target="_blank">Source code</a></li>
                <li class="margin-bottom-10"><a href="https://api.vernissage.photos/" target="_blank">API documentation</a></li>

                @if (mastodonUrl(); as mastodonUrlString) {
                    <li class="margin-bottom-10"><a [href]="mastodonUrlString" target="_blank">Mastodon</a></li>
                }
            </ul>

            @if (showEditorsChoice() && statuses()?.data?.length) {
                <div class="text-center">
                    <h1>Editor's choice across whole Fediverse</h1>
                </div>
            }
        </div>

        @if (showEditorsChoice() || showLocal()) {
            @if (statuses(); as statusesArray) {
                <app-gallery [statuses]="statusesArray" [startUrl]="pageUrl"></app-gallery>
            }
        }
    </div>
}
