<div class="margin-top-40 margin-bottom-20">
    <div class="flex-row flex-space-between text-uppercase fw-300">
        <div><a [routerLink]="['/support']">Support</a></div>
        <div><a [routerLink]="['/terms']">Terms of Service</a></div>        
        <div><a [routerLink]="['/privacy']">Privacy policy</a></div>
    </div>
    <div class="flex-row flex-space-between text-muted margin-top-10">
        <div>© {{ currentYear() }} {{ apiService() }}</div>
        <div>·</div>
        <div><a href="https://github.com/VernissageApp" rel="noopener">Powered by Vernissage</a></div>
    </div>
</div>