<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <h3>{{ 'components.generalSettings.texts.mainServerSettings' | translate }}</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webTitle' | translate }}</mat-label>
            <input type="text" matInput name="webTitle" #webTitle="ngModel" [(ngModel)]="settings().webTitle"
                [placeholder]="'components.generalSettings.attrs.webTitle' | translate" [attr.aria-label]="'components.generalSettings.attrs.webTitle' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webDescription' | translate }}</mat-label>
            <input type="text" matInput name="webDescription" #webDescription="ngModel" [(ngModel)]="settings().webDescription"
                [placeholder]="'components.generalSettings.attrs.webDescription' | translate" [attr.aria-label]="'components.generalSettings.attrs.webDescription' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webLongDescription' | translate }}</mat-label>
            <textarea matInput name="webLongDescription" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="10" [placeholder]="'components.generalSettings.attrs.webLongDescription' | translate" #webLongDescription="ngModel" [(ngModel)]="settings().webLongDescription"
                [attr.aria-label]="'components.generalSettings.attrs.webLongDescription' | translate"></textarea>
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webEmail' | translate }}</mat-label>
            <input type="text" matInput name="webEmail" #webEmail="ngModel" [(ngModel)]="settings().webEmail"
                [placeholder]="'components.generalSettings.attrs.webEmail' | translate" [attr.aria-label]="'components.generalSettings.attrs.webEmail' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webThumbnailUrl' | translate }}</mat-label>
            <input type="text" matInput name="webThumbnail" #webThumbnail="ngModel" [(ngModel)]="settings().webThumbnail"
                [placeholder]="'components.generalSettings.attrs.webThumbnailUr' | translate" [attr.aria-label]="'components.generalSettings.attrs.webThumbnailUr' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webLanguages' | translate }}</mat-label>
            <input type="text" matInput name="webLanguages" #webLanguages="ngModel" [(ngModel)]="settings().webLanguages"
                [placeholder]="'components.generalSettings.attrs.webLanguages' | translate" [attr.aria-label]="'components.generalSettings.attrs.webLanguages' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.corsOrgins' | translate }}</mat-label>
            <input type="text" matInput name="corsOrigin" #corsOrigin="ngModel" [(ngModel)]="settings().corsOrigin"
                [placeholder]="'components.generalSettings.attrs.corsOrgins' | translate" [attr.aria-label]="'components.generalSettings.attrs.corsOrgins' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.maximumNumberOfInvitationsPerUser' | translate }}</mat-label>
            <input type="number" matInput name="maximumNumberOfInvitations" #maximumNumberOfInvitations="ngModel" [(ngModel)]="settings().maximumNumberOfInvitations"
                [placeholder]="'components.generalSettings.attrs.maximumNumberOfInvitations' | translate" [attr.aria-label]="'components.generalSettings.attrs.maximumNumberOfInvitations' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.maximumNumberOfCharactersInStatus' | translate }}</mat-label>
            <input type="number" matInput name="maxCharacters" #maxCharacters="ngModel" [(ngModel)]="settings().maxCharacters"
                [placeholder]="'components.generalSettings.attrs.maximumNumberOfCharactersInStatus' | translate" [attr.aria-label]="'components.generalSettings.attrs.maximumNumberOfCharactersInStatus' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.maximumNumberOfAttachments' | translate }}</mat-label>
            <input type="number" matInput name="maxMediaAttachments" #maxMediaAttachments="ngModel" [(ngModel)]="settings().maxMediaAttachments"
                [placeholder]="'components.generalSettings.attrs.maximumNumberOfAttachments' | translate" [attr.aria-label]="'components.generalSettings.attrs.maximumNumberOfAttachments' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.maximumFileSize' | translate }}</mat-label>
            <input type="number" matInput name="imageSizeLimit" #imageSizeLimit="ngModel" [(ngModel)]="settings().imageSizeLimit"
                [placeholder]="'components.generalSettings.attrs.maximumFileSize' | translate" [attr.aria-label]="'components.generalSettings.attrs.maximumFileSize' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.deleteStatusesOlderThanDays' | translate }}</mat-label>
            <input type="number" matInput name="statusPurgeAfterDays" #statusPurgeAfterDays="ngModel" [(ngModel)]="settings().statusPurgeAfterDays"
                [placeholder]="'components.generalSettings.attrs.deleteStatusesOlderThanDays' | translate" [attr.aria-label]="'components.generalSettings.attrs.deleteStatusesOlderThanDays' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.patreonUrl' | translate }}</mat-label>
            <input type="text" matInput name="patreonUrl" #patreonUrl="ngModel" [(ngModel)]="settings().patreonUrl"
                [placeholder]="'components.generalSettings.attrs.patreonUrl' | translate" [attr.aria-label]="'components.generalSettings.attrs.patreonUrl' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.mastodonUrl' | translate }}</mat-label>
            <input type="text" matInput name="mastodonUrl" #mastodonUrl="ngModel" [(ngModel)]="settings().mastodonUrl"
                [placeholder]="'components.generalSettings.attrs.mastodonUrl' | translate" [attr.aria-label]="'components.generalSettings.attrs.mastodonUrl' | translate" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.mastodon' | translate }}
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.imagesUrl' | translate }}</mat-label>
            <input type="text" matInput name="imagesUrl" #imagesUrl="ngModel" [(ngModel)]="settings().imagesUrl"
                [placeholder]="'components.generalSettings.attrs.imagesUrl' | translate" [attr.aria-label]="'components.generalSettings.attrs.imagesUrl' | translate" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.cdn' | translate }}
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.imagesQuality' | translate }}</mat-label>
            <input type="number" matInput name="imageQuality" #imageQuality="ngModel" [(ngModel)]="settings().imageQuality"
                [placeholder]="'components.generalSettings.attrs.imagesQuality' | translate" [attr.aria-label]="'components.generalSettings.attrs.imagesQuality' | translate" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.imageQuality' | translate }}
        </div>
    </div>

    <div>
        <mat-checkbox name="showNews" [disableRipple]="true" [(ngModel)]="settings().showNews">
            {{ 'components.generalSettings.toggles.showNewsForSignedIn' | translate }}
        </mat-checkbox>
    </div>

    <div>
        <mat-checkbox name="showNewsForAnonymous" [disableRipple]="true" [(ngModel)]="settings().showNewsForAnonymous">
            {{ 'components.generalSettings.toggles.showNewsForAnonymous' | translate }}
        </mat-checkbox>
    </div>

    <div class="margin-bottom-20">
        <mat-checkbox name="showSharedBusinessCards" [disableRipple]="true" [(ngModel)]="settings().showSharedBusinessCards">
            {{ 'components.generalSettings.toggles.showSharedBusinessCards' | translate }}
        </mat-checkbox>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.antiFloodSettings' | translate }}</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.minimumIntervalBetweenAddingStatusesSeconds' | translate }}</mat-label>
            <input type="number" matInput name="minimumSecondsBetweenRegularStatuses" #statusPurgeAfterDays="ngModel" [(ngModel)]="settings().minimumSecondsBetweenRegularStatuses"
                [placeholder]="'components.generalSettings.attrs.minimumIntervalBetweenAddingStatusesSeconds' | translate" [attr.aria-label]="'components.generalSettings.attrs.minimumIntervalBetweenAddingStatusesSeconds' | translate" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.regularStatusesInterval' | translate }}
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.minimumIntervalBetweenAddingSilentStatusesSeconds' | translate }}</mat-label>
            <input type="number" matInput name="minimumSecondsBetweenSilentStatuses" #statusPurgeAfterDays="ngModel" [(ngModel)]="settings().minimumSecondsBetweenSilentStatuses"
                [placeholder]="'components.generalSettings.attrs.minimumIntervalBetweenAddingSilentStatusesSeconds' | translate" [attr.aria-label]="'components.generalSettings.attrs.minimumIntervalBetweenAddingSilentStatusesSeconds' | translate" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.silentStatusesInterval' | translate }}
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.defaultAccounts' | translate }}</h3>

    <div class="margin-bottom-30">
        <app-user-selector name="webContactUserId" [label]="'components.generalSettings.labels.webContactUserId' | translate" [(selectedUser)]="webContactUser"></app-user-selector>
    </div>

    <div class="margin-bottom-30">
        <app-user-selector name="systemDefaultUserId" [label]="'components.generalSettings.labels.systemDefaultUserId' | translate" [(selectedUser)]="systemDefaultUser"></app-user-selector>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.financialSupport' | translate }}</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.totalCost' | translate }}</mat-label>
            <input type="number" matInput name="totalCost" #totalCost="ngModel" [(ngModel)]="settings().totalCost"
                [placeholder]="'components.generalSettings.attrs.totalCost' | translate" [attr.aria-label]="'components.generalSettings.attrs.totalCost' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.usersSupport' | translate }}</mat-label>
            <input type="number" matInput name="usersSupport" #usersSupport="ngModel" [(ngModel)]="settings().usersSupport"
                [placeholder]="'components.generalSettings.attrs.usersSupport' | translate" [attr.aria-label]="'components.generalSettings.attrs.usersSupport' | translate" />
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.anonymousAccess' | translate }}</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="showLocalTimelineForAnonymous" [disableRipple]="true" [(ngModel)]="settings().showLocalTimelineForAnonymous">
                {{ 'components.generalSettings.toggles.showLocalTimelineForAnonymous' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="showTrendingForAnonymous" [disableRipple]="true" [(ngModel)]="settings().showTrendingForAnonymous">
                {{ 'components.generalSettings.toggles.showTrendingForAnonymous' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="showEditorsChoiceForAnonymous" [disableRipple]="true" [(ngModel)]="settings().showEditorsChoiceForAnonymous">
                {{ 'components.generalSettings.toggles.showEditorsStatusesChoiceForAnonymous' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="showEditorsUsersChoiceForAnonymous" [disableRipple]="true" [(ngModel)]="settings().showEditorsUsersChoiceForAnonymous">
                {{ 'components.generalSettings.toggles.showEditorsUsersChoiceForAnonymous' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="showHashtagsForAnonymous" [disableRipple]="true" [(ngModel)]="settings().showHashtagsForAnonymous">
                {{ 'components.generalSettings.toggles.showHashtagsForAnonymous' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="showCategoriesForAnonymous" [disableRipple]="true" [(ngModel)]="settings().showCategoriesForAnonymous">
                {{ 'components.generalSettings.toggles.showCategoriesForAnonymous' | translate }}
            </mat-checkbox>
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.registration' | translate }}</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="isRegistrationOpened" [disableRipple]="true" [(ngModel)]="settings().isRegistrationOpened">
                {{ 'components.generalSettings.toggles.isRegistrationOpened' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="isRegistrationByApprovalOpened" [disableRipple]="true" [disabled]="settings().isRegistrationOpened" [(ngModel)]="settings().isRegistrationByApprovalOpened">
                {{ 'components.generalSettings.toggles.isRegistrationByApprovalOpened' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="isRegistrationByInvitationsOpened" [disableRipple]="true" [disabled]="settings().isRegistrationOpened" [(ngModel)]="settings().isRegistrationByInvitationsOpened">
                {{ 'components.generalSettings.toggles.isRegistrationByInvitationsOpened' | translate }}
            </mat-checkbox>
        </div>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.registrationMode' | translate }}
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.captcha' | translate }}</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="isQuickCaptchaEnabled" [disableRipple]="true" [(ngModel)]="settings().isQuickCaptchaEnabled">
                {{ 'components.generalSettings.toggles.isQuickCaptchaEnabled' | translate }}
            </mat-checkbox>
            <div class="text-muted fs-90 margin-left-10 margin-top-5">
                {{ 'components.generalSettings.help.quickCaptcha' | translate }}
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.emailServer' | translate }}</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.emailHostname' | translate }}</mat-label>
            <input type="text" matInput name="emailHostname" #emailHostname="ngModel" [(ngModel)]="settings().emailHostname"
                [placeholder]="'components.generalSettings.attrs.emailHostname' | translate" [attr.aria-label]="'components.generalSettings.attrs.emailHostname' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.emailPort' | translate }}</mat-label>
            <input type="number" matInput name="emailPort" #emailPort="ngModel" [(ngModel)]="settings().emailPort"
                [placeholder]="'components.generalSettings.attrs.emailPort' | translate" [attr.aria-label]="'components.generalSettings.attrs.emailPort' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.emailUsername' | translate }}</mat-label>
            <input type="text" matInput name="emailUserName" #emailUserName="ngModel" [(ngModel)]="settings().emailUserName"
                [placeholder]="'components.generalSettings.attrs.emailUsername' | translate" [attr.aria-label]="'components.generalSettings.attrs.emailUsername' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.emailPassword' | translate }}</mat-label>
            <input type="text" matInput name="emailPassword" #emailPassword="ngModel" [(ngModel)]="settings().emailPassword"
                [placeholder]="'components.generalSettings.attrs.emailPassword' | translate" [attr.aria-label]="'components.generalSettings.attrs.emailPassword' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.emailFromAddress' | translate }}</mat-label>
            <input type="text" matInput name="emailFromAddress" #emailFromAddress="ngModel" [(ngModel)]="settings().emailFromAddress"
                [placeholder]="'components.generalSettings.attrs.emailFromAddress' | translate" [attr.aria-label]="'components.generalSettings.attrs.emailFromAddress' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.emailFromName' | translate }}</mat-label>
            <input type="text" matInput name="emailFromName" #emailFromName="ngModel" [(ngModel)]="settings().emailFromName"
                [placeholder]="'components.generalSettings.attrs.emailFromName' | translate" [attr.aria-label]="'components.generalSettings.attrs.emailFromName' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.emailSecureMethod' | translate }}</mat-label>
            <mat-select [(value)]="settings().emailSecureMethod">
                <mat-option value="none">{{ 'components.generalSettings.none' | translate }}</mat-option>
                <mat-option value="ssl">{{ 'components.generalSettings.ssl' | translate }}</mat-option>
                <mat-option value="startTls">{{ 'components.generalSettings.texts.startTls' | translate }}</mat-option>
                <mat-option value="startTlsWhenAvailable">{{ 'components.generalSettings.texts.startTlsWhenAvailable' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.artificialInteligence' | translate }}</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="isAIEnabled" [disableRipple]="true" [(ngModel)]="settings().isOpenAIEnabled">
                {{ 'components.generalSettings.toggles.isAiEnabled' | translate }}
            </mat-checkbox>
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.aiProviderName' | translate }}</mat-label>
            <input type="text" matInput name="AIProviderName" #openAIProviderName="ngModel" [(ngModel)]="settings().openAIProviderName"
                [placeholder]="'components.generalSettings.attrs.aiProviderName' | translate" [attr.aria-label]="'components.generalSettings.attrs.aiProviderName' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.aiUrl' | translate }}</mat-label>
            <input type="text" matInput name="AIUrl" #openAIUrl="ngModel" [(ngModel)]="settings().openAIUrl"
                [placeholder]="'components.generalSettings.attrs.aiUrl' | translate" [attr.aria-label]="'components.generalSettings.attrs.aiUrl' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.aiSecretKey' | translate }}</mat-label>
            <input type="text" matInput name="AISecretKey" #openAPIKey="ngModel" [(ngModel)]="settings().openAIKey"
                [placeholder]="'components.generalSettings.attrs.aiSecretKey' | translate" [attr.aria-label]="'components.generalSettings.attrs.aiSecretKey' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.aiModel' | translate }}</mat-label>
            <input type="text" matInput name="AIModel" #openAPIModel="ngModel" [(ngModel)]="settings().openAIModel"
                [placeholder]="'components.generalSettings.attrs.aiModel' | translate" [attr.aria-label]="'components.generalSettings.attrs.aiModel' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.aiDescriptionPrompt' | translate }}</mat-label>
            <textarea matInput name="AIDescriptionPrompt" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="20" [placeholder]="'components.generalSettings.attrs.aiDescriptionPrompt' | translate" #openAIDescriptionPrompt="ngModel" [(ngModel)]="settings().openAIImageDescriptionPrompt"
                [attr.aria-label]="'components.generalSettings.attrs.aiDescriptionPrompt' | translate"></textarea>
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.aiDescriptionPrompt' | translate }}
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.aiHashtagsPrompt' | translate }}</mat-label>
            <textarea matInput name="AIHashtagsPrompt" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="20" [placeholder]="'components.generalSettings.attrs.aiHashtagsPrompt' | translate" #openAIHashtagsPrompt="ngModel" [(ngModel)]="settings().openAIImageHashtagsPrompt"
                [attr.aria-label]="'components.generalSettings.attrs.aiHashtagsPrompt' | translate"></textarea>
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.aiHashtagsPrompt' | translate }}
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.webpushNotifications' | translate }}</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="isWebPushEnabled" [disableRipple]="true" [(ngModel)]="settings().isWebPushEnabled">
                {{ 'components.generalSettings.toggles.isWebPushEnabled' | translate }}
            </mat-checkbox>
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webpushServiceEndpoint' | translate }}</mat-label>
            <input type="text" matInput name="webPushEndpoint" #webPushEndpoint="ngModel" [(ngModel)]="settings().webPushEndpoint"
                [placeholder]="'components.generalSettings.attrs.webpushServiceEndpoint' | translate" [attr.aria-label]="'components.generalSettings.attrs.webpushServiceEndpoint' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webpushServiceSecretKey' | translate }}</mat-label>
            <input type="text" matInput name="webPushSecretKey" #webPushSecretKey="ngModel" [(ngModel)]="settings().webPushSecretKey"
                [placeholder]="'components.generalSettings.attrs.webpushServiceSecretKey' | translate" [attr.aria-label]="'components.generalSettings.attrs.webpushServiceSecretKey' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webpushVapidSubject' | translate }}</mat-label>
            <input type="text" matInput name="webPushVapidSubject" #webPushVapidSubject="ngModel" [(ngModel)]="settings().webPushVapidSubject"
                [placeholder]="'components.generalSettings.attrs.webpushVapidSubject' | translate" [attr.aria-label]="'components.generalSettings.attrs.webpushVapidSubject' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webpushVapidPublicKey' | translate }}</mat-label>
            <input type="text" matInput name="webPushVapidPublicKey" #webPushVapidPublicKey="ngModel" [(ngModel)]="settings().webPushVapidPublicKey"
                [placeholder]="'components.generalSettings.attrs.webpushVapidPublicKey' | translate" [attr.aria-label]="'components.generalSettings.attrs.webpushVapidPublicKey' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.webpushVapidPrivateKey' | translate }}</mat-label>
            <input type="text" matInput name="webPushVapidPrivateKey" #webPushVapidPrivateKey="ngModel" [(ngModel)]="settings().webPushVapidPrivateKey"
                [placeholder]="'components.generalSettings.attrs.webpushVapidPriavteKey' | translate" [attr.aria-label]="'components.generalSettings.attrs.webpushVapidPriavteKey' | translate" />
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.privacyPolicy' | translate }}</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.privacyPolicyUpdateDate' | translate }}</mat-label>
            <input type="text" matInput name="privacyPolicyUpdatedAt" #privacyPolicyUpdatedAt="ngModel" [(ngModel)]="settings().privacyPolicyUpdatedAt"
                [placeholder]="'components.generalSettings.attrs.privacyPolicyUpdateDate' | translate" [attr.aria-label]="'components.generalSettings.attrs.privacyPolicyUpdateDate' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.privacyPolicyContent' | translate }}</mat-label>
            <textarea matInput name="privacyPolicyContent" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="20" [placeholder]="'components.generalSettings.attrs.privacyPolicyContent' | translate" #privacyPolicyContent="ngModel" [(ngModel)]="settings().privacyPolicyContent"
                [attr.aria-label]="'components.generalSettings.attrs.privacyPolicyContent' | translate"></textarea>
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.markdownMacros' | translate }} {{'{{email}}, {{hostname}}, {{rules}}'}}.
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.termsOfService' | translate }}</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.termsOfServiceUpdateDate' | translate }}</mat-label>
            <input type="text" matInput name="termsOfServiceUpdatedAt" #termsOfServiceUpdatedAt="ngModel" [(ngModel)]="settings().termsOfServiceUpdatedAt"
                [placeholder]="'components.generalSettings.attrs.termsOfServiceUpdateDate' | translate" [attr.aria-label]="'components.generalSettings.attrs.termsOfServiceUpdateDate' | translate" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.termsOfServiceContent' | translate }}</mat-label>
            <textarea matInput name="termsOfServiceContent" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="20" [placeholder]="'components.generalSettings.attrs.termsOfServiceContent' | translate" #termsOfServiceContent="ngModel" [(ngModel)]="settings().termsOfServiceContent"
                [attr.aria-label]="'components.generalSettings.attrs.termsOfServiceContent' | translate"></textarea>
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.markdownMacros' | translate }} {{'{{email}}, {{hostname}}, {{rules}}'}}.
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.customStyles' | translate }}</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.httpPathToCustomCssFile' | translate }}</mat-label>
            <input type="text" matInput name="customFileStyle" #customFileStyle="ngModel" [(ngModel)]="settings().customFileStyle"
                [placeholder]="'components.generalSettings.attrs.httpPathToCustomCssFile' | translate" [attr.aria-label]="'components.generalSettings.attrs.httpPathToCustomCssFile' | translate" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.sameDomainCors' | translate }}
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.inlineCustomCssStyles' | translate }}</mat-label>
            <textarea matInput name="customInlineStyle" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="20" [placeholder]="'components.generalSettings.attrs.inlineCustomCssStyles' | translate" #customInlineStyle="ngModel" [(ngModel)]="settings().customInlineStyle"
                [attr.aria-label]="'components.generalSettings.attrs.inlineCustomCssStyles' | translate"></textarea>
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.customJavascript' | translate }}</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.httpPathToCustomJavascriptFile' | translate }}</mat-label>
            <input type="text" matInput name="customFileScript" #customFileScript="ngModel" [(ngModel)]="settings().customFileScript"
                [placeholder]="'components.generalSettings.attrs.httpPathToCustomJavascriptFile' | translate" [attr.aria-label]="'components.generalSettings.attrs.httpPathToCustomJavascriptFile' | translate" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.sameDomainCors' | translate }}
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'components.generalSettings.texts.inlineCustomJavascript' | translate }}</mat-label>
            <textarea matInput name="customInlineScript" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="20" [placeholder]="'components.generalSettings.attrs.inlineCustomJavascript' | translate" #customInlineScript="ngModel" [(ngModel)]="settings().customInlineScript"
                [attr.aria-label]="'components.generalSettings.attrs.inlineCustomJavascript' | translate"></textarea>
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.scheduledJobs' | translate }}</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="clearAttachmentsJobEnabled" [disableRipple]="true" [(ngModel)]="settings().clearAttachmentsJobEnabled">
                {{ 'components.generalSettings.jobs.clearAttachments' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="clearDeletedUsersJobEnabled" [disableRipple]="true" [(ngModel)]="settings().clearDeletedUsersJobEnabled">
                {{ 'components.generalSettings.jobs.clearDeletedUsers' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="clearErrorItemsJobEnabled" [disableRipple]="true" [(ngModel)]="settings().clearErrorItemsJobEnabled">
                {{ 'components.generalSettings.jobs.clearOldErrors' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="clearFailedLoginsJobEnabled" [disableRipple]="true" [(ngModel)]="settings().clearFailedLoginsJobEnabled">
                {{ 'components.generalSettings.jobs.clearFailedLogins' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="clearQuickCaptchasJobEnabled" [disableRipple]="true" [(ngModel)]="settings().clearQuickCaptchasJobEnabled">
                {{ 'components.generalSettings.jobs.clearCaptchaTokens' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="createArchiveJobEnabled" [disableRipple]="true" [(ngModel)]="settings().createArchiveJobEnabled">
                {{ 'components.generalSettings.jobs.createArchives' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="deleteArchiveJobEnabled" [disableRipple]="true" [(ngModel)]="settings().deleteArchiveJobEnabled">
                {{ 'components.generalSettings.jobs.deleteOldArchives' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="locationsJobEnabled" [disableRipple]="true" [(ngModel)]="settings().locationsJobEnabled">
                {{ 'components.generalSettings.jobs.fillLocationsTable' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="longPeriodTrendingJobEnabled" [disableRipple]="true" [(ngModel)]="settings().longPeriodTrendingJobEnabled">
                {{ 'components.generalSettings.jobs.calculateLongTrending' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="shortPeriodTrendingJobEnabled" [disableRipple]="true" [(ngModel)]="settings().shortPeriodTrendingJobEnabled">
                {{ 'components.generalSettings.jobs.calculateShortTrending' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="purgeStatusesJobEnabled" [disableRipple]="true" [(ngModel)]="settings().purgeStatusesJobEnabled">
                {{ 'components.generalSettings.jobs.purgeOldStatuses' | translate }}
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="rescheduleActivityPubJobEnabled" [disableRipple]="true" [(ngModel)]="settings().rescheduleActivityPubJobEnabled">
                {{ 'components.generalSettings.jobs.rescheduleFailedActivityPub' | translate }}
            </mat-checkbox>
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>{{ 'components.generalSettings.texts.databaseLoggedEvents' | translate }}</h3>

    <div class="margin-bottom-20 margin-top-20">
        <mat-form-field>
            <mat-label>{{ 'components.generalSettings.texts.eventsToLog' | translate }}</mat-label>
            <mat-select [(value)]="settings().eventsToStore" multiple>
                @for (eventType of eventTypes(); track eventType) {
                    <mat-option [value]="eventType">{{ eventType }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            {{ 'components.generalSettings.help.eventsToLog' | translate }}
        </div>
    </div>

    <button type="submit" matButton="filled" [attr.aria-label]="'common.actions.save' | translate">{{ 'common.actions.save' | translate }}</button>
</form>