<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <h3>Main server settings</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Web title</mat-label>
            <input type="text" matInput name="webTitle" #webTitle="ngModel" [(ngModel)]="settings().webTitle"
                placeholder="Web title" aria-label="Web title" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Web description</mat-label>
            <input type="text" matInput name="webDescription" #webDescription="ngModel" [(ngModel)]="settings().webDescription"
                placeholder="Web description" aria-label="Web description" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Web long description</mat-label>
            <textarea matInput name="webLongDescription" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="10" placeholder="Web long description" #webLongDescription="ngModel" [(ngModel)]="settings().webLongDescription"
                aria-label="Web long description"></textarea>
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Web email</mat-label>
            <input type="text" matInput name="webEmail" #webEmail="ngModel" [(ngModel)]="settings().webEmail"
                placeholder="Web email" aria-label="Web email" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Web thumbnail url</mat-label>
            <input type="text" matInput name="webThumbnail" #webThumbnail="ngModel" [(ngModel)]="settings().webThumbnail"
                placeholder="Web thumbnail ur" aria-label="Web thumbnail ur" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Web languages</mat-label>
            <input type="text" matInput name="webLanguages" #webLanguages="ngModel" [(ngModel)]="settings().webLanguages"
                placeholder="Web languages" aria-label="Web languages" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>CORS orgins</mat-label>
            <input type="text" matInput name="corsOrigin" #corsOrigin="ngModel" [(ngModel)]="settings().corsOrigin"
                placeholder="CORS orgins" aria-label="CORS orgins" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Maximum number of invitations per user</mat-label>
            <input type="text" matInput type="number" name="maximumNumberOfInvitations" #maximumNumberOfInvitations="ngModel" [(ngModel)]="settings().maximumNumberOfInvitations"
                placeholder="Maximum number of invitations" aria-label="Maximum number of invitations" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Maximum number of characters in status</mat-label>
            <input type="text" matInput type="number" name="maxCharacters" #maxCharacters="ngModel" [(ngModel)]="settings().maxCharacters"
                placeholder="Maximum number of characters in status" aria-label="Maximum number of characters in status" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Maximum number of attachments</mat-label>
            <input type="text" matInput type="number" name="maxMediaAttachments" #maxMediaAttachments="ngModel" [(ngModel)]="settings().maxMediaAttachments"
                placeholder="Maximum number of attachments" aria-label="Maximum number of attachments" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Maximum file size</mat-label>
            <input type="text" matInput type="number" name="imageSizeLimit" #imageSizeLimit="ngModel" [(ngModel)]="settings().imageSizeLimit"
                placeholder="Maximum file size" aria-label="Maximum file size" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Delete statuses older than (days)</mat-label>
            <input type="text" matInput type="number" name="statusPurgeAfterDays" #statusPurgeAfterDays="ngModel" [(ngModel)]="settings().statusPurgeAfterDays"
                placeholder="Delete statuses older than (days)" aria-label="Delete statuses older than (days)" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Patreon url</mat-label>
            <input type="text" matInput name="patreonUrl" #patreonUrl="ngModel" [(ngModel)]="settings().patreonUrl"
                placeholder="Patreon url" aria-label="Patreon url" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Mastodon url</mat-label>
            <input type="text" matInput name="mastodonUrl" #mastodonUrl="ngModel" [(ngModel)]="settings().mastodonUrl"
                placeholder="Mastodon url" aria-label="Mastodon url" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            If the instance has its official account on Mastodon, you can define its address here.
            If the Vernissage instance address is also provided on Mastodon, there will be information
            indicating that the account has been verified by Mastodon.
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Images url</mat-label>
            <input type="text" matInput name="imagesUrl" #imagesUrl="ngModel" [(ngModel)]="settings().imagesUrl"
                placeholder="Images url" aria-label="Images url" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            If you have a CDN configured, you can override the default image URL generated
            based on the S3 bucket name and address.
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Images quality</mat-label>
            <input type="text" matInput type="number" name="imageQuality" #imageQuality="ngModel" [(ngModel)]="settings().imageQuality"
                placeholder="Images quality" aria-label="Images quality" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            Determines the quality of images saved and processed by the system after upload
            (e.g., for thumbnail generation). Recommended value: 85.
        </div>
    </div>

    <div>
        <mat-checkbox name="showNews" color="primary" [disableRipple]="true" [(ngModel)]="settings().showNews">
            Show 'News' menu item for signed in users
        </mat-checkbox>
    </div>

    <div>
        <mat-checkbox name="showNewsForAnonymous" color="primary" [disableRipple]="true" [(ngModel)]="settings().showNewsForAnonymous">
            Show 'News' menu item for anonymous users
        </mat-checkbox>
    </div>

    <div class="margin-bottom-20">
        <mat-checkbox name="showSharedBusinessCards" color="primary" [disableRipple]="true" [(ngModel)]="settings().showSharedBusinessCards">
            Show 'Shared business cards' menu item
        </mat-checkbox>
    </div>

    <mat-divider></mat-divider>
    <h3>Default accounts</h3>

    <div class="margin-bottom-30">
        <app-user-selector name="webContactUserId" label="Web contact user id" [(selectedUser)]="webContactUser"></app-user-selector>
    </div>

    <div class="margin-bottom-30">
        <app-user-selector name="systemDefaultUserId" label="Default system user id" [(selectedUser)]="systemDefaultUser"></app-user-selector>
    </div>

    <mat-divider></mat-divider>
    <h3>Financial support</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Total cost</mat-label>
            <input type="number" matInput name="totalCost" #totalCost="ngModel" [(ngModel)]="settings().totalCost"
                placeholder="Total cost" aria-label="Total cost" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Users support</mat-label>
            <input type="number" matInput name="usersSupport" #usersSupport="ngModel" [(ngModel)]="settings().usersSupport"
                placeholder="Users support" aria-label="Users support" />
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h3>Anonymous access</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="showLocalTimelineForAnonymous" color="primary" [disableRipple]="true" [(ngModel)]="settings().showLocalTimelineForAnonymous">
                Show local timeline for anonymous user
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="showTrendingForAnonymous" color="primary" [disableRipple]="true" [(ngModel)]="settings().showTrendingForAnonymous">
                Show trending for anonymous user
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="showEditorsChoiceForAnonymous" color="primary" [disableRipple]="true" [(ngModel)]="settings().showEditorsChoiceForAnonymous">
                Show editor's statuses choice for anonymous user
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="showEditorsUsersChoiceForAnonymous" color="primary" [disableRipple]="true" [(ngModel)]="settings().showEditorsUsersChoiceForAnonymous">
                Show editor's users choice for anonymous user
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="showHashtagsForAnonymous" color="primary" [disableRipple]="true" [(ngModel)]="settings().showHashtagsForAnonymous">
                Show hashtags for anonymous user
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="showCategoriesForAnonymous" color="primary" [disableRipple]="true" [(ngModel)]="settings().showCategoriesForAnonymous">
                Show categories for anonymous user
            </mat-checkbox>
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>Registrations</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="isRegistrationOpened" color="primary" [disableRipple]="true" [(ngModel)]="settings().isRegistrationOpened">
                Is registration opened
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="isRegistrationByApprovalOpened" color="primary" [disableRipple]="true" [disabled]="settings().isRegistrationOpened" [(ngModel)]="settings().isRegistrationByApprovalOpened">
                Is registration by approval opened
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox name="isRegistrationByInvitationsOpened" color="primary" [disableRipple]="true" [disabled]="settings().isRegistrationOpened" [(ngModel)]="settings().isRegistrationByInvitationsOpened">
                Is registration by invitations opened
            </mat-checkbox>
        </div>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            Invitation-based registration and registration by approval only work when registration for all users is disabled.
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>Captcha</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="isQuickCaptchaEnabled" color="primary" [disableRipple]="true" [disabled]="!settings().isRegistrationOpened" [(ngModel)]="settings().isQuickCaptchaEnabled">
                Is QuickCaptcha enabled (internal captcha)
            </mat-checkbox>
            <div class="text-muted fs-90 margin-left-10 margin-top-5">
                This CAPTCHA is implemented internally and does not communicate with any external services, ensuring complete privacy for users.
                Captcha is shown only when registration is open for all new users.
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>Email server</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Email hostname</mat-label>
            <input type="text" matInput name="emailHostname" #emailHostname="ngModel" [(ngModel)]="settings().emailHostname"
                placeholder="Email hostname" aria-label="Email hostname" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Email port</mat-label>
            <input type="text" matInput type="number" name="emailPort" #emailPort="ngModel" [(ngModel)]="settings().emailPort"
                placeholder="Email port" aria-label="Email port" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Email username</mat-label>
            <input type="text" matInput name="emailUserName" #emailUserName="ngModel" [(ngModel)]="settings().emailUserName"
                placeholder="Email username" aria-label="Email username" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Email password</mat-label>
            <input type="text" matInput name="emailPassword" #emailPassword="ngModel" [(ngModel)]="settings().emailPassword"
                placeholder="Email password" aria-label="Email password" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Email from address</mat-label>
            <input type="text" matInput name="emailFromAddress" #emailFromAddress="ngModel" [(ngModel)]="settings().emailFromAddress"
                placeholder="Email from address" aria-label="Email from address" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Email from name</mat-label>
            <input type="text" matInput name="emailFromName" #emailFromName="ngModel" [(ngModel)]="settings().emailFromName"
                placeholder="Email from name" aria-label="Email from name" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Email secure method</mat-label>
            <mat-select [(value)]="settings().emailSecureMethod">
                <mat-option value="none">None</mat-option>
                <mat-option value="ssl">SSL</mat-option>
                <mat-option value="startTls">Start TLS</mat-option>
                <mat-option value="startTlsWhenAvailable">Start TLS when available</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h3>Artificial Inteligence</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="isOpenAIEnabled" color="primary" [disableRipple]="true" [(ngModel)]="settings().isOpenAIEnabled">
                Is OpenAPI enabled
            </mat-checkbox>
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>OpenAI secure key</mat-label>
            <input type="text" matInput name="openAPIKey" #openAPIKey="ngModel" [(ngModel)]="settings().openAIKey"
                placeholder="OpenAI key" aria-label="OpenAI key" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>OpenAI model</mat-label>
            <input type="text" matInput name="openAPIModel" #openAPIModel="ngModel" [(ngModel)]="settings().openAIModel"
                placeholder="OpenAI model" aria-label="OpenAI model" />
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h3>WebPush notifications</h3>

    <div class="margin-bottom-20">
        <div>
            <mat-checkbox name="isWebPushEnabled" color="primary" [disableRipple]="true" [(ngModel)]="settings().isWebPushEnabled">
                Are WebPush notifications enabled
            </mat-checkbox>
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>WebPush service endpoint</mat-label>
            <input type="text" matInput name="webPushEndpoint" #webPushEndpoint="ngModel" [(ngModel)]="settings().webPushEndpoint"
                placeholder="WebPush service endpoint" aria-label="WebPush service endpoint" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>WebPush service secret key</mat-label>
            <input type="text" matInput name="webPushSecretKey" #webPushSecretKey="ngModel" [(ngModel)]="settings().webPushSecretKey"
                placeholder="WebPush service secret key" aria-label="WebPush service secret key" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>WebPush Vapid subject</mat-label>
            <input type="text" matInput name="webPushVapidSubject" #webPushVapidSubject="ngModel" [(ngModel)]="settings().webPushVapidSubject"
                placeholder="WebPush Vapid subject" aria-label="WebPush Vapid subject" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>WebPush Vapid public key</mat-label>
            <input type="text" matInput name="webPushVapidPublicKey" #webPushVapidPublicKey="ngModel" [(ngModel)]="settings().webPushVapidPublicKey"
                placeholder="WebPush Vapid public key" aria-label="WebPush Vapid public key" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>WebPush Vapid private key</mat-label>
            <input type="text" matInput name="webPushVapidPrivateKey" #webPushVapidPrivateKey="ngModel" [(ngModel)]="settings().webPushVapidPrivateKey"
                placeholder="WebPush Vapid priavte key" aria-label="WebPush Vapid priavte key" />
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h3>Privacy policy</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Privacy policy update date</mat-label>
            <input type="text" matInput name="privacyPolicyUpdatedAt" #privacyPolicyUpdatedAt="ngModel" [(ngModel)]="settings().privacyPolicyUpdatedAt"
                placeholder="Privacy policy update date" aria-label="Privacy policy update date" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Privacy policy content</mat-label>
            <textarea matInput name="privacyPolicyContent" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="20" placeholder="Privacy policy content" #privacyPolicyContent="ngModel" [(ngModel)]="settings().privacyPolicyContent"
                aria-label="Privacy policy content"></textarea>
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            Markdown syntax is supported, and you can use three macros that will be replaced on the page: {{'{{email}}, {{hostname}}, {{rules}}'}}.
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>Terms of Service</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Terms of Service update date</mat-label>
            <input type="text" matInput name="termsOfServiceUpdatedAt" #termsOfServiceUpdatedAt="ngModel" [(ngModel)]="settings().termsOfServiceUpdatedAt"
                placeholder="Terms of Service update date" aria-label="Terms of Service update date" />
        </mat-form-field>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Terms of Service content</mat-label>
            <textarea matInput name="termsOfServiceContent" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="20" placeholder="Terms of Service content" #termsOfServiceContent="ngModel" [(ngModel)]="settings().termsOfServiceContent"
                aria-label="Terms of Service content"></textarea>
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            Markdown syntax is supported, and you can use three macros that will be replaced on the page: {{'{{email}}, {{hostname}}, {{rules}}'}}.
        </div>
    </div>

    <mat-divider></mat-divider>
    <h3>Custom styles</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>HTTP path to custom CSS file</mat-label>
            <input type="text" matInput name="customFileStyle" #customFileStyle="ngModel" [(ngModel)]="settings().customFileStyle"
                placeholder="HTTP path to custom CSS file" aria-label="HTTP path to custom CSS file" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            The file should be located on the same domain as the hosted application; otherwise,
            it may be blocked due to CORS security restrictions.
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Inline custom CSS styles</mat-label>
            <textarea matInput name="customInlineStyle" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="20" placeholder="Inline custom CSS styles" #customInlineStyle="ngModel" [(ngModel)]="settings().customInlineStyle"
                aria-label="Inline custom CSS styles"></textarea>
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h3>Custom JavaScript</h3>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>HTTP path to custom JavaScript file</mat-label>
            <input type="text" matInput name="customFileScript" #customFileScript="ngModel" [(ngModel)]="settings().customFileScript"
                placeholder="HTTP path to custom JavaScript file" aria-label="HTTP path to custom JavaScript file" />
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            The file should be located on the same domain as the hosted application; otherwise,
            it may be blocked due to CORS security restrictions.
        </div>
    </div>

    <div class="margin-bottom-20">
        <mat-form-field appearance="outline">
            <mat-label>Inline custom JavaScript</mat-label>
            <textarea matInput name="customInlineScript" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="20" placeholder="Inline custom JavaScript" #customInlineScript="ngModel" [(ngModel)]="settings().customInlineScript"
                aria-label="Inline custom JavaScript"></textarea>
        </mat-form-field>
    </div>


    <mat-divider></mat-divider>
    <h3>Database logged events</h3>

    <div class="margin-bottom-20 margin-top-20">
        <mat-form-field>
            <mat-label>Events to log</mat-label>
            <mat-select [(value)]="settings().eventsToStore" multiple>
                @for (eventType of eventTypes(); track eventType) {
                    <mat-option [value]="eventType">{{ eventType }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <div class="text-muted fs-90 margin-left-10 margin-top-5">
            Selected events will be stored in the database. They should only be enabled when debugging an issue,
            as they impact both application performance and database size, given that their volume can be significant.
        </div>
    </div>

    <button type="submit" mat-raised-button color="primary" aria-label="Save">Save</button>
</form>