h1 {
    margin: 0;
}

.more-button {
    padding: 0;
  
    .material-symbols-outlined {
      margin-top: 4px;
    }
  }

.user-avatar {
  display: inline-flex;
  text-decoration: none;
}

.user-name-link a,
.name,
.email {
  width: 100%;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  display: block;
}

.mat-column-userName {
  white-space: normal;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0;
}
