.user-popover {
    max-width: min(640px, calc(100vw - 16px));
    margin-top: 0;

    background-color: rgb(255, 255, 255, 0.95);
}

.user-avatar {
    display: inline-flex;
    text-decoration: none;
}

:host-context(.dark-theme) {
    .user-popover {
        background-color: rgb(40, 40, 40, 0.95);
    }
}
