@if (user) {
    <mat-card class="user-popover" appearance="outlined">
        <mat-card-content>
            <div class="flex-row flex-space-between gap-16">
                <div class="flex-row gap-8">
                    <div>
                        <app-avatar [user]="user" [size]="avatarSize.huge"></app-avatar>
                    </div>
                    <div>
                        <div [ngClass]="{ 'flex-row': !isHandset, 'flex-column': isHandset }">
                            <div><a [routerLink]="[ '/@' + user.userName ]" class="margin-right-5 fw-600">{{ userDisplayService.displayName(user) }}</a></div>
                            <div class="fw-400 fs-90 text-muted">&#64;{{ user.userName }}</div>
                            @if (userDisplayService.verifiedUrl(user)) {
                                <div class="verification-badge text-success">
                                    <mat-icon [inline]="true" class="fill-symbol verification-icon">check</mat-icon>
                                    <span [innerHTML]="userDisplayService.verifiedUrl(user)" class="green-link"></span>
                                </div>
                            }
                        </div>

                        <div class="bio" [innerHTML]="user.bioHtml"></div>
                        <div class="fw-300 fs-90">
                            <span class="margin-right-15"><span class="fw-500">{{ user.statusesCount }}</span> Posts</span>
                            <span class="margin-right-15"><span class="fw-500">{{ user.followersCount }}</span> Followers</span>
                            <span><span class="fw-500">{{ user.followingCount }}</span> Following</span>
                        </div>
                    </div>
                </div>

                @if (relationship) {
                    <app-follow-buttons-section
                        [user]="user"
                        [relationship]="relationship"
                        [singleButton]="true">
                    </app-follow-buttons-section>
                }
            </div>
        </mat-card-content>
    </mat-card>
}