<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>{{ title() }}</div>
    <div mat-dialog-content>

        @if (showLegend()) {
            <div class="text-muted margin-bottom-20">
                <small>
                    Users from this domain cannot follow you. Their posts will not appear in your local timeline,
                    and your posts are not delivered directly to them. However, they may still see your posts
                    if a third party they follow boosts them.
                </small>
            </div>
        }

        <div class="margin-bottom-20 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Domain</mat-label>
                <input type="text" matInput name="domain" [(ngModel)]="domain" #domainInput="ngModel" aria-label="Email" disabled required appMaxLength="500" />

                @if (domainInput.invalid && domainInput.errors?.required) {
                    <mat-error>Enter domain.</mat-error>
                }

                @if (domainInput.invalid && domainInput.errors?.appMaxLength) {
                    <mat-error>Domain is too long.</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="margin-bottom-20">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Reason</mat-label>
                <input type="text" matInput name="reason" [(ngModel)]="reason" #reasonInput="ngModel" aria-label="Email" appMaxLength="500" />

                @if (reasonInput.invalid && reasonInput.errors?.appMaxLength) {
                    <mat-error>Reason is too long.</mat-error>
                }
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button matButton="text" type="button" (click)="onNoClick()">Cancel</button>
        <button matButton="filled" type="submit" cdkFocusInitial>Save</button>
    </div>
</form>