.photo-margin-top {
    height: 20px;
    background-color: #202020;
}

.photo-margin-bottom {
    height: 15px;
    background-color: #202020;
}

.photo-container {
    width: 100%;
    background-color: #202020;

    .icon {
        color: white;
        text-align: center;
        width: 40px;;
        display:table-cell;
        vertical-align: middle;
        cursor: pointer;
    }

    .custom-gallery {
        background-color: #202020;
        max-height: 600px;
    }

    .custom-gallery-browser {
        width: calc(100vw - 80px);
    }

    img {
        display: block;
        height: 100%;
        width: 100%;
        max-height: 600px;
        object-fit: contain;
    }
}

.photo-container-table {
    display:table;
}

.category {
    mat-icon {
        transform: scale(1.6);
        opacity: 0.8;
    }

    .category-label {
        font-weight: 600;
        vertical-align: top;
    } 
}

.location {
    mat-icon {
        transform: scale(1.6);
        opacity: 0.8;
    }

    .location-label {
        vertical-align: top;
    } 
}

.exif {
    mat-icon {
        transform: scale(1.6);
        opacity: 0.8;
    }

    .exif-label {
        vertical-align: top;
    }
}

.alt {
    mat-icon {
        transform: scale(1.6);
        opacity: 0.8;
    }

    .alt-label {
        font-style: italic;
        vertical-align: top;
    }
}

.properties {
    display: flex;
    align-items: center;
    font-weight: 300;

    mat-icon {
        transform: scale(0.75);
    }
}

.comments {
    .favourited {
        transform: scale(0.8);
    }
}

.replies {
    padding-left: 40px;
}