<div *ngIf="mainStatus && isReady" @fadeIn>
    <div class="photo-margin-top"></div>
    <div class="photo-container" [ngClass]="{ 'photo-container-table': showContextArrows() }">
        <div *ngIf="showContextArrows()" class="icon" (click)="onBackClick()">
            <mat-icon *ngIf="!hideLeftArrow">arrow_back_ios</mat-icon>
        </div>
        <div class="display-inline">
            <ng-container *ngIf="images">
                <ng-container *ngIf="images.length === 1">
                    <div [ngClass]="{ 'photo-image-container-fixed': !isHandset }">
                        <img [src]="images[0].data?.src" />
                    </div>
                </ng-container>
                <ng-container *ngIf="images.length > 1">
                    <gallery
                        class="custom-gallery"
                        [ngClass]="{ 'custom-gallery-browser': showContextArrows() }"
                        [items]="images"
                        [dots]="true"
                        [thumb]="false"
                        [counter]="false"
                        [nav]="false"
                        [autoHeight]="galleryAutoheight"
                        [dotsSize]="8"
                        (indexChange)="onImageIndexChange($event)">
                    </gallery>
                </ng-container>
            </ng-container>
        </div>
        <div *ngIf="showContextArrows()" class="icon" (click)="onNextClick()">
            <mat-icon *ngIf="!hideRightArrow">arrow_forward_ios</mat-icon>
        </div>
    </div>
    <div class="photo-margin-bottom"></div>

    <div [ngClass]="{ 'padding-30': !isHandset, 'padding-10': isHandset }">
        <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">

            <!-- Left main panel -->
            <mat-card class="flex-grow-2 height-100" appearance="outlined">
                <mat-card-content>

                    <div class="flex-row flex-responsive flex-space-between">
                        <!-- Actions panel -->
                        <div *ngIf="isLoggedIn()">
                            <button *ngIf="!mainStatus.reblogged" mat-icon-button class="margin-right-10" color="primary" matTooltip="Boost" matTooltipPosition="above" aria-label="Boost" (click)="reblog()">
                                <mat-icon>swap_vert</mat-icon>
                            </button>

                            <button *ngIf="mainStatus.reblogged" mat-icon-button class="margin-right-10" color="primary" matTooltip="Unboost" matTooltipPosition="above" aria-label="Unboost" (click)="unreblog()">
                                <mat-icon>swap_vertical_circle</mat-icon>
                            </button>

                            <button *ngIf="!mainStatus.favourited" mat-icon-button class="margin-right-10" color="primary" matTooltip="Like" matTooltipPosition="above" aria-label="Like" (click)="favourite()">
                                <mat-icon>star_border</mat-icon>
                            </button>

                            <button *ngIf="mainStatus.favourited" mat-icon-button class="margin-right-10" color="primary" matTooltip="Unlike" matTooltipPosition="above" aria-label="Unlike" (click)="unfavourite()">
                                <mat-icon>star</mat-icon>
                            </button>

                            <button *ngIf="!mainStatus.bookmarked" mat-icon-button class="margin-right-10" color="primary" matTooltip="Bookmark" matTooltipPosition="above" aria-label="Bookmark" (click)="bookmark()">
                                <mat-icon>bookmark_border</mat-icon>
                            </button>

                            <button *ngIf="mainStatus.bookmarked" mat-icon-button class="margin-right-10" color="primary" matTooltip="Unbookmark" matTooltipPosition="above" aria-label="Unbookmark" (click)="unbookmark()">
                                <mat-icon>bookmark</mat-icon>
                            </button>

                            <button mat-icon-button [matMenuTriggerFor]="menu" class="margin-right-10" color="primary" aria-label="More options">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>swap_vertical_circle</mat-icon>
                                    <span>Boosted by</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>star</mat-icon>
                                    <span>Favourited by</span>
                                </button>
                                <mat-divider></mat-divider>
                                <button mat-menu-item (click)="onReportDialog()">
                                    <mat-icon>warning</mat-icon>
                                    <span>Report</span>
                                </button>
                                <button *ngIf="shoudDisplayDeleteButton()" mat-menu-item (click)="onDeleteStatus()">
                                    <mat-icon>delete_outline</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </div>

                        <!-- Reblog user card -->
                        <app-mini-user-card *ngIf="status?.reblog" [user]="status?.user"></app-mini-user-card>
                    </div>

                    <!-- User card -->
                    <app-user-card [user]="mainStatus.user"></app-user-card>

                    <!-- Note -->
                    <div class="note margin-top-10 margin-bottom-20" [innerHTML]="mainStatus.noteHtml"></div>

                    <!-- Alt text -->
                    <div *ngIf="getAltStatus(currentIndex)" class="flex-row alt margin-bottom-10">
                        <div>
                            <mat-icon class="margin-right-20" inline="true" matTooltip="Alt">remove_red_eye</mat-icon>
                        </div>
                        <div>
                            <span class="alt-label">{{ getAltStatus(currentIndex) }}</span>
                        </div>
                    </div>

                    <!-- Category -->
                    <div *ngIf="mainStatus.category" class="category margin-bottom-10">
                        <mat-icon class="margin-right-20" inline="true" matTooltip="Category">loyalty</mat-icon>
                        <span class="category-label">{{ mainStatus.category.name }}</span>
                    </div>

                    <!-- Location -->
                    <div *ngIf="getLocation(currentIndex)" class="location margin-bottom-10">
                        <mat-icon class="margin-right-20" inline="true" matTooltip="Place">place</mat-icon>
                        <span *ngIf="getLocation(currentIndex)?.name" class="location-label"><a class="dashed" target="_blank" [href]="getMapsUrl(currentIndex)">{{ getLocation(currentIndex)?.name }}</a> ({{ getLocation(currentIndex)?.country?.name }})</span>
                    </div>

                    <!-- Exif -->
                    <div *ngIf="getExif(currentIndex)" class="exif">
                        <div *ngIf="getExif(currentIndex)?.make || getExif(currentIndex)?.model" class="margin-bottom-10">
                            <mat-icon class="margin-right-20" inline="true" matTooltip="Camera">camera_alt</mat-icon>
                            <span class="exif-label">
                                <span *ngIf="getExif(currentIndex)?.make">{{ getExif(currentIndex)?.make }}</span>&nbsp;<span *ngIf="getExif(currentIndex)?.model">{{ getExif(currentIndex)?.model }}</span>
                            </span>
                        </div>

                        <div *ngIf="getExif(currentIndex)?.lens" class="margin-bottom-10">
                            <mat-icon class="margin-right-20" inline="true" matTooltip="Lens">camera</mat-icon>
                            <span *ngIf="getExif(currentIndex)?.lens" class="exif-label">{{ getExif(currentIndex)?.lens }}</span>
                        </div>

                        <div *ngIf="getExif(currentIndex)?.focalLenIn35mmFilm || getExif(currentIndex)?.fNumber || getExif(currentIndex)?.exposureTime || getExif(currentIndex)?.photographicSensitivity" class="margin-bottom-10">
                            <mat-icon class="margin-right-20" inline="true" matTooltip="Exposure">brightness_7</mat-icon>
                            <span *ngIf="getExif(currentIndex)?.focalLenIn35mmFilm" class="margin-right-15 exif-label">{{ getExif(currentIndex)?.focalLenIn35mmFilm }}mm</span>
                            <span *ngIf="getExif(currentIndex)?.fNumber" class="margin-right-15 exif-label">{{ getExif(currentIndex)?.fNumber }}</span>
                            <span *ngIf="getExif(currentIndex)?.exposureTime" class="margin-right-15 exif-label">{{ getExif(currentIndex)?.exposureTime }}s</span>
                            <span *ngIf="getExif(currentIndex)?.photographicSensitivity" class="margin-right-15 exif-label">ISO {{ getExif(currentIndex)?.photographicSensitivity }}</span>
                        </div>
                    </div>

                    <!-- Status properties -->
                    <div class="flex-row properties text-muted">
                        <div class="margin-right-15" matTooltip="Published date" aria-label="Published date">{{ mainStatus.createdAt | date: 'short' }}</div>
                        <ng-container [ngSwitch]="mainStatus.visibility">
                            <mat-icon class="margin-right-15" *ngSwitchCase="statusVisibility.Public" matTooltip="Public">public</mat-icon>
                            <mat-icon class="margin-right-15" *ngSwitchCase="statusVisibility.Followers" matTooltip="Followers">people</mat-icon>
                            <mat-icon class="margin-right-15" *ngSwitchCase="statusVisibility.Mentioned" matTooltip="Mentioned">person</mat-icon>
                        </ng-container>
                        <mat-icon *ngIf="mainStatus.application" class="margin-right-15" [matTooltip]="mainStatus.application" aria-label="Application">extension</mat-icon>
                        <mat-icon matTooltip="Number of reblogs" aria-label="Number of reblogs">swap_vertical_circle</mat-icon>
                        <div  class="margin-right-15">{{ mainStatus.reblogsCount }}</div>
                        <mat-icon matTooltip="Number of likes" aria-label="Number of likes">star</mat-icon>
                        <div>{{ mainStatus.favouritesCount }}</div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Right comments panel -->
            <mat-card class="height-100" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Comments</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-comment-reply *ngIf="signedInUser" [signedInUser]="signedInUser" [status]="mainStatus"></app-comment-reply>

                    <ng-container *ngIf="(comments?.length ?? 0) > 0">
                        <div *ngFor="let comment of comments">
                            <div class="flex-row gap-8 padding-top-5 comments" [ngClass]="{ 'replies': !comment.showDivider, 'padding-top-15': comment.showDivider }">
                                <div>
                                    <app-avatar [user]="comment.status.user" [size]="avatarSize.medium"></app-avatar>
                                </div>
                                <div>
                                    <div>
                                        <a [routerLink]="[ '/@' + comment.status.user?.userName ]" class="margin-right-5 fw-600">{{ comment.status.user?.name }}</a>
                                        <span class="fw-400 fs-90 text-muted">&#64;{{ comment.status.user?.userName }}</span>
                                    </div>
                                    <div>
                                        {{ comment.status.note }}
                                    </div>
                                </div>
                                <div *ngIf="signedInUser" class="flex-grow-1 text-right">
                                    <mat-icon class="favourited" *ngIf="comment.status.favourited">star</mat-icon>
                                    <button mat-icon-button [matMenuTriggerFor]="menu" class="margin-right-10" color="primary" aria-label="More options">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button *ngIf="!comment.status.favourited" mat-menu-item (click)="favouriteComment(comment.status)">
                                            <mat-icon>star_border</mat-icon>
                                            <span>Like</span>
                                        </button>
                                        <button *ngIf="comment.status.favourited" mat-menu-item (click)="unfavouriteComment(comment.status)">
                                            <mat-icon>star</mat-icon>
                                            <span>Unlike</span>
                                        </button>
                                        <button mat-menu-item (click)="onReply(comment.status)">
                                            <mat-icon>reply</mat-icon>
                                            <span>Reply</span>
                                        </button>
                                        <mat-divider></mat-divider>
                                        <button mat-menu-item>
                                            <mat-icon>warning</mat-icon>
                                            <span>Report</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div *ngIf="replyStatus?.id === comment.status.id" class="text-right padding-top-5">
                                <app-comment-reply [signedInUser]="signedInUser" [status]="comment.status" [showCancel]="true" (close)="onReply(undefined)"></app-comment-reply>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="(comments?.length ?? 0) === 0">
                        <div>There is nothing to read here yet.</div>
                    </ng-container>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>