<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>Category</div>
    <div mat-dialog-content>

        <div class="margin-bottom-20 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Category name</mat-label>
                <input type="text" matInput name="categoryName" [(ngModel)]="name" #nameInput="ngModel" aria-label="Category name" required appMaxLength="100" />
                <mat-error *ngIf="nameInput.invalid && nameInput.errors?.required">Enter category name.</mat-error>
                <mat-error *ngIf="nameInput.invalid && nameInput.errors?.appMaxLength">Name is too long.</mat-error>
            </mat-form-field>
        </div>

        <div class="margin-bottom-20">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Priority</mat-label>
                <input type="number" matInput name="priority" [(ngModel)]="priority" #priorityInput="ngModel" aria-label="Priority" required />
                <mat-error *ngIf="priorityInput.invalid && priorityInput.errors?.required">Enter priority.</mat-error>
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>
        <h3>Hashtags</h3>

        @for (hashtag of hashtags(); track $index; let i = $index) {
            <app-category-hashtag-item [hashtag]="hashtag" [index]="i" (delete)="onHashtagDelete($event)"></app-category-hashtag-item>
        }

        <button type="button" mat-flat-button color="primary" (click)="onNewHashtag()">New hashtag</button>

    </div>
    <div mat-dialog-actions>
        <button type="button" mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="accent" cdkFocusInitial>Save</button>
    </div>
</form>