.rectangle {
    border-radius: 15%;
}

.circle {
    border-radius: 50%;
}

.huge {
    width: 48px;
    height:48px;
}

.big {
    width: 42px;
    height:42px;
}

.medium {
    width: 32px;
    height:32px;
}

.small {
    width: 24px;
    height:24px;
}

.verysmall {
    width: 16px;
    height:16px;
}