<div class="image-container">

    @if (imageSrc(); as imageSrcString) {
        @if (imageSrcString.length > 0) {
            @if (horizontal()) {
                @if (!imageIsLoaded()) {
                    <canvas class="blurhash display-none" #canvas width="32" height="32"></canvas>
                }

                <img class="image-item img-horizontal" [src]="imageSrcString" (load)="onImageLoaded()" alt="Status image" />
            } @else {
                <canvas class="blurhash display-none" #canvas width="32" height="32"></canvas>
                <img
                    class="image-item img-vertical"
                    [ngSrc]="imageSrcString"
                    [width]="width()"
                    [height]="height()"
                    [placeholder]="dataUrl()" [placeholderConfig]="{ blur: false }"
                    [priority]="internalPriority()"
                    (load)="onImageLoaded()"
                    alt="Status image" />
            }
        }
    }

    @if (imageIsLoaded()) {
        @if(showAvatar()) {
            @if (user(); as userObject) {
                <div class="avatar" [satPopoverAnchor]="popover" (mouseenter)="mouseenter.next()" (mouseleave)="mouseleave.next()">
                    <app-mini-user-card [user]="userObject" [showUserName]="false" [whiteLink]="true" [size]="avatarSize.verysmall"></app-mini-user-card>
                </div>

                <sat-popover #popover [autoFocus]="false" verticalAlign="below">
                    <div class="popover" (mouseenter)="mouseenter.next()" (mouseleave)="mouseleave.next()">
                        <app-user-popover [user]="userObject" [relationship]="relationship()"></app-user-popover>
                    </div>
                </sat-popover>
            }
        }

        @if(showAltIcon() && alt()) {
            <div class="alt" [matTooltip]="alt()" matTooltipPosition="above">ALT</div>
        }

        @if (signedInUser() && showFavourites()) {
            <div class="favourite" (click)="favouriteToggle(); $event.preventDefault(); $event.stopPropagation();" (keydown.enter)="favouriteToggle(); $event.preventDefault(); $event.stopPropagation();" tabindex="0">
                @if (isFavourited()) {
                    <mat-icon class="fill-symbol">grade</mat-icon>
                }
                @else {
                    <mat-icon class="outline-symbol">grade</mat-icon>
                }
            </div>
        }
    }
</div>