@if (isReady()) {
    <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">

        <div class="flex-row flex-space-around">
            <div class="terms-container width-100">

                <div class="flex-row flex-align-center flex-space-between margin-bottom-10">
                    <h1>Terms of Service</h1>
                    <div>Last update: {{ termsOfServiceUpdatedAt() }}</div>
                </div>

                <div [innerHTML]="termsOfServiceContent()"></div>
            </div>
        </div>

    </div>
}
