<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>
        <mat-slide-toggle name="alwaysShowNSFW" [disabled]="switchDisabled()" [(ngModel)]="notificationsEnabled" (ngModelChange)="onNotificationsChange()">
        </mat-slide-toggle> {{ 'dialogs.notificationSettings.texts.notificationsSettings' | translate }}
    </div>
    <div mat-dialog-content>
        @if (switchDisabled()) {
            <div class="text-muted">
                {{ 'dialogs.notificationSettings.texts.notificationsDisabledInBrowser' | translate }}
            </div>
        }

        <div class="margin-bottom-20">
            <div>
                <mat-checkbox name="webPushMentionEnabled" [disabled]="switchDisabled() || !notificationsEnabled()" [disableRipple]="true" [(ngModel)]="webPushMentionEnabled">
                    {{ 'dialogs.notificationSettings.texts.youHaveBeenMentioned' | translate }}
                </mat-checkbox>
            </div>
            <div>
                <mat-checkbox name="webPushNewCommentEnabled" [disabled]="switchDisabled() || !notificationsEnabled()" [disableRipple]="true" [(ngModel)]="webPushNewCommentEnabled">
                    {{ 'dialogs.notificationSettings.texts.newCommentAdded' | translate }}
                </mat-checkbox>
            </div>

            <!-- Not supported yet.
            <div>
                <mat-checkbox name="webPushStatusEnabled" [disabled]="switchDisabled() || !notificationsEnabled()" [disableRipple]="true" [(ngModel)]="webPushStatusEnabled">
                    New status
                </mat-checkbox>
            </div>
            -->

            <div>
                <mat-checkbox name="webPushReblogEnabled" [disabled]="switchDisabled() || !notificationsEnabled()" [disableRipple]="true" [(ngModel)]="webPushReblogEnabled">
                    {{ 'dialogs.notificationSettings.texts.boostedStatus' | translate }}
                </mat-checkbox>
            </div>
            <div>
                <mat-checkbox name="webPushFollowEnabled" [disabled]="switchDisabled() || !notificationsEnabled()" [disableRipple]="true" [(ngModel)]="webPushFollowEnabled">
                    {{ 'dialogs.notificationSettings.texts.newFollower' | translate }}
                </mat-checkbox>
            </div>
            <div>
                <mat-checkbox name="webPushFollowRequestEnabled" [disabled]="switchDisabled() || !notificationsEnabled()" [disableRipple]="true" [(ngModel)]="webPushFollowRequestEnabled">
                    {{ 'dialogs.notificationSettings.texts.newFollowRequest' | translate }}
                </mat-checkbox>
            </div>
            <div>
                <mat-checkbox name="webPushFavouriteEnabled" [disabled]="switchDisabled() || !notificationsEnabled()" [disableRipple]="true" [(ngModel)]="webPushFavouriteEnabled">
                    {{ 'dialogs.notificationSettings.texts.newLike' | translate }}
                </mat-checkbox>
            </div>

            <div>
                <mat-checkbox name="webPushUpdateEnabled" [disabled]="switchDisabled() || !notificationsEnabled()" [disableRipple]="true" [(ngModel)]="webPushUpdateEnabled">
                    {{ 'dialogs.notificationSettings.texts.statusUpdated' | translate }}
                </mat-checkbox>
            </div>

            @if (isModerator() || isAdministrator()) {
                <div>
                    <mat-checkbox name="webPushAdminReportEnabled" [disabled]="switchDisabled() || !notificationsEnabled()" [disableRipple]="true" [(ngModel)]="webPushAdminReportEnabled">
                        {{ 'dialogs.notificationSettings.texts.newReport' | translate }}
                    </mat-checkbox>
                </div>
            }

            @if (isAdministrator()) {
                <div>
                    <mat-checkbox name="webPushAdminSignUpEnabled" [disabled]="switchDisabled() || !notificationsEnabled()" [disableRipple]="true" [(ngModel)]="webPushAdminSignUpEnabled">
                        {{ 'dialogs.notificationSettings.texts.newUser' | translate }}
                    </mat-checkbox>
                </div>
            }
        </div>

    </div>
    <div mat-dialog-actions>
        <button matButton="text" type="button" (click)="onNoClick()">{{ 'common.actions.cancel' | translate }}</button>
        <button matButton="filled" type="submit" cdkFocusInitial>{{ 'common.actions.save' | translate }}</button>
    </div>
</form>
