.flex-spacer {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

mat-toolbar {
  border: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 64px !important;
  height: 64px !important;
}

.menu-divider {
    height: 24px;
    margin-left: 12px;
    margin-right: 12px;
}

.avatar {
    border-radius: 50%;
}

a.logo {
    font-family: 'Fleur De Leah', cursive;
    font-size:32px;
    margin-right: 20px;

    img {
        position: relative;
        width: 30px;
        height: 15px;
        left: -18px;
        top: -12px;
    }
}

a:hover.logo,
a:visited.logo,
a:active.logo,
a:link.logo {
    font-style: normal;
    text-decoration: none;
    color: #000;
}