<nav>
    <mat-toolbar color="primary">
        <a class="logo" [routerLink]="['/']">Vernissage</a>
        <ng-container *ngIf="!user">
            <div class="flex-spacer"></div>
            <button *ngIf="isRegistrationEnabled()" mat-stroked-button color="primary" [routerLink]="['/register']" class="margin-right-5">Sign up</button>
            <button mat-button [routerLink]="['/login']">Log in</button>
        </ng-container>
        <ng-container *ngIf="user">
            <div class="flex-spacer"></div>
            <button mat-stroked-button color="primary" class="margin-right-10" [routerLink]="['/upload']">
                <mat-icon>arrow_upward</mat-icon>
                Upload
            </button>

            <button mat-icon-button color="primary" [routerLink]="['/search']" aria-label="Search">
                <mat-icon>search</mat-icon>
            </button>

            <button mat-icon-button color="primary" aria-label="Notifications">
                <mat-icon>notifications_none</mat-icon>
            </button>

            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu with actions">
                    <img class="avatar" [src]="avatarUrl" alt="Avatar">
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item disabled aria-label="Signed in as">
                        <mat-icon>face</mat-icon>
                        <span>{{ user.name }}</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item [routerLink]="['/']" aria-label="Home">
                        <mat-icon>home</mat-icon>
                        <span>Home</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/@' + user.userName]" aria-label="Home">
                        <mat-icon>face</mat-icon>
                        <span>Profile</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item [routerLink]="['/account']" aria-label="Account">
                        <mat-icon>account_circle</mat-icon>
                        <span>Account</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="signOut()" aria-label="Sign out">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Sign out</span>
                    </button>
                </mat-menu>
            </div>
        </ng-container>
    </mat-toolbar>
</nav>
