.flex-spacer {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.avatar {
    border-radius: 50%;
}

a.logo {
    font-family: 'Fleur De Leah', cursive;
    font-size:32px;
    margin-right: 20px;
}

a:hover.logo,
a:visited.logo,
a:active.logo,
a:link.logo {
    font-style: normal;
    text-decoration: none;
    color: #fff;
}