mat-toolbar {
  border: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 64px !important;
  height: 64px !important;
}

.hamburger-menu {
    margin-left: -12px;
    margin-right: 4px;
}

.menu-divider {
    height: 24px;
    margin-left: 12px;
    margin-right: 12px;
}

.avatar {
    border-radius: 50%;
}

a.logo {
    .image {
        position: relative;
        display: inline-block;
        top: 6px;
        width: 116px;
        height: 44px;    
        background-image: url('/assets/logo-light.svg');
        background-size: 116px 44px;
    }

    .beta {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 15px;
        left: -18px;
        top: -22px;
        background-image: url('/assets/beta-light.png');
        background-size: 30px 15px;
    }
}

:host-context(.dark-theme) {
    a.logo {
        .image {
            background-image: url('/assets/logo-dark.svg');
        }

        .beta {
            background-image: url('/assets/beta-dark.png');
        }
    }
}