<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>{{ 'dialogs.instanceBlockedDomain.texts.instanceBlockedDomain' | translate }}</div>
    <div mat-dialog-content>

        <div class="margin-bottom-20 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>{{ 'common.labels.domain' | translate }}</mat-label>
                <input type="text" matInput name="domain" [(ngModel)]="domain" #domainInput="ngModel" [attr.aria-label]="'dialogs.instanceBlockedDomain.attrs.domain' | translate" required appMaxLength="500" />

                @if (domainInput.invalid && domainInput.errors?.required) {
                    <mat-error>{{ 'dialogs.instanceBlockedDomain.texts.enterDomain' | translate }}</mat-error>
                }

                @if (domainInput.invalid && domainInput.errors?.appMaxLength) {
                    <mat-error>{{ 'dialogs.instanceBlockedDomain.texts.domainIsTooLong' | translate }}</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="margin-bottom-20">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>{{ 'common.labels.reason' | translate }}</mat-label>
                <input type="text" matInput name="reason" [(ngModel)]="reason" #reasonInput="ngModel" [attr.aria-label]="'dialogs.instanceBlockedDomain.attrs.reason' | translate" appMaxLength="500" />

                @if (reasonInput.invalid && reasonInput.errors?.appMaxLength) {
                    <mat-error>{{ 'dialogs.instanceBlockedDomain.texts.reasonIsTooLong' | translate }}</mat-error>
                }
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button matButton="text" type="button" (click)="onNoClick()">{{ 'common.actions.cancel' | translate }}</button>
        <button matButton="filled" type="submit" cdkFocusInitial>{{ 'common.actions.save' | translate }}</button>
    </div>
</form>