<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>Instance blocked domain</div>
    <div mat-dialog-content>

        <div class="margin-bottom-20 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Domain</mat-label>
                <input type="text" matInput name="domain" [(ngModel)]="domain" #domainInput="ngModel" aria-label="Email" required appMaxLength="500" />

                @if (domainInput.invalid && domainInput.errors?.required) {
                    <mat-error>Enter domain.</mat-error>
                }

                @if (domainInput.invalid && domainInput.errors?.appMaxLength) {
                    <mat-error>Domain is too long.</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="margin-bottom-20">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Reason</mat-label>
                <input type="text" matInput name="reason" [(ngModel)]="reason" #reasonInput="ngModel" aria-label="Email" appMaxLength="500" />

                @if (reasonInput.invalid && reasonInput.errors?.appMaxLength) {
                    <mat-error>Reason is too long.</mat-error>
                }
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="accent" cdkFocusInitial>Save</button>
    </div>
</form>