<div appLazyLoad (lazyLoad)="lazyLoadData()">
    <div class="hashtag-header">
        <a [routerLink]="['/categories', category().name]">
            <mat-icon>loyalty</mat-icon> {{ category().name }}
        </a>
    </div>
    <div class="images-container">
        <div class="flex-row">
            @if (statuses(); as statusesArray) {
                @if (statusesArray.data) {
                    @for (status of statusesArray.data; track status.id) {
                        <a animate.enter="slow-fade-in" [routerLink]="['/statuses', status.id]" [ariaLabel]="'Status added by: ' + getMainStatus(status).user?.userName" (click)="onStatusClick()">
                            @if (getMainStatus(status).sensitive && !alwaysShowNSFW()) {
                                <div class="blurhash">
                                    <app-blurhash-image [horizontal]="true" [status]="status"></app-blurhash-image>
                                </div>
                            } @else {
                                <div class="image">
                                    <app-image [horizontal]="true" [status]="status"></app-image>
                                </div>
                            }
                        </a>
                    }
                }
            }
        </div>
    </div>
</div>