<mat-form-field appearance="outline" class="width-100">
    <mat-label>Password</mat-label>
    <input type="password"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        matInput
        name="password"
        [(ngModel)]="passwordText"
        (ngModelChange)="passwordChanged()"
        #password="ngModel"
        aria-label="Password"
        required
        appPassword />

    <button matSuffix mat-icon-button aria-label="Toggle password visibility" type="button" (click)="togglePassword()">
        @if (isPasswordVisible()) {
            <mat-icon>visibility_off</mat-icon>
        } @else {
            <mat-icon>visibility</mat-icon>
        }
    </button>

    @if (password.invalid) {
        <mat-error>Your password have to fullfil below requirements.</mat-error>
    }
</mat-form-field>

<div class="flex-row flex-responsive flex-end text-muted icons">
    <div>
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.length) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> Between 8 and 32 characters long</small></div>
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.lowercase) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> One lowercase letter</small></div>
    </div>
    <div class="margin-left-10">
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.uppercase) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> One uppercase letter</small></div>
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.symbol) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> Number or symbol</small></div>
    </div>
</div>
