<mat-form-field appearance="outline" class="width-100">
    <mat-label>Password</mat-label>
    <input matInput [type]="isPasswordVisible ? 'text' : 'password'" name="password" [(ngModel)]="passwordText"
        (ngModelChange)="passwordChanged()" #password="ngModel" aria-label="Password" required appPassword />
    <button matSuffix mat-icon-button aria-label="Toggle password visibility" type="button" (click)="togglePassword()">
        <mat-icon *ngIf="!isPasswordVisible">visibility</mat-icon>
        <mat-icon *ngIf="isPasswordVisible">visibility_off</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">Your password have to fullfil below requirements.</mat-error>
</mat-form-field>

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="end start" class="text-muted icons">
    <div fxFlex="250px" fxFlex.lt-sm="0px">
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.length) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> Between 8 and 32 characters long</small></div>
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.lowercase) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> One lowercase letter</small></div>
    </div>
    <div fxFlex="150px" fxFlex.lt-sm="0px">
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.uppercase) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> One uppercase letter</small></div>
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.symbol) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> Number or symbol</small></div>
    </div>
</div>
