<mat-form-field appearance="outline" class="width-100">
    <mat-label>{{ 'common.labels.password' | translate }}</mat-label>
    <input type="password"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        matInput
        name="password"
        [(ngModel)]="passwordText"
        (ngModelChange)="passwordChanged()"
        #password="ngModel"
        [attr.aria-label]="'components.password.attrs.password' | translate"
        required
        appPassword />

    <button matSuffix matIconButton [attr.aria-label]="'components.password.attrs.togglePasswordVisibility' | translate" type="button" (click)="togglePassword()">
        @if (isPasswordVisible()) {
            <mat-icon>visibility_off</mat-icon>
        } @else {
            <mat-icon>visibility</mat-icon>
        }
    </button>

    @if (password.invalid) {
        <mat-error>{{ 'components.password.texts.yourPasswordHaveToFullfilBelowRequirements' | translate }}</mat-error>
    }
</mat-form-field>

<div class="flex-row flex-responsive flex-end text-muted icons">
    <div>
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.length) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> {{ 'components.password.texts.between8And32CharactersLong' | translate }}</small></div>
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.lowercase) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> {{ 'components.password.texts.oneLowercaseLetter' | translate }}</small></div>
    </div>
    <div class="margin-left-10">
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.uppercase) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> {{ 'components.password.texts.oneUppercaseLetter' | translate }}</small></div>
        <div><small><mat-icon inline="true">{{ (password.invalid && password.errors?.appPassword.symbol) ? "radio_button_unchecked" : "radio_button_checked" }}</mat-icon> {{ 'components.password.texts.numberOrSymbol' | translate }}</small></div>
    </div>
</div>
