@if (isResetPasswordMode() || isSubmittingMode()) {
    <div animate.enter="fade-in" class="flex-row flex-center padding-top-30">
        <div class="reset-container margin-left-10 margin-right-10">
            <form name="form" (ngSubmit)="f.form.valid && passwordIsValid() && onSubmit()" #f="ngForm" novalidate>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Set new password</mat-card-title>
                        <mat-card-subtitle>
                            Enter the new password to your account,
                            this page will be available for you only for 10 minutes.
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            <app-password [(passwordText)]="password" (passwordValid)="onPasswordValid($event)" [form]="f"></app-password>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="reset-actions">
                            <button type="button" mat-raised-button [routerLink]="['/login']" aria-label="Cancel">Cancel</button>
                            <button type="submit" mat-raised-button color="primary" aria-label="Send">Send</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
}

@if (isMissingTokenMode()) {
    <div animate.enter="fade-in" class="flex-row flex-center padding-top-30">
        <div class="reset-container">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon inline="true" class="vertical-align-bottom">error</mat-icon>
                        Error!
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Missing mandatory information. Are you sure that you opened page from email that we send to you?
                </mat-card-content>
            </mat-card>
        </div>
    </div>
}

@if (isSuccessMode()) {
    <div animate.enter="fade-in" class="flex-row flex-center padding-top-30">
        <div class="reset-container">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon inline="true" class="vertical-align-bottom">check_circle</mat-icon>
                        Password has been changed
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Your password has been changed.
                    You can try to <a routerLink="/login">login</a> to the system now.
                </mat-card-content>
            </mat-card>
        </div>
    </div>
}