@if (isResetPasswordMode() || isSubmittingMode()) {
    <div animate.enter="fade-in" class="flex-row flex-center padding-top-30">
        <div class="reset-container margin-left-10 margin-right-10">
            <form name="form" (ngSubmit)="f.form.valid && passwordIsValid() && onSubmit()" #f="ngForm" novalidate>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ 'pages.resetPassword.form.title' | translate }}</mat-card-title>
                        <mat-card-subtitle>
                            {{ 'pages.resetPassword.form.subtitle' | translate }}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            <app-password [(passwordText)]="password" (passwordValid)="onPasswordValid($event)" [form]="f"></app-password>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="reset-actions">
                            <button type="button" matButton="text" [routerLink]="['/login']" [attr.aria-label]="'common.actions.cancel' | translate">{{ 'common.actions.cancel' | translate }}</button>
                            <button type="submit" matButton="filled" [attr.aria-label]="'common.actions.send' | translate">{{ 'common.actions.send' | translate }}</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
}

@if (isMissingTokenMode()) {
    <div animate.enter="fade-in" class="flex-row flex-center padding-top-30">
        <div class="reset-container">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon inline="true" class="vertical-align-bottom">error</mat-icon>
                        {{ 'pages.resetPassword.missingToken.title' | translate }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{ 'pages.resetPassword.missingToken.description' | translate }}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
}

@if (isSuccessMode()) {
    <div animate.enter="fade-in" class="flex-row flex-center padding-top-30">
        <div class="reset-container">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon inline="true" class="vertical-align-bottom">check_circle</mat-icon>
                        {{ 'pages.resetPassword.success.title' | translate }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{ 'pages.resetPassword.success.descriptionPrefix' | translate }}
                    {{ 'pages.resetPassword.success.descriptionMiddle' | translate }} <a routerLink="/login">{{ 'pages.resetPassword.success.loginLink' | translate }}</a> {{ 'pages.resetPassword.success.descriptionSuffix' | translate }}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
}
