.notifications-container {
    max-width: 640px;
    width: 100%;

    h1 {
        margin-bottom: 0;
    }

    .notification-wrapper {
        display: flex;
        gap: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    
        .notification-display-name {
            display: flex;
            gap: 10px;
            flex: 1 1 auto;
            overflow: hidden;

            .user {
                margin-top: 6px;

                .icon {
                    position: relative;
                    top: -10px;
                    margin-right: 4px;
                }
            }

            .fullname {
                line-height: 16px;
            }

            .username {
                line-height: 16px;
            }
        }
    }

    .notifications-card {
        .status {
            img {
                width: 64px;
                height: 64px;
                border-radius: 5%;
                object-fit: cover;
            }
        }

        mat-icon {
            transform: scale(0.7);
        }
    }
}