.notifications-container {
    max-width: 640px;
    width: 100%;

    h1 {
        margin-bottom: 0;
    }

    .notification-wrapper {
        align-items: center;
        display: flex;
        gap: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    
        .notification-display-name {
            display: flex;
            gap: 10px;
            flex: 1 1 auto;
            overflow: hidden;
            align-items: center;
        }
    }

    .notifications-card {
        .status {
            img {
                width: 64px;
                height: 64px;
                border-radius: 5%;
            }
        }

        mat-icon {
            transform: scale(0.7);
        }
    }
}