@if(isReady()) {
    @if (notifications(); as notificationsArray) {
        <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
            <div class="flex-row flex-space-around">
                <div class="notifications-container width-100">
                    <div class="flex-row flex-align-center flex-space-between margin-bottom-20">
                        <div class="flex-row flex-align-center gap-8">
                            <h1>Notifications</h1>
                            <div class="small-icon-button ">
                                <button mat-icon-button (click)="onNotificationsRefresh()" aria-label="Refresh current timeline">
                                    <mat-icon>change_circle</mat-icon>
                                </button>
                            </div>
                        </div>

                        @if (showEnableNotificationButton()) {
                            <button mat-flat-button color="primary" (click)="openNotificationsSettings()">
                                <mat-icon>notifications_none</mat-icon>
                                Settings
                            </button>
                        }
                    </div>

                    <!-- List of notifications. -->
                    @if(notificationsArray.length > 0) {
                        <mat-card class="notifications-card" appearance="outlined">
                            <mat-card-content>
                                @for (notification of notificationsArray; track notification.id) {
                                    <div class="notification-wrapper">
                                        <div class="notification-display-name">
                                            <div class="user">
                                                @if (!isHandsetPortrait()) {
                                                    <span class="text-muted icon" [ngClass]="getNotificationIconClass(notification)">
                                                        <mat-icon class="fill-symbol">{{ getNotificationIcon(notification) }}</mat-icon>
                                                    </span>
                                                }
                                                <app-avatar [user]="notification.byUser" [size]="avatarSize.huge"></app-avatar>
                                            </div>
                                            <div class="overflow-ellipsis">
                                                <span class="text-muted fs-80">{{ notification.createdAt | ago }}</span>
                                                <div class="overflow-ellipsis fullname flex-row flex-responsive">
                                                    <div class="overflow-ellipsis">
                                                        <a [routerLink]="[ '/@' + notification.byUser?.userName ]" class="margin-right-5 fw-600">{{ notification.byUser?.name }}</a>
                                                    </div>
                                                    <div class="overflow-ellipsis">
                                                        <span class="text-muted">{{ getNotificationText(notification) }} </span>
                                                    </div>
                                                </div>
                                                @if (!isHandsetPortrait()) {
                                                    <div class="fw-400 fs-90 text-muted overflow-ellipsis username">&#64;{{ notification.byUser?.userName }}</div>
                                                }
                                            </div>
                                        </div>

                                        @if (notification.mainStatus && getAttachmentUrl(notification.mainStatus)) {
                                            <div class="status">
                                                <a [routerLink]="['/statuses', notification.mainStatus.id]">
                                                    <img [src]="getAttachmentUrl(notification.mainStatus)" class="" [alt]="getAttachmentAlt(notification.mainStatus) ?? 'Status image'" />
                                                </a>
                                            </div>
                                        }
                                        @else if (notification.status && getAttachmentUrl(notification.status)) {
                                            <div class="status">
                                                <a [routerLink]="['/statuses', notification.status.id]">
                                                    <img [src]="getAttachmentUrl(notification.status)" class="" [alt]="getAttachmentAlt(notification.status) ?? 'Status image'" />
                                                </a>
                                            </div>
                                        }

                                        @if (notification.notificationType === notificationType.AdminReport) {
                                            <button mat-stroked-button [routerLink]="['/reports']">Reports</button>
                                        }
                                    </div>
                                }

                                @if(showLoadMore()) {
                                    <div class="flex-row flex-space-around">
                                        <button mat-button (click)="onLoadMore()">Load more...</button>
                                    </div>
                                }
                            </mat-card-content>
                        </mat-card>
                    }

                    <!-- No results found. -->
                    @if (notificationsArray.length === 0) {
                        <div>
                            No results found.
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}