@if (isReady()) {
    @if (articles(); as articlesArray) {
        <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
            <div class="flex-row flex-space-around">
                <div class="news-container width-100">
                    <section>
                        <h1>
                            <div>News</div>
                            @if (!isHandset()) {
                                <div class="fs-60 text-muted">Stay updated with our latest posts.</div>
                            }
                        </h1>
                    </section>

                    @if (articlesArray.data.length > 0) {
                        @for (article of articlesArray.data; track article) {
                            <mat-card class="margin-bottom-10" appearance="outlined">
                                <mat-card-header>
                                    @if (article.title; as inlineTitle) {
                                        <mat-card-title>
                                            <a class="dashed" [routerLink]="['/news', article.id]">{{ inlineTitle }}</a>
                                        </mat-card-title>
                                    }
                                    @if (article.user; as userObject) {
                                        <mat-card-subtitle>
                                            <app-mini-user-card [user]="userObject"></app-mini-user-card>
                                        </mat-card-subtitle>
                                    }
                                </mat-card-header>
                                <mat-card-content>
                                    <div class="news-text" [innerHTML]="article.bodyHtml"></div>
                                </mat-card-content>
                                <mat-card-footer>
                                    <div class="text-muted fs-90">
                                        {{ article.createdAt | date: 'short' }}
                                    </div>
                                </mat-card-footer>
                            </mat-card>
                        }

                        <mat-paginator
                            (page)="handlePageEvent($event)"
                            [length]="articlesArray.total"
                            [pageIndex]="pageIndex()"
                            [pageSize]="5"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page">
                        </mat-paginator>
                    } @else {
                        <div class="text-muted padding-top-30 text-center" [ngClass]="{ 'padding-left-30 padding-right-30': !isHandset(), 'padding-left-10 padding-right-10': isHandset() }">
                            <h2 class="empty-page">
                                <div class="news"></div>
                                <div>Sadly, there's nothing to see here just yet.</div>
                            </h2>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
