.news-container {
    max-width: 640px;
}

mat-card-footer {
    padding: 0 16px 16px 16px;
}

::ng-deep .news-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;

    img {
        max-width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}