<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>License</div>
    <div mat-dialog-content>

        <div class="margin-bottom-20 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" matInput name="licenseName" [(ngModel)]="name" #nameInput="ngModel" aria-label="License name" required appMaxLength="100" />
                <mat-error *ngIf="nameInput.invalid && nameInput.errors?.required">Enter license name.</mat-error>
                <mat-error *ngIf="nameInput.invalid && nameInput.errors?.appMaxLength">Name is too long.</mat-error>
            </mat-form-field>
        </div>

        <div class="margin-bottom-20">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Code</mat-label>
                <input type="text" matInput name="licenseCode" [(ngModel)]="code" #codeInput="ngModel" aria-label="License code" appMaxLength="50" />
                <mat-error *ngIf="codeInput.invalid && codeInput.errors?.appMaxLength">Code is too long.</mat-error>
            </mat-form-field>
        </div>

        <div class="margin-bottom-20">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput name="licenseDescription" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                    cdkAutosizeMaxRows="10" #descriptionInput="ngModel" [(ngModel)]="description"
                    aria-label="License description"></textarea>
                <mat-error *ngIf="descriptionInput.invalid && descriptionInput.errors?.appMaxLength">Description is too long.</mat-error>
            </mat-form-field>
        </div>

        <div class="margin-bottom-20">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Url</mat-label>
                <input type="text" matInput name="licenseUrl" [(ngModel)]="url" #urlInput="ngModel" aria-label="Url" appMaxLength="500" />
                <mat-error *ngIf="urlInput.invalid && urlInput.errors?.appMaxLength">Url is too long.</mat-error>
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button type="button" mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="accent" cdkFocusInitial>Save</button>
    </div>
</form>