<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>License</div>
    <div mat-dialog-content>

        <div class="margin-bottom-20 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" matInput name="licenseName" [(ngModel)]="name" #nameInput="ngModel" aria-label="License name" required appMaxLength="100" />

                @if (nameInput.invalid && nameInput.errors?.required) {
                    <mat-error>Enter license name.</mat-error>
                }

                @if (nameInput.invalid && nameInput.errors?.appMaxLength) {
                    <mat-error>Name is too long.</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="margin-bottom-20">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Code</mat-label>
                <input type="text" matInput name="licenseCode" [(ngModel)]="code" #codeInput="ngModel" aria-label="License code" appMaxLength="50" />

                @if (codeInput.invalid && codeInput.errors?.appMaxLength) {
                    <mat-error>Code is too long.</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="margin-bottom-20">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput name="licenseDescription" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                    cdkAutosizeMaxRows="10" #descriptionInput="ngModel" [(ngModel)]="description"
                aria-label="License description"></textarea>

                @if (descriptionInput.invalid && descriptionInput.errors?.appMaxLength) {
                    <mat-error>Description is too long.</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="margin-bottom-20">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Url</mat-label>
                <input type="text" matInput name="licenseUrl" [(ngModel)]="url" #urlInput="ngModel" aria-label="Url" appMaxLength="500" />

                @if (urlInput.invalid && urlInput.errors?.appMaxLength) {
                    <mat-error>Url is too long.</mat-error>
                }
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button type="button" mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="accent" cdkFocusInitial>Save</button>
    </div>
</form>