.settings-container {
    max-width: 640px;
}

.settings-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
  
.settings-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}
