@if (isReady()) {
    @if (settings(); as settingsObject) {
        <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
            <div class="flex-row flex-space-around">
                <div class="settings-container width-100">
                    <section>
                        <h1>{{ 'pages.settings.title' | translate }}</h1>
                    </section>

                    <mat-accordion class="settings-headers-align">

                        <!-- General settings panel. -->
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ 'pages.settings.panels.general.title' | translate }}
                                </mat-panel-title>
                                @if (!isHandset()) {
                                    <mat-panel-description>
                                        {{ 'pages.settings.panels.general.description' | translate }}
                                        <mat-icon>dns</mat-icon>
                                    </mat-panel-description>
                                }
                            </mat-expansion-panel-header>
                            <app-general-settings [settings]="settingsObject" [webContactUser]="webContactUser()" [systemDefaultUser]="systemDefaultUser()"></app-general-settings>
                        </mat-expansion-panel>

                        <!-- Instance rules. -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ 'pages.settings.panels.instanceRules.title' | translate }}
                                </mat-panel-title>
                                @if (!isHandset()) {
                                    <mat-panel-description>
                                        {{ 'pages.settings.panels.instanceRules.description' | translate }}
                                        <mat-icon>local_police</mat-icon>
                                    </mat-panel-description>
                                }
                            </mat-expansion-panel-header>
                            <app-instance-rules></app-instance-rules>
                        </mat-expansion-panel>

                        <!-- Domain blocks panel. -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ 'pages.settings.panels.domainBlocks.title' | translate }}
                                </mat-panel-title>
                                @if (!isHandset()) {
                                    <mat-panel-description>
                                        {{ 'pages.settings.panels.domainBlocks.description' | translate }}
                                        <mat-icon>public_off</mat-icon>
                                    </mat-panel-description>
                                }
                            </mat-expansion-panel-header>
                            <app-domain-blocks></app-domain-blocks>
                        </mat-expansion-panel>

                        <!-- Categories. -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ 'pages.settings.panels.categories.title' | translate }}
                                </mat-panel-title>
                                @if (!isHandset()) {
                                    <mat-panel-description>
                                        {{ 'pages.settings.panels.categories.description' | translate }}
                                        <mat-icon>loyalty</mat-icon>
                                    </mat-panel-description>
                                }
                            </mat-expansion-panel-header>
                            <app-category-list></app-category-list>
                        </mat-expansion-panel>

                        <!-- Licenses. -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ 'pages.settings.panels.licenses.title' | translate }}
                                </mat-panel-title>
                                @if (!isHandset()) {
                                    <mat-panel-description>
                                        {{ 'pages.settings.panels.licenses.description' | translate }}
                                        <mat-icon>license</mat-icon>
                                    </mat-panel-description>
                                }
                            </mat-expansion-panel-header>
                            <app-license-list></app-license-list>
                        </mat-expansion-panel>

                        <!-- Home cards. -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ 'pages.settings.panels.homeCards.title' | translate }}
                                </mat-panel-title>
                                @if (!isHandset()) {
                                    <mat-panel-description>
                                        {{ 'pages.settings.panels.homeCards.description' | translate }}
                                        <mat-icon>home</mat-icon>
                                    </mat-panel-description>
                                }
                            </mat-expansion-panel-header>
                            <app-home-cards></app-home-cards>
                        </mat-expansion-panel>

                    </mat-accordion>

                </div>
            </div>
        </div>
    }
}
