<div @fadeIn class="padding-30">
    <h1>Upload a photos</h1>

    <div class="flex-row flex-stretch">
        <div>
            <div class="flex-row flex-wrap gap-10">
                <img *ngFor="let photo of photos; let i = index;" (click)="selectedIndex = i" [src]="photo.photoSrc" alt="Uploaded photo" [ngClass]="{ 'selected': selectedIndex === i }" class="photo-thumbnail" />

                <div class="dropzone" (click)="photoFileUpload.click()">
                    <div class="plus">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M20.889 10.889H13.111V3.11097C13.111 2.4974 12.6136 2 12 2C11.3864 2 10.889 2.4974 10.889 3.11097V10.889H3.11097C2.4974 10.889 2 11.3864 2 12C2 12.6136 2.4974 13.111 3.11097 13.111H10.889V20.889C10.889 21.5026 11.3864 22 12 22C12.6136 22 13.111 21.5026 13.111 20.889V13.111H20.889C21.5026 13.111 22 12.6136 22 12C22 11.3864 21.5026 10.889 20.889 10.889Z" fill="#0870D1"></path></svg>
                    </div>
                    <input hidden name="avatar" type="file" #photoFileUpload accept="image/*" (change)="onPhotoSelected($event)">
                </div>
            </div>
        </div>

        <mat-card class="margin-bottom-20" appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    Status details
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-stepper orientation="vertical" [(selectedIndex)]="selectedIndex" #stepper>
                    <mat-step *ngFor="let photo of photos; let i = index;">
                        <ng-template matStepLabel>Image data #{{ i + 1 }}</ng-template>
                        <app-upload-photo [photo]="photo" [index]="i"></app-upload-photo>
                        <div class="margin-top-15 flex-row flex-space-between">
                            <div>
                                <button *ngIf="i > 0" class="margin-right-10" mat-stroked-button matStepperPrevious>Back</button>
                                <button mat-flat-button color="primary" matStepperNext>Next</button>
                            </div>
                            <div>
                                <button mat-flat-button color="warn" (click)="onPhotoDelete(photo)">Delete</button>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step>
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <ng-template matStepLabel>Status</ng-template>
                            <div class="flex-col gap-0 margin-top-5">
                                <mat-form-field appearance="outline">
                                    <mat-label>Text</mat-label>
                                    <textarea matInput name="statusText" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                                              cdkAutosizeMaxRows="10"  #statusInput="ngModel" [(ngModel)]="statusText" required
                                              aria-label="Status" appMaxLength="500"></textarea>
                                    <mat-error *ngIf="statusInput.invalid && statusInput.errors?.appMaxLength">Too long status.</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Category</mat-label>
                                    <mat-select required [(value)]="categoryId">
                                        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Visibility</mat-label>
                                    <mat-select required [(value)]="visibility">
                                        <mat-option [value]="StatusVisibility.Public">Everyone</mat-option>
                                        <mat-option [value]="StatusVisibility.Followers">Followers only</mat-option>
                                        <mat-option [value]="StatusVisibility.Mentioned">Mentioned people only</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-checkbox name="commentsDisabled" color="primary" [disableRipple]="true" [(ngModel)]="commentsDisabled">Disable comments</mat-checkbox>
                                <mat-checkbox name="isSensitive" color="primary" [disableRipple]="true" [(ngModel)]="isSensitive">Sensitive/NSFW media</mat-checkbox>

                                <mat-form-field appearance="outline" class="margin-top-10" >
                                    <mat-label>Content warning</mat-label>
                                    <input [disabled]="!isSensitive" matInput name="status" [(ngModel)]="contentWarning" type="text" aria-label="Content warning" />
                                </mat-form-field>
                            </div>
                            <div>
                                <button class="margin-right-10" mat-stroked-button matStepperPrevious>Back</button>
                                <button mat-flat-button color="primary" [disabled]="!allPhotosUploaded()" matStepperNext>Upload</button>
                            </div>
                        </form>
                    </mat-step>
                </mat-stepper>

            </mat-card-content>
        </mat-card>
    </div>
</div>
