<div @fadeIn [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
    <h1>
        <div>Upload photos</div>
        @if (!isHandset()) {
            <div class="fs-60 text-muted">
                Currently supported file formats are JPEG and PNG. The maximum file size is {{ maxFileSizeString() }}.
                The recommended image resolution is 4K (3840 x 2160).
            </div>
        }
    </h1>

    <div class="flex-row flex-responsive flex-stretch gap-10">
        @if (emailHasBeenVerified()) {
            <div class="padding-bottom-10">
                <div class="flex-row flex-wrap gap-10">
                    <div cdkDropList class="example-list" cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">
                        @for (photo of photos(); track photo.uuid; let i = $index) {
                            <div class="display-inline-block" cdkDrag>
                                <img (click)="onImageClick(i)" (keydown.enter)="onImageClick(i)" tabindex="0" [src]="photo.photoSrc()" alt="Uploaded photo" [ngClass]="{ 'selected': selectedIndex() === i, 'small': isHandset() }" class="photo-thumbnail" />
                            </div>
                        }
                    </div>                
                    <div class="dropzone active" [ngClass]="{ 'small': isHandset() }" (click)="photoFileUpload.click()" (keydown.enter)="photoFileUpload.click()" tabindex="0">
                        <div class="plus">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M20.889 10.889H13.111V3.11097C13.111 2.4974 12.6136 2 12 2C11.3864 2 10.889 2.4974 10.889 3.11097V10.889H3.11097C2.4974 10.889 2 11.3864 2 12C2 12.6136 2.4974 13.111 3.11097 13.111H10.889V20.889C10.889 21.5026 11.3864 22 12 22C12.6136 22 13.111 21.5026 13.111 20.889V13.111H20.889C21.5026 13.111 22 12.6136 22 12C22 11.3864 21.5026 10.889 20.889 10.889Z" fill="#0870D1"></path></svg>
                        </div>
                        <input type="file" hidden name="avatar" #photoFileUpload accept="image/png, image/jpeg" (change)="onPhotoSelected($event)">
                    </div>
                </div>
            </div>
        } @else {
            <!-- <mat-card class="margin-bottom-20" appearance="outlined">
                <mat-card-content>

                </mat-card-content>
            </mat-card> -->
            <div class="text-center margin-20">
                To upload photos, please verify your email address. You can resend the confirmation email
                from your <a routerLink="/account">Account</a> page if you haven't received it yet.
                Requiring email verification helps ensure that only legitimate accounts can upload content,
                which improves both security and the overall quality of shared materials.
            </div>
        }

        <mat-card class="margin-bottom-20" appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    Status details
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-stepper orientation="vertical" [(selectedIndex)]="selectedIndex" #stepper>
                    @for (photo of photos(); track $index; let i = $index) {
                        <mat-step>
                            <ng-template matStepLabel>Image data #{{ i + 1 }}</ng-template>
                            <app-upload-photo [photo]="photo" [licenses]="licenses()"></app-upload-photo>
                            <div class="margin-top-15 flex-row flex-space-between">
                                <div>
                                    <button *ngIf="i > 0" class="margin-right-10" mat-stroked-button matStepperPrevious>Back</button>
                                    <button mat-flat-button color="primary" matStepperNext>Next</button>
                                </div>
                                <div>
                                    @if (photo.isDeleting()) {
                                        <mat-spinner class="display-inline-block vertical-align-middle margin-right-10" [diameter]="18"></mat-spinner>
                                    }
                                    <button mat-flat-button color="warn" (click)="onPhotoDelete(photo)" [disabled]="!photo.isUploaded() || photo.isDeleting()">Delete</button>
                                </div>
                            </div>
                        </mat-step>
                    }

                    <mat-step>
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <ng-template matStepLabel>Status</ng-template>
                            <div class="flex-col gap-0 margin-top-5">

                                <div class="flex-row flex-space-between">
                                    <div class="flex-row gap-8">
                                        <button type="button" class="text-template" mat-stroked-button color="primary" (click)="onInsertTemplate()" [disabled]="!statusTextTemplate() || statusTextTemplate()?.length === 0">
                                            <mat-icon>text_snippet</mat-icon>
                                            @if (!isHandset()) {
                                                <span>Use template</span>
                                            }
                                        </button>
                                        <button type="button" class="edit-template" mat-stroked-button color="primary" (click)="onEditTemplate()">
                                            <mat-icon>edit_note</mat-icon>
                                        </button>
                                    </div>
                                    <div>
                                        @if (isOpenAIEnabled()) {
                                            <div class="flex-row flex-end">
                                                @if (hashtagsInProgress()) {
                                                    <mat-spinner class="margin-top-10 margin-right-10" [diameter]="18"></mat-spinner>
                                                }
                                                <button mat-stroked-button color="primary" (click)="onGenerateHashtags()" [disabled]="!allPhotosUploaded() || photos().length === 0 || hashtagsInProgress()">
                                                    <mat-icon>smart_toy</mat-icon> Hashtags
                                                </button>
                                            </div>
                                            <div class="text-right text-muted fs-80 margin-bottom-10">
                                                Feature powered by OpenAI.
                                            </div>
                                        }
                                    </div>
                                </div>

                                <mat-form-field appearance="outline" class="margin-bottom-20">
                                    <mat-label>Text</mat-label>
                                    <textarea
                                        matInput
                                        name="statusText"
                                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="10" 
                                        #statusInput="ngModel"
                                        [(ngModel)]="statusText"
                                        (ngModelChange)="onStatusTextChange()"
                                        required
                                        aria-label="Status"
                                        [appMaxLength]="maxStatusLength().toString()">
                                    </textarea>

                                    @if (!isHandset()) {
                                        <mat-hint class="text-muted" align="start">Use “CamelCase” for hashtags, capitalizing the first letter of each word.</mat-hint>
                                    }

                                    <mat-hint class="text-muted" align="end">{{ statusText().length }}/{{ maxStatusLength() }}</mat-hint>
                                    <mat-error *ngIf="statusInput.invalid && statusInput.errors?.required">Enter status text.</mat-error>
                                    <mat-error *ngIf="statusInput.invalid && statusInput.errors?.appMaxLength">Too long status.</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class=" margin-bottom-20">
                                    <mat-label>Category</mat-label>
                                    <mat-select [(value)]="categoryId">
                                        @for(category of categories(); track category.id) {
                                            <mat-option [value]="category.id">{{ category.name }}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Visibility</mat-label>
                                    <mat-select required [(value)]="visibility">
                                        <mat-option [value]="statusVisibility.Public">Everyone</mat-option>
                                        <mat-option [value]="statusVisibility.Followers">Followers only</mat-option>
                                        <mat-option [value]="statusVisibility.Mentioned">Mentioned people only</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-checkbox name="commentsDisabled" color="primary" [disableRipple]="true" [(ngModel)]="commentsDisabled">Disable comments</mat-checkbox>
                                <mat-checkbox name="isSensitive" color="primary" [disableRipple]="true" [(ngModel)]="isSensitive">Sensitive/NSFW media</mat-checkbox>

                                <mat-form-field appearance="outline" class="margin-top-10" >
                                    <mat-label>Content warning</mat-label>
                                    <input type="text" [disabled]="!isSensitive()" matInput name="status" [(ngModel)]="contentWarning" aria-label="Content warning" />
                                </mat-form-field>
                            </div>
                            <div class="flex-row flex-space-between">
                                <div>
                                    <button class="margin-right-10" mat-stroked-button matStepperPrevious>Back</button>
                                    <button mat-flat-button color="primary" [disabled]="!allPhotosUploaded()" matStepperNext>Upload</button>
                                </div>
                                <div>
                                    @if (isCanceling()) {
                                        <mat-spinner class="display-inline-block vertical-align-middle margin-right-10" [diameter]="18"></mat-spinner>
                                    }
                                    <button type="button" mat-stroked-button (click)="onCancel()" [disabled]="isCanceling()">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </mat-step>
                </mat-stepper>

            </mat-card-content>
        </mat-card>
    </div>
</div>
