@if (isReady()) {
    <div animate.enter="fade-in">

        @if (articles().length > 0) {
            <div [ngClass]="{ 'padding-top-30': !isHandset(), 'padding-left-30': !isHandset(), 'padding-right-30': !isHandset(), 'padding-10': isHandset() }">
                @for (article of articles(); track article) {
                    <app-article-inline [article]="article" (dismiss)="onDismissArticle($event)"></app-article-inline>
                }
            </div>
        }

        <div class="flex-row flex-align-center flex-space-between margin-bottom-10" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
            <h1>
                <div class="flex-row flex-align-center gap-8">
                    <div>{{ 'components.homeSignin.timeline' | translate }}</div>
                    <div class="small-icon-button">
                        <button matIconButton (click)="onTimelineRefresh()" [attr.aria-label]="'components.homeSignin.attrs.refreshCurrentTimeline' | translate">
                            <mat-icon>change_circle</mat-icon>
                        </button>
                    </div>
                </div>

                @if (!isHandset()) {
                    @switch (timeline()) {
                        @case ('private') {
                            <div class="fs-60 text-muted">{{ 'components.homeSignin.texts.privateCollectionOfPhotos' | translate }}</div>
                        }
                        @case ('local') {
                            <div class="fs-60 text-muted">{{ 'components.homeSignin.texts.localCollectionOfPhotos' | translate }}</div>
                        }
                        @case ('global') {
                            <div class="fs-60 text-muted">{{ 'components.homeSignin.texts.federatedCollectionOfPhotos' | translate }}</div>
                        }
                    }
                }
            </h1>

            <section class="small-button-toggle">
                <mat-button-toggle-group [(ngModel)]="timeline" (ngModelChange)="onTimelineChange()" [hideSingleSelectionIndicator]="true" [attr.aria-label]="'components.homeSignin.attrs.timelineType' | translate">

                    @if (isLoggedIn()) {
                        <mat-button-toggle value="private">
                            <mat-icon>person</mat-icon>
                            @if (!isHandset()) {
                                <span> {{ 'common.labels.private' | translate }}</span>
                            }
                        </mat-button-toggle>
                    }

                    <mat-button-toggle value="local"><mat-icon>communities</mat-icon>
                        @if (!isHandset()) {
                            <span> {{ 'common.labels.local' | translate }}</span>
                        }
                    </mat-button-toggle>
                    <mat-button-toggle value="global"><mat-icon>hub</mat-icon>
                        @if (!isHandset()) {
                            <span> {{ 'common.labels.all' | translate }}</span>
                        }
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </section>
        </div>

        @if (statuses(); as statusesArray) {
            <app-gallery [statuses]="statusesArray" [startUrl]="pageUrl"></app-gallery>
        }
    </div>
}