@if (isReady()) {
    <div @fadeIn>

        @if (articles().length > 0) {
            <div [ngClass]="{ 'padding-top-30': !isHandset(), 'padding-left-30': !isHandset(), 'padding-right-30': !isHandset(), 'padding-10': isHandset() }">
                @for (article of articles(); track article) {
                    <app-article-inline [article]="article" (dismiss)="onDismissArticle($event)"></app-article-inline>
                }
            </div>
        }

        <div class="flex-row flex-align-center flex-space-between margin-bottom-10" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
            <h1>
                <div class="flex-row flex-align-center gap-8">
                    <div>Timeline</div>
                    <div class="small-icon-button">
                        <button mat-icon-button (click)="onTimelineRefresh()" aria-label="Refresh current timeline">
                            <mat-icon>change_circle</mat-icon>
                        </button>
                    </div>
                </div>

                @if (!isHandset()) {
                    @switch (timeline()) {
                        @case ('private') { 
                            <div class="fs-60 text-muted">Your personal collection of photos, created based on posts from users you follow.</div>
                        }
                        @case ('local') { 
                            <div class="fs-60 text-muted">A collection of photos created from all posts made by users publishing on this server.</div>
                        }
                        @case ('global') { 
                            <div class="fs-60 text-muted">A collection of photos created from all user-uploaded images that have reached this server.</div>
                        }
                    }
                }
            </h1>

            <section class="small-button-toggle">
                <mat-button-toggle-group [(ngModel)]="timeline" (ngModelChange)="onTimelineChange()" [hideSingleSelectionIndicator]="true" aria-label="Timeline type">

                    @if (isLoggedIn()) {
                        <mat-button-toggle value="private"><mat-icon>person</mat-icon><span *ngIf="!isHandset()"> Private</span></mat-button-toggle>
                    }

                    <mat-button-toggle value="local"><mat-icon>communities</mat-icon><span *ngIf="!isHandset()"> Local</span></mat-button-toggle>
                    <mat-button-toggle value="global"><mat-icon>hub</mat-icon><span *ngIf="!isHandset()"> All</span></mat-button-toggle>
                </mat-button-toggle-group>
            </section>
        </div>

        @if (statuses(); as statusesArray) {
            <app-gallery [statuses]="statusesArray" [startUrl]="pageUrl"></app-gallery>
        }
    </div>
}