app-mini-user-card {
    display: inline-block;
    vertical-align: text-top;
}

dl {
    margin-left: 20px;
}

dd {
    margin: 0;
    font-weight: 200;
}

@media only screen and (min-width: 768px) {
    dd {
        display: inline;
    }
}

dt {
    display: inline-block;
    width: 240px;
    font-weight: 400;
    margin-top: 6px;
}

dd::after {
    content: "";
    display: block;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

.patreon img {
    position: relative;
    top: 3px;
}