@if (isReady()) {
    <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">

        <div class="flex-row flex-align-center flex-space-between margin-bottom-10">
            <h1>{{ 'pages.support.title' | translate }}</h1>
            @if (patreonUrl(); as patreonUrlString) {
                <a class="patreon" matButton="filled" [href]="patreonUrlString" target="_blank">
                    <div class="patreon-img"></div> {{ 'pages.support.actions.supportUs' | translate }}
                </a>
            }
        </div>

        <!-- Other information. -->
        @if (instance(); as instanceObject) {
            @if (instanceObject.longDescription) {
                <div class="description margin-bottom-20" [innerHTML]="instanceObject.longDescription"></div>
            }

            <h3>
                {{ 'pages.support.sections.instanceInformation' | translate }}
            </h3>

            <dl>
                @if (instanceObject.title) {
                    <dt>{{ 'common.labels.title' | translate }}:</dt>
                    <dd>{{ instanceObject.title }}</dd>
                }

                @if (instanceObject.description) {
                    <dt>{{ 'pages.support.instance.description' | translate }}:</dt>
                    <dd>{{ instanceObject.description }}</dd>
                }

                @if (instanceObject.version) {
                    <dt>{{ 'pages.support.instance.apiVersion' | translate }}:</dt>
                    <dd>{{ instanceObject.version }}</dd>
                }

                <dt>{{ 'pages.support.instance.webVersion' | translate }}:</dt>
                <dd>{{ clientVersion }}</dd>

                @if (instanceObject.languages) {
                    <dt>{{ 'pages.support.instance.languages' | translate }}:</dt>
                    <dd>{{ instanceObject.languages.join(',') }}</dd>
                }

                <dt>{{ 'pages.support.instance.maxStatusCharacters' | translate }}:</dt>
                <dd>{{ instanceObject.configuration?.statuses?.maxCharacters ?? 0 }}</dd>

                <dt>{{ 'pages.support.instance.maxMediaAttachments' | translate }}:</dt>
                <dd>{{ instanceObject.configuration?.statuses?.maxMediaAttachments ?? 0 }}</dd>

                <dt>{{ 'pages.support.instance.imageSizeLimit' | translate }}:</dt>
                <dd>{{ getFileSizeString(instanceObject.configuration?.attachments?.imageSizeLimit ?? 0) }}</dd>

                @if (instanceObject.email) {
                    <dt>{{ 'common.labels.email' | translate }}:</dt>
                    <dd>{{ instanceObject.email }}</dd>
                }

                @if (instanceObject.contact) {
                    <dt>{{ 'pages.support.instance.contactAccount' | translate }}:</dt>
                    <dd><app-mini-user-card [user]="instanceObject.contact"></app-mini-user-card></dd>
                }
            </dl>
        }

        @if(totalCost() > 0) {
            <h3>
                {{ 'pages.support.sections.financialSupport' | translate }}
            </h3>
            <dl>
                <dt>{{ 'pages.support.financial.totalCost' | translate }}:</dt>
                <dd>${{ totalCost() }} {{ 'pages.support.financial.perMonth' | translate }}</dd>

                <dt>{{ 'pages.support.financial.communitySupport' | translate }}:</dt>
                <dd>${{ usersSupport() }} {{ 'pages.support.financial.perMonth' | translate }}</dd>
            </dl>
        }

        <h3>
            {{ 'pages.support.sections.healthStatus' | translate }}
        </h3>
        <dl>
            <dt>{{ 'pages.support.health.database' | translate }}:</dt>
            @if (health(); as healthObject) {
                <dd>{{ healthObject.isDatabaseHealthy ? ('pages.support.health.ok' | translate) : ('pages.support.health.error' | translate) }}</dd>
            } @else {
                <dd>{{ 'pages.support.health.checking' | translate }}</dd>
            }

            <dt>{{ 'pages.support.health.redisQueues' | translate }}:</dt>
            @if (health(); as healthObject) {
                <dd>{{ healthObject.isQueueHealthy ? ('pages.support.health.ok' | translate) : ('pages.support.health.error' | translate) }}</dd>
            } @else {
                <dd>{{ 'pages.support.health.checking' | translate }}</dd>
            }

            <dt>{{ 'pages.support.health.storage' | translate }}:</dt>
            @if (health(); as healthObject) {
                <dd>{{ healthObject.isStorageHealthy ? ('pages.support.health.ok' | translate) : ('pages.support.health.error' | translate) }}</dd>
            } @else {
                <dd>{{ 'pages.support.health.checking' | translate }}</dd>
            }

            <dt>{{ 'pages.support.health.webPushService' | translate }}:</dt>
            @if (health(); as healthObject) {
                <dd>{{ healthObject.isWebPushHealthy ? ('pages.support.health.ok' | translate) : ('pages.support.health.error' | translate) }}</dd>
            } @else {
                <dd>{{ 'pages.support.health.checking' | translate }}</dd>
            }
        </dl>

        <h3>
            {{ 'pages.support.sections.helpfulLinks' | translate }}
        </h3>
        <ul>
            <li class="margin-bottom-10"><a [routerLink]="['/terms']">{{ 'pages.support.links.termsOfService' | translate }}</a></li>
            <li class="margin-bottom-10"><a [routerLink]="['/privacy']">{{ 'pages.support.links.privacyPolicy' | translate }}</a></li>
            <li class="margin-bottom-10"><a [routerLink]="['/faq']">{{ 'common.labels.frequentlyAskedQuestions' | translate }}</a></li>
            <li class="margin-bottom-10"><a href="https://github.com/VernissageApp/VernissageServer" target="_blank">{{ 'pages.support.links.sourceCode' | translate }}</a></li>
            <li class="margin-bottom-10"><a href="https://api.vernissage.photos/" target="_blank">{{ 'pages.support.links.apiDocumentation' | translate }}</a></li>
            <li class="margin-bottom-10"><a href="https://github.com/VernissageApp/VernissageServer/issues" target="_blank">{{ 'pages.support.links.reportBug' | translate }}</a></li>

            @if (mastodonUrl(); as mastodonUrlString) {
                <li class="margin-bottom-10"><a [href]="mastodonUrlString" target="_blank">{{ 'pages.support.links.mastodon' | translate }}</a></li>
            }
        </ul>
    </div>
}
