@if (isReady()) {
    @if (invitations(); as invitationsArray) {
        <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
            <div class="flex-row flex-space-around padding-left-10 padding-right-10">
                <div class="width-100">
                    <section class="flex-row flex-space-between flex-align-center margin-bottom-20">
                        <h1>
                            <div>Invitations</div>
                            @if (!isHandset()) {
                                <div class="fs-60 text-muted">Generate and share invitation codes with others to grant access to this server.</div>
                            }
                        </h1>
                        <button type="button" mat-raised-button color="primary" aria-label="Generate invitation" (click)="generate()" [disabled]="!canGenerateNewInvitations()" >Generate code</button>
                    </section>

                    <table mat-table [dataSource]="invitationsArray" class="mat-elevation-z1">

                        <!-- Code Column -->
                        <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef> Code </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button    color="primary" matTooltip="Copy" matTooltipPosition="above" aria-label="Copy" (click)="copy(element.code)">
                                    <mat-icon>file_copy</mat-icon>
                                </button>
                                @if (!element.invited) {
                                    <span>{{ element.code }}</span>
                                } @else {
                                    <span><s>{{ element.code }}</s></span>
                                }
                            </td>
                        </ng-container>

                        <!-- CreatedAt Column -->
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef> Created at </th>
                            <td mat-cell *matCellDef="let element"> {{ element.createdAt |    date: 'short' }} </td>
                        </ng-container>

                        <!-- Invited Column -->
                        <ng-container matColumnDef="invited">
                            <th mat-header-cell *matHeaderCellDef> Invited user </th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.invited) {
                                    <a [routerLink]="['/@' + element.invited.userName ]">&#64;{{ element.invited.userName }}</a>
                                }
                            </td>
                        </ng-container>

                        <!-- Actions Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element" class="text-right">
                                @if (!element.invited) {
                                    <button type="button" mat-raised-button color="accent" aria-label="Delete invitation" (click)="delete(element.id)">Delete</button>
                                }
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
                    </table>

                </div>
            </div>
        </div>
    }
}