@if (isReady()) {
    @if (user(); as userInternal) {
        <div>
            <img class="header-image" alt="header profile" [ngSrc]="userInternal.headerUrl ?? 'assets/header.jpg'" width="1500" height="500" priority />
            <img class="avatar-image" alt="avatar profile" [ngSrc]="userInternal.avatarUrl ?? 'assets/avatar.svg'" width="600" height="600" priority />


            <div class="flex-row flex-space-around padding-left-10 padding-right-10">
                <div class="profile">
                    <div class="text-center">
                        <div class="mat-h1">{{ userDisplayService.displayName(userInternal) }}</div>
                        <div class="mat-h4">&#64;{{ userInternal.userName }}</div>

                        @if (userInternal.type === userType.Service) {
                            <div class="user-flag">
                                <mat-chip [disableRipple]="true">
                                    <mat-icon [inline]="true">smart_toy</mat-icon><div class="user-flag-text">Automated</div>
                                </mat-chip>
                            </div>
                        }

                        @if (userInternal.isSupporterFlagEnabled || userInternal.roles?.includes(role.Administrator) || userInternal.roles?.includes(role.Moderator)) {
                            <div class="user-flag">
                                @if (userInternal.roles?.includes(role.Administrator)) {
                                    <mat-chip color="primary" class="margin-right-10" highlighted [disableRipple]="true">
                                        <mat-icon [inline]="true">server_person</mat-icon><div class="user-flag-text">Administrator</div>
                                    </mat-chip>
                                } @else if (userInternal.roles?.includes(role.Moderator)) {
                                    <mat-chip color="primary" class="margin-right-10"    highlighted [disableRipple]="true">
                                        <mat-icon [inline]="true">clinical_notes</mat-icon><div class="user-flag-text">Moderator</div>
                                    </mat-chip>
                                }

                                @if (userInternal.isSupporterFlagEnabled) {
                                    <mat-chip color="accent" highlighted [disableRipple]="true">
                                        <mat-icon [inline]="true">diamond_shine</mat-icon><div class="user-flag-text">Supporter</div>
                                    </mat-chip>
                                }
                            </div>
                        }

                        <div class="bio" [innerHTML]="userInternal.bioHtml"></div>
                    </div>

                    @if (userInternal.isLocal && createdAt()) {
                        <div class="text-center text-muted padding-top-10">
                            Joined {{ createdAt() | date:'longDate' }}
                        </div>
                    }

                    @if (relationship(); as relationshipInternal) {
                        <div class="padding-top-10">
                            <app-follow-buttons-section [user]="userInternal" [relationship]="relationshipInternal" (relationChanged)="onMainRelationChanged()"></app-follow-buttons-section>
                        </div>
                    }

                    @if (signedInUser()?.id === userInternal.id) {
                        <div class="flex-row flex-center gap-8 padding-top-10">
                            @if (!isHandsetPortrait()) {
                                <button type="button" [routerLink]="['/favourites']" mat-flat-button aria-label="Favourites"><mat-icon class="fill-symbol">grade</mat-icon> Favourites</button>
                                <button type="button" [routerLink]="['/bookmarks']" mat-flat-button aria-label="Bookmarks"><mat-icon class="fill-symbol">bookmark</mat-icon> Bookmarks</button>
                            } @else {
                                <button type="button" [routerLink]="['/favourites']" class="icon-only" mat-flat-button aria-label="Favourites"><mat-icon class="fill-symbol">grade</mat-icon></button>
                                <button type="button" [routerLink]="['/bookmarks']" class="icon-only" mat-flat-button aria-label="Bookmarks"><mat-icon class="fill-symbol">bookmark</mat-icon></button>
                            }

                            <button type="button" (click)="onQRCodeClick()" class="icon-only" mat-flat-button aria-label="Profile QR code"><mat-icon class="fill-symbol">qr_code_2</mat-icon></button>

                            @if (showSharedBusinessCards()) {
                                <button type="button" (click)="onShareBusinessCard()" class="icon-only" mat-flat-button aria-label="Share business card"><mat-icon class="fill-symbol">share</mat-icon></button>
                            }
                        </div>
                    }

                    @if (latestFollowers(); as latestFollowersArray) {
                        @if (latestFollowersArray.data.length > 0) {
                            <div class="text-center padding-top-10">
                                <div class="text-muted padding-bottom-5">LATEST FOLLOWERS</div>
                                @for (item of latestFollowersArray.data; track item.id) {
                                    <img class="follower-image" [ngSrc]="item.avatarUrl ?? 'assets/avatar.svg'" width="600" height="600" [matTooltip]="item.name ?? item.userName ?? ''" alt="Avatar" />
                                }
                            </div>
                        }
                    }

                    <div class="margin-auto fields-container padding-top-10">
                        @if ((userInternal.fields?.length ?? 0) > 0) {
                            <mat-card appearance="outlined">
                                <mat-card-content>
                                    @for (item of userInternal.fields; track item.id; let i = $index) {
                                        <div class="flex-row flex-align-center flex-space-between margin-bottom-10">
                                            <div>
                                                <div class="field-key text-muted">{{ item.key }}</div>
                                                <div class="field-value" [innerHTML]="item.valueHtml"></div>
                                            </div>
                                            <div class="margin-left-10">
                                                @if (item.isVerified) {
                                                    <mat-icon class="text-success fill-symbol margin-top-5" matTooltip="Verified">check_circle</mat-icon>
                                                }
                                            </div>
                                        </div>
                                        @if ((i + 1) < (userInternal.fields?.length ?? 0)) {
                                            <mat-divider class="padding-bottom-5"></mat-divider>
                                        }
                                    }
                                </mat-card-content>
                            </mat-card>
                        }
                    </div>

                    <div class="flex-row flex-center padding-top-20">
                        <div class="margin-left-20 margin-right-20"><span class="fw-500">{{ userInternal.photosCount }}</span><span class="fw-200 margin-left-5" [ngClass]="{ 'dashed': selectedProfilePageTab() === profilePageTab.Statuses}"><a [routerLink]="['posts']">{{ userInternal.photosCount === 1 ? 'Photo' : 'Photos' }}</a></span></div>
                        <div class="margin-left-20 margin-right-20"><span class="fw-500">{{ userInternal.followingCount }}</span><span class="fw-200 margin-left-5" [ngClass]="{ 'dashed': selectedProfilePageTab() === profilePageTab.Following}"><a [routerLink]="['following']">Following</a></span></div>
                        <div class="margin-left-20 margin-right-20"><span class="fw-500">{{ userInternal.followersCount }}</span><span class="fw-200 margin-left-5" [ngClass]="{ 'dashed': selectedProfilePageTab() === profilePageTab.Followers}"><a [routerLink]="['followers']">Followers</a></span></div>
                    </div>

                    @if (selectedProfilePageTab() === profilePageTab.Following) {
                        <div>
                            <div animate.enter="fade-in" class="padding-bottom-20 padding-top-20">
                                <mat-card class="users-card" appearance="outlined">
                                    <mat-card-content>
                                        @if ((following()?.data?.length ?? 0) > 0) {
                                            <app-users-card
                                                [showLoadMore]="!allFollowingDisplayed()"
                                                [users]="following()?.data"
                                                [relationships]="followingRelationships()"
                                                (relationChanged)="onRelationChanged($event)"
                                                (loadMore)="onLoadMoreFollowing()">
                                            </app-users-card>
                                        } @else {
                                            @if (userInternal.isLocal) {
                                                <div>There is nothing to read here yet.</div>
                                            } @else {
                                                <div class="text-center">
                                                    <p>We do not have this information in the system.</p>
                                                    <p class="margin-bottom-0">Check on the user's original <a [href]="userInternal.activityPubProfile" target="_blank">profile page</a>.</p>
                                                </div>
                                            }
                                        }
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    }

                    @if (selectedProfilePageTab() === profilePageTab.Followers) {
                        <div>
                            <div animate.enter="fade-in" class="padding-bottom-20 padding-top-20">
                                <mat-card class="users-card" appearance="outlined">
                                    <mat-card-content>
                                        @if ((followers()?.data?.length ?? 0) > 0) {
                                            <app-users-card
                                                [showLoadMore]="!allFollowersDisplayed()"
                                                [users]="followers()?.data"
                                                [relationships]="followersRelationships()"
                                                (relationChanged)="onRelationChanged($event)"
                                                (loadMore)="onLoadMoreFollowers()">
                                            </app-users-card>
                                        } @else {
                                            @if (userInternal.isLocal) {
                                                <div>There is nothing to read here yet.</div>
                                            } @else {
                                                <div class="text-center">
                                                    <p>We do not have this information in the system.</p>
                                                    <p class="margin-bottom-0">Check on the user's original <a [href]="userInternal.activityPubProfile" target="_blank">profile page</a>.</p>
                                                </div>
                                            }
                                        }
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    }
                </div>
            </div>

            @if (selectedProfilePageTab() === profilePageTab.Statuses) {
                <div>
                    @if (!userInternal.isLocal) {
                        <div class="remote-gallery-container">
                            <div class="remote-gallery margin-auto">
                                <mat-card appearance="outlined">
                                    <mat-card-content>
                                        <div class="text-center">
                                            <p>Some posts from this profile may be missing.</p>
                                            <p class="margin-bottom-0">See more posts on user's original <a [href]="userInternal.activityPubProfile" target="_blank">profile page</a>.</p>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    }
                    @if (statuses(); as statusesArray) {
                        <app-gallery [statuses]="statusesArray" [startUrl]="pageUrl" [squareImages]="squareImages()" [hideAvatars]="true"></app-gallery>
                    }
                </div>
            }
        </div>
    }
}
