<div *ngIf="user" @fadeIn>
    <div>
        <img class="header-image" alt="header" [src]="user.headerUrl" />
        <img class="avatar-image" alt="header" [src]="user.avatarUrl" />
    </div>

    <div class="flex-row flex-space-around padding-left-10 padding-right-10">
        <div class="profile">
            <div class="text-center padding-bottom-15">
                <div class="mat-h1">{{ user.name }}</div>
                <div class="mat-h4">@{{ user.userName }}</div>
                <div class="bio" [innerHTML]="user.bioHtml"></div>
            </div>

            <div class="flex-row flex-center padding-bottom-10">
                <div class="margin-left-20 margin-right-20"><span class="fw-500">{{ user.statusesCount }}</span><span class="fw-200 margin-left-5">Posts</span></div>
                <div class="margin-left-20 margin-right-20"><span class="fw-500">{{ user.followersCount }}</span><span class="fw-200 margin-left-5"> Followers</span></div>
                <div class="margin-left-20 margin-right-20"><span class="fw-500">{{ user.followingCount }}</span><span class="fw-200 margin-left-5"> Following</span></div>
            </div>

            <div class="margin-auto fields-container">
                <mat-card *ngIf="(user.fields?.length ?? 0) > 0" appearance="outlined">
                    <mat-card-content>
                        <div *ngFor="let item of user.fields" class="margin-bottom-10">
                            <div>
                                <div class="field-key text-muted">{{ item.key }}</div>
                                <div class="field-value" [innerHTML]="item.valueHtml"></div>
                            </div>
                            <div class="margin-left-30">
                                <mat-icon *ngIf="item.isVerified" class="text-success">check_circle</mat-icon>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="text-center padding-top-10 padding-bottom-10">
                <div class="text-muted padding-bottom-5">LATEST FOLLOWERS</div>
                <img class="follower-image" src="https://picsum.photos/64/64?v1" />
                <img class="follower-image follower-image-next" src="https://picsum.photos/64/64?v2" />
                <img class="follower-image follower-image-next" src="https://picsum.photos/64/64?v3" />
                <img class="follower-image follower-image-next" src="https://picsum.photos/64/64?v4" />
                <img class="follower-image follower-image-next" src="https://picsum.photos/64/64?v5" />
                <img class="follower-image follower-image-next" src="https://picsum.photos/64/64?v6" />
                <img class="follower-image follower-image-next" src="https://picsum.photos/64/64?v7" />
                <img class="follower-image follower-image-next" src="https://picsum.photos/64/64?v8" />
                <img class="follower-image follower-image-next" src="https://picsum.photos/64/64?v9" />
                <img class="follower-image follower-image-next" src="https://picsum.photos/64/64?v0" />
            </div>

            <div class="gallery-container">
                <div class="image-gallery">
                    <div class="column" *ngFor="let items of gallery">
                        <div class="image-item" *ngFor="let status of items">
                            <img *ngIf="getMainAttachmentSrc(status)" [src]="getMainAttachmentSrc(status)" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
