.header-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.avatar-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    top: -60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    width: 100%;
    max-width: 640px;
    position: relative;
    top: -50px;

    .mat-h1 {
        font-weight: 600;
        margin: 0;
    }

    .mat-h4 {
        font-weight: 400;
    }

    .user-flag {
        margin-bottom: 10px;

        mat-icon {
            position: relative;
            top: 2px;
            transform: scale(1.6);
            margin-right: 10px;
        }

        .user-flag-text {
            display: inline;
            bottom: 2px;
            position: relative;
            line-height: 14px;
        }
    }

    .bio {
        margin-left: auto;
        margin-right: auto;
        opacity: 0.7;

        ::ng-deep p {
            margin: 0;
        }
    }

    .fields-container {
        .field-value {
            word-break: break-all;
        }
    }

    .follower-image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-left: -6px;
    }
}

.remote-gallery-container {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.remote-gallery {
    width: 100%;
    max-width: 640px;
}
