<div animate.enter="fade-in">
    <!-- Image -->
    <a [routerLink]="['/statuses', status().id]" [ariaLabel]="'Status added by: ' + $safeNavigationMigration(mainStatus().user?.userName)">
        @if (mainStatus().sensitive && !alwaysShowNSFW) {
            <app-blurhash-image [horizontal]="false" [avatarVisible]="false" [status]="status()" />
        } @else {
            <app-image [horizontal]="false" [avatarVisible]="false" [status]="status()" />
        }
    </a>

    <!-- User card -->
    <app-user-card [user]="mainStatus().user" />

    <!-- Note -->
    <div appHrefToRouterLink>
        <div id="note" class="note margin-top-10 margin-bottom-20" appNoteProcessor [innerHTML]="rendered()"></div>
    </div>

    <!-- Status properties -->
    <app-status-properties [status]="mainStatus()" />

    <hr class="margin-bottom-30 margin-top-20" />
</div>