.preferences-container {
    max-width: 640px;

    .actions {
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 10px;
    }

    .rounded {
        width: 32px;
        height: 32px;
        border-radius: 15%;
    }

    .circle {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}
