@if(isReady()) {
    <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
        <div class="flex-row flex-space-around">
            <div class="preferences-container width-100">
                <section>
                    <h1>{{ 'pages.preferences.title' | translate }}</h1>
                </section>

                <mat-card class="preferences-card" appearance="outlined">
                    <mat-card-content>
                        <h4>{{ 'pages.preferences.theme.title' | translate }}</h4>
                        <div class="margin-bottom-20">
                            <mat-radio-group name="theme" [(ngModel)]="isLightTheme" (ngModelChange)="onThemeChange()" [attr.aria-label]="'pages.preferences.theme.select' | translate">
                                <div>
                                    <mat-radio-button [value]="true" [disableRipple]="true">{{ 'pages.preferences.theme.light' | translate }}</mat-radio-button>
                                </div>
                                <div>
                                    <mat-radio-button [value]="false" [disableRipple]="true">{{ 'pages.preferences.theme.dark' | translate }}</mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="margin-top-20">
                            <h4>{{ 'pages.preferences.avatar.title' | translate }}</h4>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-radio-group name="avatar" [(ngModel)]="isCircleAvatar" (ngModelChange)="onAvatarChange()" [attr.aria-label]="'pages.preferences.avatar.select' | translate">
                                <div>
                                    <mat-radio-button [value]="true" [disableRipple]="true">{{ 'pages.preferences.avatar.circle' | translate }}</mat-radio-button>
                                </div>
                                <div>
                                    <mat-radio-button [value]="false" [disableRipple]="true">{{ 'pages.preferences.avatar.roundedRectangle' | translate }}</mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="margin-top-20">
                            <h4>{{ 'pages.preferences.gallery.title' | translate }}</h4>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-radio-group name="square" [(ngModel)]="isSquareImages" (ngModelChange)="onSquareImageChange()" [attr.aria-label]="'pages.preferences.gallery.select' | translate">
                                <div>
                                    <mat-radio-button [value]="true" [disableRipple]="true">{{ 'pages.preferences.gallery.squareImages' | translate }}</mat-radio-button>
                                </div>
                                <div>
                                    <mat-radio-button [value]="false" [disableRipple]="true">{{ 'pages.preferences.gallery.originalRatio' | translate }}</mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="margin-top-20">
                            <h4>{{ 'pages.preferences.media.title' | translate }}</h4>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-slide-toggle name="alwaysShowNSFW" [(ngModel)]="alwaysShowNSFW" (ngModelChange)="onAlwaysShowNSFWChange()">
                                {{ 'pages.preferences.media.alwaysShowNsfw.title' | translate }} <div class="text-muted fs-90">{{ 'pages.preferences.media.alwaysShowNsfw.description' | translate }}</div>
                            </mat-slide-toggle>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-slide-toggle name="showAlternativeText" [(ngModel)]="showAlternativeText" (ngModelChange)="onShowAlternativeTextChange()">
                                {{ 'pages.preferences.media.showAlternativeText.title' | translate }} <div class="text-muted fs-90">{{ 'pages.preferences.media.showAlternativeText.description' | translate }}</div>
                            </mat-slide-toggle>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-slide-toggle name="showAvatars" [(ngModel)]="showAvatars" (ngModelChange)="onShowAvatarsChange()">
                                {{ 'pages.preferences.media.showAvatars.title' | translate }} <div class="text-muted fs-90">{{ 'pages.preferences.media.showAvatars.description' | translate }}</div>
                            </mat-slide-toggle>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-slide-toggle name="showCounts" [(ngModel)]="showCounts" (ngModelChange)="onShowCountsChange()">
                                {{ 'pages.preferences.media.showCounts.title' | translate }} <div class="text-muted fs-90">{{ 'pages.preferences.media.showCounts.description' | translate }}</div>
                            </mat-slide-toggle>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-slide-toggle name="showFavourites" [(ngModel)]="showFavourites" (ngModelChange)="onShowFavouritesChange()">
                                {{ 'pages.preferences.media.showFavourites.title' | translate }} <div class="text-muted fs-90">{{ 'pages.preferences.media.showFavourites.description' | translate }}</div>
                            </mat-slide-toggle>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-slide-toggle name="showReblog" [(ngModel)]="showReblog" (ngModelChange)="onShowReblogChange()">
                                {{ 'pages.preferences.media.showBoost.title' | translate }} <div class="text-muted fs-90">{{ 'pages.preferences.media.showBoost.description' | translate }}</div>
                            </mat-slide-toggle>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-slide-toggle name="showAltIcon" [(ngModel)]="showAltIcon" (ngModelChange)="onShowAltIconChange()">
                                {{ 'pages.preferences.media.showAltIcon.title' | translate }} <div class="text-muted fs-90">{{ 'pages.preferences.media.showAltIcon.description' | translate }}</div>
                            </mat-slide-toggle>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-slide-toggle name="alwaysShowSdrPhoto" [(ngModel)]="alwaysShowSdrPhoto" (ngModelChange)="onAlwaysShowSdrPhotoChange()">
                                {{ 'pages.preferences.media.alwaysShowSdrPhoto.title' | translate }} <div class="text-muted fs-90">{{ 'pages.preferences.media.alwaysShowSdrPhoto.description' | translate }}</div>
                            </mat-slide-toggle>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-slide-toggle name="autoScrollGalleryImages" [(ngModel)]="autoScrollGalleryImages" (ngModelChange)="onAutoScrollGalleryImagesChange()">
                                {{ 'pages.preferences.media.autoScrollGalleryImages.title' | translate }} <div class="text-muted fs-90">{{ 'pages.preferences.media.autoScrollGalleryImages.description' | translate }}</div>
                            </mat-slide-toggle>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
}
