@for (user of users(); track user.id) {
    <div class="user-wrapper">
        <div class="user-display-name">
            <a [routerLink]="[ '/@' + user.userName ]" class="user-avatar" [attr.aria-label]="'common.actions.openProfileWithUserName' | translate: { userName: user.userName }">
                <app-avatar [user]="user" [size]="avatarSize.huge"></app-avatar>
            </a>
    
            <div class="overflow-ellipsis width-100">
                <div class="overflow-ellipsis">
                    <a [routerLink]="[ '/@' + user.userName ]" class="margin-right-5 fw-600">{{ userDisplayService.displayName(user) }}</a>
                </div>
                <div class="fw-400 fs-90 text-muted overflow-ellipsis">
                    <div class="user-name">&#64;{{ user.userName }}</div>

                    @if (userDisplayService.verifiedUrl(user)) {
                        <div class="verification-badge text-success">
                            <mat-icon [inline]="true" class="fill-symbol verification-icon">check</mat-icon>
                            <span [innerHTML]="userDisplayService.verifiedUrl(user)" class="green-link"></span>
                        </div>
                    }
                </div>
    
                @if (showBio()) {
                    <div class="bio" [innerHTML]="user.bioHtml"></div>
                }
                
                <div class="fw-300 fs-90 flex-row flex-wrap">
                    <div class="user-statuses-tag margin-right-15"><span class="fw-500">{{ user.photosCount }}</span> {{ (user.photosCount === 1 ? 'common.labels.photo' : 'common.labels.photos') | translate }}</div>
                    <div class="margin-right-15"><span class="fw-500">{{ user.followersCount }}</span> {{ 'common.labels.followers' | translate }}</div>
                    <div class="user-following-tag "><span class="fw-500">{{ user.followingCount }}</span> {{ 'common.labels.following' | translate }}</div>
                </div>
            </div>
        </div>
    
        @if (getRelationship(user); as relationshipObject) {
            <app-follow-buttons-section
                [user]="user"
                [relationship]="relationshipObject"
                (relationChanged)="onRelationChanged($event)"
                [singleButton]="true">
            </app-follow-buttons-section>
        }
    </div>
}

@if (showLoadMore()) {
    <div class="flex-row flex-space-around">
        <button matButton="text" (click)="onLoadMore()">{{ 'common.actions.loadMoreEllipsis' | translate }}</button>
    </div>
}
