.user-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    .user-display-name {
        display: flex;
        gap: 10px;
        flex: 1 1 auto;
        overflow: hidden;
        align-items: center;
    }

    .user-name {
        display: inline-block;
    }

    .verification-badge {
        display: inline-block;
        padding-left: 10px;
        text-wrap: nowrap;

        .verification-icon {
            width: 14px;
            height: 14px;
        }
    }

    .user-statuses-tag {
        display: none;
    }

    @media only screen and (min-width: 500px) {
        .user-statuses-tag {
            display: block;
        }
    }

    .user-following-tag {
        display: none;
    }

    @media only screen and (min-width: 600px) {
        .user-following-tag {
            display: block;
        }
    }

    .bio {
        opacity: 0.7;

        ::ng-deep p {
            margin-top: 4px;
            margin-bottom: 4px;
        }        
    }
}