@if (isForgotPasswordMode() || isSubmittingMode()) {
    <div animate.enter="fade-in" class="flex-row flex-center padding-top-30">
        <div class="forgot-container margin-left-10 margin-right-10">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Reset your password</mat-card-title>
                        <mat-card-subtitle>
                            Enter the email address associated with your account,
                            and we'll email you a link to reset your password.
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            <mat-form-field appearance="outline" class="width-100">
                                <mat-label>Email</mat-label>
                                <input type="text" matInput name="email" [(ngModel)]="email" #emailInput="ngModel" aria-label="Email" email required />

                                @if (emailInput.invalid && emailInput.errors?.required) {
                                    <mat-error>Enter email.</mat-error>
                                }

                                @if (emailInput.invalid && emailInput.errors?.email) {
                                    <mat-error>Verify that you've entered proper email.</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="forgot-actions">
                            <button type="button" mat-raised-button [routerLink]="['/login']" aria-label="Cancel">Cancel</button>
                            <button type="submit" mat-raised-button color="primary" aria-label="Send">Send</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
}

@if (isSuccessMode()) {
    <div class="flex-row flex-center padding-top-30">
        <div class="forgot-container margin-left-10 margin-right-10">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon inline="true" class="vertical-align-bottom">email</mat-icon>
                        Check your email
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    We've sent you a link to reset your password. Please check your inbox.
                    It could take up to 10 minutes to show up in your inbox.
                </mat-card-content>
            </mat-card>
        </div>
    </div>
}

@if (isUserNotExistsMode()) {
    <div class="flex-row flex-center padding-top-30">
        <div class="forgot-container margin-left-10 margin-right-10">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon inline="true" class="vertical-align-bottom">sentiment_very_dissatisfied</mat-icon>
                        User not exists
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Are you sure you created an account at the given address?
                    Check if you have entered the correct address.
                    You can try <a [routerLink]="[]" (click)="resetMode()">again</a>.
                </mat-card-content>
            </mat-card>
        </div>
    </div>
}
