<div *ngIf="isForgotPasswordMode() || isSubmittingMode()" @fadeIn class="padding-top-30" fxLayout>
    <div fxFlex="1%" fxFlex.gt-sm="30%" fxFlex.gt-lg="40%"></div>
    <div fxFlex>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Reset your password</mat-card-title>
                    <mat-card-subtitle>
                        Enter the email address associated with your account,
                        and we'll email you a link to reset your password.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="forgot-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput name="email" [(ngModel)]="forgotPassword.email" #email="ngModel" type="text" aria-label="Email" email required />
                            <mat-error *ngIf="email.invalid && email.errors?.required">Enter email.</mat-error>
                            <mat-error *ngIf="email.invalid && email.errors?.email">Verify that you've entered proper email.</mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="forgot-actions">
                        <button type="button" mat-raised-button [routerLink]="['/login']" aria-label="Cancel">Cancel</button>
                        <button type="submit" mat-raised-button color="primary" aria-label="Send">Send</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
    <div fxFlex="1%" fxFlex.gt-sm="30%" fxFlex.gt-lg="40%"></div>
</div>

<div *ngIf="isSuccessMode()" class="padding-top-30" fxLayout>
    <div fxFlex="1%" fxFlex.gt-sm="30%" fxFlex.gt-lg="40%"></div>
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon inline="true" class="vertical-align-bottom">email</mat-icon>
                    Check your email
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                We've sent you a link to reset your password. Please check your inbox.
                It could take up to 10 minutes to show up in your inbox.
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="1%" fxFlex.gt-sm="30%" fxFlex.gt-lg="40%"></div>
</div>

<div *ngIf="isUserNotExistsMode()" class="padding-top-30" fxLayout>
    <div fxFlex="1%" fxFlex.gt-sm="30%" fxFlex.gt-lg="40%"></div>
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon inline="true" class="vertical-align-bottom">sentiment_very_dissatisfied</mat-icon>
                    User not exists
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Are you sure you created an account at the given address?
                Check if you have entered the correct address.
                You can try <a [routerLink]="[]" (click)="resetMode()">again</a>.
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="1%" fxFlex.gt-sm="30%" fxFlex.gt-lg="40%"></div>
</div>
