.forgot-container {
    display: flex;
    flex-direction: column;
}
  
.forgot-container > * {
    width: 100%;
}

.forgot-actions {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
}