@if (isReady()) {
    <div animate.enter="fade-in">

        <div class="flex-row flex-align-center flex-space-between margin-bottom-10" [ngClass]="{ 'padding-left-30 padding-right-30 padding-top-30': !isHandset(), 'padding-left-10 padding-right-10 padding-top-10': isHandset() }">
            <h1>
                <div>{{ 'pages.trending.title' | translate }}</div>
                @if (!isHandset()) {
                    @switch (selectedTrending()) {
                        @case ('statuses') {
                            <div class="fs-60 text-muted">{{ 'pages.trending.subtitles.statuses' | translate }}</div>
                        }
                        @case ('users') {
                            <div class="fs-60 text-muted">{{ 'pages.trending.subtitles.users' | translate }}</div>
                        }
                        @case ('hashtags') {
                            <div class="fs-60 text-muted">{{ 'pages.trending.subtitles.hashtags' | translate }}</div>
                        }
                    }
                }
            </h1>

            <section class="small-button-toggle">
                <mat-button-toggle-group [(ngModel)]="trending" (ngModelChange)="onSelectionChange()" [hideSingleSelectionIndicator]="true" [attr.aria-label]="'pages.trending.tabAriaLabel' | translate">
                    <mat-button-toggle value="statuses"><mat-icon>insert_photo</mat-icon>
                        @if (!isHandset()) {
                            <span> {{ 'common.labels.photosLabel' | translate: { count: 2 } }}</span>
                        }
                    </mat-button-toggle>
                    <mat-button-toggle value="users"><mat-icon>groups</mat-icon>
                        @if (!isHandset()) {
                            <span> {{ 'common.labels.artists' | translate }}</span>
                        }
                    </mat-button-toggle>

                    @if (showHashtags()) {
                        <mat-button-toggle value="hashtags"><mat-icon>tag</mat-icon>
                            @if (!isHandset()) {
                                <span> {{ 'pages.trending.tabs.tags' | translate }}</span>
                            }
                        </mat-button-toggle>
                    }
                </mat-button-toggle-group>
            </section>
        </div>

        <div class="flex-row flex-end padding-bottom-10" [ngClass]="{ 'padding-right-30': !isHandset(), 'padding-right-10': isHandset() }">
            <mat-radio-group [(ngModel)]="period" (ngModelChange)="onSelectionChange()" [attr.aria-label]="'pages.trending.period.ariaLabel' | translate">
                <mat-radio-button [disableRipple]="true" [value]="trendingPeriod.Daily">{{ 'pages.trending.period.daily' | translate }}</mat-radio-button>
                <mat-radio-button [disableRipple]="true" [value]="trendingPeriod.Monthly">{{ 'pages.trending.period.monthly' | translate }}</mat-radio-button>
                <mat-radio-button [disableRipple]="true" [value]="trendingPeriod.Yearly">{{ 'pages.trending.period.yearly' | translate }}</mat-radio-button>
            </mat-radio-group>
        </div>

        @if (selectedTrending() === 'statuses') {
            @if (statuses(); as statusesArray) {
                <app-gallery [statuses]="statusesArray" [startUrl]="pageUrl"></app-gallery>
            }
        }

        @if (selectedTrending() === 'users') {
            @if (users(); as usersArray) {
                <app-users-gallery [users]="usersArray"></app-users-gallery>
            }
        }

        @if (selectedTrending() === 'hashtags') {
            @if (hashtags(); as hashtagsArray) {
                <app-hashtag-gallery [hashtags]="hashtagsArray"></app-hashtag-gallery>
            }
        }
    </div>
}
