<div *ngIf="isReady" @fadeIn>

    <div class="flex-row flex-align-center flex-space-between margin-bottom-10" [ngClass]="{ 'padding-left-30 padding-right-30 padding-top-30': !isHandset, 'padding-left-10 padding-right-10 padding-top-10': isHandset }">
      <h1>Trending</h1>

      <section class="small-button-toggle">
        <mat-button-toggle-group [(ngModel)]="trending" (ngModelChange)="onSelectionChange()" [hideSingleSelectionIndicator]="true" aria-label="Trending type">
          <mat-button-toggle value="statuses"><mat-icon>insert_photo</mat-icon><span *ngIf="!isHandset"> Photos</span></mat-button-toggle>
          <mat-button-toggle value="users"><mat-icon>groups</mat-icon><span *ngIf="!isHandset"> Accounts</span></mat-button-toggle>
          <mat-button-toggle value="hashtags"><mat-icon>tag</mat-icon><span *ngIf="!isHandset"> Tags</span></mat-button-toggle>
        </mat-button-toggle-group>
      </section>
    </div>

    <div class="flex-row flex-end padding-bottom-10" [ngClass]="{ 'padding-right-30': !isHandset, 'padding-right-10': isHandset }">
      <mat-radio-group [(ngModel)]="period" (ngModelChange)="onSelectionChange()" aria-label="Select an period">
        <mat-radio-button [disableRipple]="true" [value]="trendingPeriod.Daily">Daily</mat-radio-button>
        <mat-radio-button [disableRipple]="true" [value]="trendingPeriod.Monthly">Monthly</mat-radio-button>
        <mat-radio-button [disableRipple]="true" [value]="trendingPeriod.Yearly">Yearly</mat-radio-button>
      </mat-radio-group>
    </div>

    <app-gallery *ngIf="selectedTrending === 'statuses'" [statuses]="statuses"></app-gallery>
    <app-users-gallery *ngIf="selectedTrending === 'users'" [users]="users"></app-users-gallery>
    <app-hashtag-gallery *ngIf="selectedTrending === 'hashtags'" [hashtags]="hashtags"></app-hashtag-gallery>
</div>
