<div *ngIf="isReady" @fadeIn>

    <div class="flex-row flex-align-center flex-space-between margin-bottom-10" [ngClass]="{ 'padding-30': !isHandset, 'padding-10': isHandset }">
      <h1>Trending</h1>

      <section class="small-button-toggle">
        <mat-button-toggle-group [(ngModel)]="trending" (ngModelChange)="onSelectionChange()" aria-label="Trending type">
          <mat-button-toggle value="statuses"><mat-icon>insert_photo</mat-icon><span *ngIf="!isHandset"> Photos</span></mat-button-toggle>
          <mat-button-toggle value="users"><mat-icon>group</mat-icon><span *ngIf="!isHandset"> Accounts</span></mat-button-toggle>
          <mat-button-toggle value="hashtags"><mat-icon>local_offer</mat-icon><span *ngIf="!isHandset"> Tags</span></mat-button-toggle>
        </mat-button-toggle-group>
      </section>
    </div>

    <div *ngIf="trending === 'statuses'" class="flex-row flex-end padding-bottom-10" [ngClass]="{ 'padding-right-30': !isHandset, 'padding-right-10': isHandset }">
      <mat-radio-group [(ngModel)]="period" (ngModelChange)="onSelectionChange()" aria-label="Select an period">
        <mat-radio-button [disableRipple]="true" [value]="trendingStatusPeriod.Daily">Daily</mat-radio-button>
        <mat-radio-button [disableRipple]="true" [value]="trendingStatusPeriod.Monthly">Monthly</mat-radio-button>
        <mat-radio-button [disableRipple]="true" [value]="trendingStatusPeriod.Yearly">Yearly</mat-radio-button>
      </mat-radio-group>
    </div>

    <app-gallery [statuses]="statuses"></app-gallery>
</div>
