@use '@angular/material' as mat;

// Styles for the docs app that are based on the current theme.
@mixin material-app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $error: mat.define-palette(mat.$red-palette);
    $warning: mat.define-palette(mat.$orange-palette);
    $grey: mat.define-palette(mat.$grey-palette);
    $green: mat.define-palette(mat.$green-palette);

    body {
        background-color: mat.get-color-from-palette($foreground);
    }

    a {
        &:link {
            color: mat.get-color-from-palette($primary);
            text-decoration: none;
        }

        &:visited {
            color: mat.get-color-from-palette($primary);
            text-decoration: none;
        }

        &:hover {
            color: mat.get-color-from-palette($primary);
            text-decoration: none;
        }

        &:active {
            color: mat.get-color-from-palette($primary);
            text-decoration: none;
        }
    }

    .text-error {
        color: mat.get-color-from-palette($error);
    }

    .text-warning {
        color: mat.get-color-from-palette($warning);
    }

    .text-success {
        color: mat.get-color-from-palette($green, 800);
    }

    .text-muted {
        color: mat.get-color-from-palette($grey);
    }

    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        color: mat.get-color-from-palette($grey);

        &::before, &::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid mat.get-color-from-palette($grey);
        }

        &::before {
            margin-right: .25em;
        }

        &::after {
            margin-left: .25em;
        }
    }

    .dashed {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: mat.get-color-from-palette($primary);
    }

    .dropzone {
        width: 223px;
        height: 148px;
        background-color: white;
        cursor: pointer;
        border-width: 1px;
        border-style: dashed;
        border-color: mat.get-color-from-palette($grey);

        path {
            fill: mat.get-color-from-palette($primary);
        }

        .plus {
            text-align: center;
            padding-top: 48px;
            font-size: 64px;
        }

        &:hover {
            background-color: mat.get-color-from-palette($primary);
            path {
                fill: white;
            }
        }
    }
}
