@use '@angular/material' as mat;

// Styles for the docs app that are based on the current theme.
@mixin material-app-theme($theme, $contrast, $background, $cameraIcon, $faceIcon, $newsIcon) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    $error: mat.m2-define-palette(mat.$m2-red-palette);
    $warning: mat.m2-define-palette(mat.$m2-orange-palette);
    $grey: mat.m2-define-palette(mat.$m2-grey-palette);
    $green: mat.m2-define-palette(mat.$m2-green-palette);

    $background-color: mat.m2-get-color-from-palette($background);
    $transparent-background-color: rgba($background-color, 0.7);

    .cdk-overlay-pane {
        .mat-mdc-menu-panel {
            background-color: $transparent-background-color;
            -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
        }
    }

    .mat-button-toggle-group{
        .mat-button-toggle-appearance-standard {
            &.mat-button-toggle-checked {
                background-color: rgba(mat.m2-get-color-from-palette($primary), 0.1);
            }
        }
    }

    a {
        &:link {
            color: mat.m2-get-color-from-palette($primary);
            text-decoration: none;
        }

        &:visited {
            color: mat.m2-get-color-from-palette($primary);
            text-decoration: none;
        }

        &:hover {
            color: mat.m2-get-color-from-palette($primary);
            text-decoration: none;
        }

        &:active {
            color: mat.m2-get-color-from-palette($primary);
            text-decoration: none;
        }
    }

    .green-link {
        a {
            &:link {
                color: mat.m2-get-color-from-palette($green, 800);
                text-decoration: none;
            }

            &:visited {
                color: mat.m2-get-color-from-palette($green, 800);
                text-decoration: none;
            }

            &:hover {
                color: mat.m2-get-color-from-palette($green, 800);
                text-decoration: none;
            }

            &:active {
                color: mat.m2-get-color-from-palette($green, 800);
                text-decoration: none;
            }
        }
    }

    .text-error {
        color: mat.m2-get-color-from-palette($error);
    }

    .text-warning {
        color: mat.m2-get-color-from-palette($warning);
    }

    .text-success {
        color: mat.m2-get-color-from-palette($green, 800);
    }

    .text-muted {
        color: mat.m2-get-color-from-palette($grey);
    }

    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        color: mat.m2-get-color-from-palette($grey);

        &::before, &::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid mat.m2-get-color-from-palette($grey);
        }

        &::before {
            margin-right: .25em;
        }

        &::after {
            margin-left: .25em;
        }
    }

    .dashed {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: mat.m2-get-color-from-palette($primary);
    }

    .dropzone {
        width: 223px;
        height: 148px;
        margin-top: 4px;
        background-color: mat.m2-get-color-from-palette($background);
        opacity: 0.6;
        border-width: 1px;
        border-style: dashed;
        border-color: mat.m2-get-color-from-palette($grey);

        path {
            fill: mat.m2-get-color-from-palette($primary);
        }

        .plus {
            text-align: center;
            padding-top: 48px;
            font-size: 64px;
        }

        &.small {
            width: 80px;
            height: 50px;

            .plus {
                padding-top: 6px;
            }
        }

        &.active {
            cursor: pointer;

            &:hover {
                background-color: mat.m2-get-color-from-palette($primary);

                path {
                    fill: white;
                }
            }
        }

        &.inactive {
            cursor: default;

            &:hover {
                background-color: mat.m2-get-color-from-palette($background);

                path {
                    fill: mat.m2-get-color-from-palette($primary);
                }
            }
        }
    }

    .photo-thumbnail {
        object-fit: cover;
        border: 4px solid transparent;
        width: 225px;
        height: 150px;
        cursor: pointer;
        vertical-align: middle;

        &.selected {
            border: 4px solid mat.m2-get-color-from-palette($primary, 300);
        }

        &.small {
            width: 80px;
            height: 50px;
        }
    }

    a:hover.logo,
    a:visited.logo,
    a:active.logo,
    a:link.logo {
        font-style: normal;
        text-decoration: none;
        color: mat.m2-get-color-from-palette($contrast);
    }

    a.mdc-button {
        color: mat.m2-get-color-from-palette($contrast);
    }

    .empty-page {
        .camera {
            margin-left: auto;
            margin-right: auto;
            width: 128px;
            height: 128px;
            background-size: 128px 128px;
            background-image: url($cameraIcon);
        }

        .face {
            margin-left: auto;
            margin-right: auto;
            width: 64px;
            height: 64px;
            background-size: 64px 64px;
            background-image: url($faceIcon);
        }

        .news {
            margin-left: auto;
            margin-right: auto;
            width: 128px;
            height: 128px;
            background-size: 128px 128px;
            background-image: url($newsIcon);
        }
    }

    .business-card-messages {    
        .business-card-message-text {
            background-color: mat.m2-get-color-from-palette($grey);
            color: mat.m2-get-color-from-palette($background);
        }
    
        .business-card-message-author {
            .business-card-message-text {
                background-color: mat.m2-get-color-from-palette($primary);
            }    
        }
    }

    gallery {
        background-color: #202020 !important;
    }

    .news-text {
        padding-top: 10px;

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px dashed rgba(mat.m2-get-color-from-palette($accent), 0.5);
            max-width: 80px;
            margin-top: 2em;
            margin-bottom: 2em;
            margin-left: auto;
            margin-right: auto;
        }

        table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 100%;

            thead tr {
                background-color: mat.m2-get-color-from-palette($accent);
                color: mat.m2-get-color-from-palette($background);
                text-align: left;
            }

            th, td {
                padding: 12px 15px;
            }

            tbody tr {
                border-bottom: 1px solid mat.m2-get-color-from-palette($grey);
            }
            
            tbody tr:hover {
                background-color: rgba(mat.m2-get-color-from-palette($accent), 0.05);
            }

            tbody tr:last-of-type {
                border-bottom: 2px solid mat.m2-get-color-from-palette($accent);
            }

            tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }
        }
    }
}
