// MATERIAL SYMBOLS FONT.
//
// To reduce the font file size you can download only font file with required icons.
// Add icon to below list (alphabetic order) and download the font file (than replace material-symbols.woff2 file):
// https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_box,account_circle,alternate_email,arrow_back,arrow_back_ios,arrow_drop_down,arrow_forward_ios,arrow_upward,article,backspace,badge,bookmark,brightness_7,bug_report,build,camera,camera_alt,camera_roll,cancel,change_circle,chat_bubble,check,check_circle,close,communities,dark_mode,delete,dns,download,edit,edit_note,email,error,event,exit_to_app,experiment,explore,export_notes,face,feedback,fiber_new,file_copy,flash_on,grade,groups,hide_image,home,host,https,hub,info,insert_photo,key,language,license,light_mode,local_police,loyalty,menu,more_vert,news,notifications_none,pan_tool,people,person,person_add,person_cancel,person_check,person_outline,pest_control,place,public,public_off,qr_code_2,radio_button_checked,radio_button_unchecked,record_voice_over,release_alert,remove_red_eye,reply,report,report_problem,rocket,rocket_launch,safety_check_off,scanner,search,sentiment_very_dissatisfied,settings,settings_applications,settings_backup_restore,settings_photo_camera,share,smart_toy,star,star_border,stars,swap_vertical_circle,sync,tag,text_snippet,timeline,trending_up,unknown_2,unpublished,visibility,visibility_off,voice_over_off,warning&display=block
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    font-display: block;
    src: url(./../assets/fonts/material-symbols-Grk95nbl2h.woff2) format('woff2');
}
  
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

// ROBOTO FONT.
//
// To include correct font files you can download original font (and styles) from this location:
// https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url(./../assets/fonts/roboto-12DfhPfYyt.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(./../assets/fonts/roboto-12DfhPfYyt.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(./../assets/fonts/roboto-12DfhPfYyt.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
