html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-content {
  margin-left: 16px;
  margin-right: 16px;
}

.mat-mdc-card-subtitle {
  padding-bottom: 10px;
}

.mat-mdc-card-title {
  padding-bottom: 10px;
}

.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdk-visually-hidden {
  width: 0;
  height: 0;
  position: fixed;
  overflow: hidden;
  top: -500px;
}

/*
 * Material symbols.
 */

.fill-symbol {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.outline-symbol {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.icon-only {
  &.mdc-button {
    min-width: 48px;
  }

  &.mat-mdc-unelevated-button {
    .mat-icon {
      margin: 0;
    }
  }

  &.mat-mdc-outlined-button {
    .mat-icon {
      margin: 0;
    }
  }

  &.mat-mdc-raised-button {
    .mat-icon {
      margin: 0;
    }
  }
}

/*
 * Utilities.
 */

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-form-field-infix {
  width: 110px !important;
}

.list-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.word-break-all {
  word-break: break-all;
}

.link {
  cursor: pointer;
}

.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline-block !important;
}

.line-height-normal {
  line-height: normal;
}

.pull-right {
  float: right;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.width-80 {
  width: 80%;
}

.height-100 {
  height: 100%;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-0 {
  margin: 0;
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-15 {
  margin: 15px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.margin-40 {
  margin: 40px;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.padding-0 {
  padding: 0;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.padding-40 {
  padding: 40px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-right-40 {
  padding-right: 40px;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fs-60 {
  font-size: 0.6em;
}

.fs-70 {
  font-size: 0.7em;
}

.fs-80 {
  font-size: 0.8em;
}

.fs-90 {
  font-size: 0.9em;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-middle {
  vertical-align: middle;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.display-none {
  display: none !important;
}

.mat-typography p.margin-bottom-0 {
  margin-bottom: 0;
}

.mat-typography p.margin-top-0 {
  margin-top: 0;
}

.mat-typography p.margin-left-0 {
  margin-left: 0;
}

.mat-typography p.margin-right-0 {
  margin-right: 0;
}

/*
 * Animations.
 */
.fade-in {
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slow-fade-in {
  opacity: 0;
  animation: slow-fade-in 1s forwards;
}

@keyframes slow-fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show-fade {
  opacity: 0;
  transition: opacity 500ms;
}

.show-fade.is-visible {
  opacity: 1;
}

.hide-fade {
  opacity: 1;
  transition: opacity 500ms;
}

.hide-fade.is-hidden {
  opacity: 0;
}

.show-or-hide {
  transition: opacity 500ms;
}

.show-or-hide.is-hidden {
  opacity: 0;
}

.show-or-hide.is-visible {
  opacity: 1;
}
