@use '@angular/material' as mat;
@use 'variables' as *;

// The overlay package provides a way to open floating panels on the screen.
// https://material.angular.io/cdk/overlay/overview
@import '@angular/cdk/overlay-prebuilt.css';

// Own custom styles.
@import './fonts';
@import './flex-layout';
@import './utilities';

html {
    height: 100%;
    @include mat.theme((
        color: (
            primary: mat.$azure-palette,
            tertiary: mat.$rose-palette,
        ),
        typography: Roboto,
        density: 0,
    ));
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
    --mat-sys-surface: #{$light-background-color};
    --mat-sys-on-surface: #{$light-text-color};

    // Override default h1/h2 font (maybe it's better way to do this in M3).
    h1 {
        font-weight: 100;
        line-height: 0.95em;
    }

    h2 {
        font-weight: 300;
    }

    // Override Angular Material components styles.
    @include mat.toolbar-overrides((
        container-background-color: $light-toolbar-background-color,
        container-text-color: var(--mat-sys-primary)
    ));

    @include mat.card-overrides((
        outlined-container-color: $light-panel-background-color,
        outlined-outline-color: $light-outline,
        outlined-container-shape: 4px
    ));

    @include mat.divider-overrides((
        color: $light-outline,
    ));

    @include mat.stepper-overrides((
        container-color: $light-panel-background-color
    ));

    @include mat.button-overrides((
        outlined-outline-color: $light-outline,
        filled-label-text-tracking: 0.09em,
        outlined-label-text-tracking: 0.09em,
        tonal-label-text-tracking: 0.09em,
        text-label-text-tracking: 0.09em
    ));

    @include mat.icon-button-overrides((
        icon-color: var(--mat-sys-primary)
    ));

    @include mat.button-toggle-overrides((
        divider-color: $light-outline,
        background-color: $light-toolbar-background-color,
        label-text-tracking: 0.09em
    ));

    @include mat.menu-overrides((
        item-label-text-size: 15px,
        item-label-text-tracking: 0.09em
    ));

    @include mat.table-overrides((
        background-color: $light-panel-background-color,
        row-item-outline-color: $light-outline
    ));

    @include mat.expansion-overrides((
        container-shape: 4px,
        actions-divider-color: $light-outline,
        container-background-color: $light-panel-background-color,
        header-description-color: $grey-color
    ));

    @include mat.paginator-overrides((
        container-background-color: transparent,
    ));

    @include mat.dialog-overrides((
        container-shape: 8px,
        container-color: $light-dialog-background-color
    ));

    // Other styles for light theme.
    mat-toolbar {
        border-bottom: 1px solid $light-outline;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
    }

    .cdk-overlay-pane {
        .mat-mdc-menu-panel {
            background-color: $light-toolbar-background-color;
            -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
        }
    }

    .empty-page {
        .camera {
            background-image: url('/assets/camera-light.svg');
        }

        .face {
            background-image: url('/assets/face-light.svg');
        }

        .news {
            background-image: url('/assets/news-light.svg');
        }
    }

    .dropzone {
        background-color: $light-panel-background-color;
    }

    .message-error {
        color: var(--mat-sys-primary);
        background-color: $warning-color;
    }

    .message-error .mat-simple-snackbar-action {
        color: var(--mat-sys-primary);
    }

    .notifications-container {
        .notifications-card {    
            .mention {
                color: #f86874;
            }
    
            .status {
                color: #f59d21;
            }
    
            .reblog {
                color: #f8be2b;
            }
            
            .follow {
                color: #6bc95e;
            }
    
            .follow-request {
                color: #a871ad;
            }
    
            .favourite {
                color: #45a8f4;
            }
    
            .update {
                color: #ef5b72;
            }
    
            .admin-sign-up {
                color: #8ace3e;
            }
    
            .admin-report{
                color: #f87392;
            }
            
            .new-comments {
                color: #5f90ec;
            }
        }
    }
}

body.dark-theme {
    color-scheme: dark;
    --mat-sys-surface: #{$dark-background-color};
    --mat-sys-on-surface: #{$dark-text-color};

    // Override Angular Material components styles.
    @include mat.toolbar-overrides((
        container-background-color: $dark-toolbar-background-color,
        container-text-color: var(--mat-sys-primary)
    ));

    @include mat.card-overrides((
        outlined-container-color: $dark-panel-background-color,
        outlined-outline-color: $dark-outline
    ));

    @include mat.divider-overrides((
        color: $dark-outline,
    ));

    @include mat.stepper-overrides((
        container-color: $dark-panel-background-color
    ));

    @include mat.button-overrides((
        outlined-outline-color: $dark-outline
    ));

    @include mat.button-toggle-overrides((
        divider-color: $dark-outline,
        background-color: $dark-toolbar-background-color,
    ));

    @include mat.table-overrides((
        background-color: $dark-panel-background-color,
        row-item-outline-color: $dark-outline
    ));

    @include mat.expansion-overrides((
        actions-divider-color: $dark-outline,
        container-background-color: $dark-panel-background-color,
    ));

    @include mat.paginator-overrides((
        container-background-color: transparent,
    ));

    @include mat.dialog-overrides((
        container-color: $dark-dialog-background-color
    ));

    // Other styles for dark theme.
    mat-toolbar {
        border-bottom: 1px solid $dark-outline;
    }

    .cdk-overlay-pane {
        .mat-mdc-menu-panel {
            background-color: rgba($dark-toolbar-background-color, 0.7);
            -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
        }
    }

    .empty-page {
        .camera {
            background-image: url('/assets/camera-dark.svg');
        }

        .face {
            background-image: url('/assets/face-dark.svg');
        }

        .news {
            background-image: url('/assets/news-dark.svg');
        }
    }

    .dropzone {
        background-color: $dark-panel-background-color;
    }

    .message-error {
        color: var(--mat-sys-primary);
        background-color: $warning-color;
    }

    .message-error .mat-simple-snackbar-action {
        color: var(--mat-sys-primary);
    }

    .notifications-container {
        .notifications-card {    
            .mention {
                color: #FF9AA2;
            }
    
            .status {
                color: #FFB347;
            }
    
            .reblog {
                color: #FFDA79;
            }
            
            .follow {
                color: #A2D39C;
            }
    
            .follow-request {
                color: #B39EB5;
            }
    
            .favourite {
                color: #80C9FF;
            }
    
            .update {
                color: #f7a7b3;
            }
    
            .admin-sign-up {
                color: #B3DE81;
            }
    
            .admin-report{
                color: #e1a8b5;
            }
            
            .new-comments {
                color: #AFCBFF;
            }
        }
    }
}

body {
    color-scheme: light;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
    height: 100%;

    .mat-app-background {
        background-color: var(--mat-sys-surface);
    }
}

/* You can add global styles to this file, and also import other style files */
html {
    background-color: var(--mat-sys-surface);
}

.mat-dark {
    background-color: var(--mat-sys-surface);
}

// Workaround for not working 'label-text-tracking' for button-toggle-overrides.
.mat-button-toggle-label-content {
    letter-spacing: var(--mat-button-toggle-label-text-tracking, var(--mat-sys-label-large-tracking)) !important;
}

// Workaround for not existing description font size for expansion-overrides.
mat-panel-description {
    font-size: 0.9em;
}

/*
 * Other general styles for application components.
 */

a {
    &:link {
        color: var(--mat-sys-primary);
        text-decoration: none;
    }

    &:visited {
        color: var(--mat-sys-primary);
        text-decoration: none;
    }

    &:hover {
        color: var(--mat-sys-primary);
        text-decoration: none;
    }

    &:active {
        color: var(--mat-sys-primary);
        text-decoration: none;
    }
}

.green-link {
    a {
        &:link {
            color: $green-link;
            text-decoration: none;
        }

        &:visited {
            color: $green-link;
            text-decoration: none;
        }

        &:hover {
            color: $green-link;
            text-decoration: none;
        }

        &:active {
            color: $green-link;
            text-decoration: none;
        }
    }
}

.dashed {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: var(--mat-sys-primary);
}

.text-error {
    color: $error-color;
}

.text-warning {
    color: $warning-color;
}

.text-success {
    color: $green-color;
}

.text-muted {
    color: $grey-color;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: $grey-color;

    &::before, &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid $grey-color;;
    }

    &::before {
        margin-right: .25em;
    }

    &::after {
        margin-left: .25em;
    }
}

.dropzone {
    width: 223px;
    height: 148px;
    margin-top: 4px;
    background-color: var(--mat-sys-surface);
    opacity: 0.6;
    border-width: 1px;
    border-style: dashed;
    border-color: $grey-color;

    path {
        fill: var(--mat-sys-primary);
    }

    .plus {
        text-align: center;
        padding-top: 48px;
        font-size: 64px;
    }

    &.small {
        width: 80px;
        height: 50px;

        .plus {
            padding-top: 6px;
        }
    }

    &.active {
        cursor: pointer;

        &:hover {
            background-color: var(--mat-sys-primary);

            path {
                fill: white;
            }
        }
    }

    &.inactive {
        cursor: default;

        &:hover {
            background-color: var(--mat-sys-surface);

            path {
                fill: var(--mat-sys-primary);
            }
        }
    }
}

.photo-thumbnail {
    object-fit: cover;
    border: 4px solid transparent;
    width: 225px;
    height: 150px;
    cursor: pointer;
    vertical-align: middle;

    &.selected {
        border: 4px solid var(--mat-sys-primary);
    }

    &.small {
        width: 80px;
        height: 50px;
    }
}

a:hover.logo,
a:visited.logo,
a:active.logo,
a:link.logo {
    font-style: normal;
    text-decoration: none;
    color: var(--mat-sys-on-surface);
}

a.mdc-button {
    color: var(--mat-sys-on-surface);
}

.empty-page {
    .camera {
        margin-left: auto;
        margin-right: auto;
        width: 128px;
        height: 128px;
        background-size: 128px 128px;
    }

    .face {
        margin-left: auto;
        margin-right: auto;
        width: 64px;
        height: 64px;
        background-size: 64px 64px;
    }

    .news {
        margin-left: auto;
        margin-right: auto;
        width: 128px;
        height: 128px;
        background-size: 128px 128px;
    }
}

.business-card-messages {    
    .business-card-message-text {
        background-color: $grey-color;
        color: var(--mat-sys-surface);
    }

    .business-card-message-author {
        .business-card-message-text {
            background-color: var(--mat-sys-primary);
        }    
    }
}

gallery {
    background-color: $gallery-background !important;
}

.news-text {
    padding-top: 10px;

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px dashed var(--mat-sys-primary);
        max-width: 80px;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 100%;

        thead tr {
            background-color: color-mix(in srgb, var(--mat-sys-primary) 75%, transparent);
            color: var(--mat-sys-surface);
            text-align: left;
        }

        th, td {
            padding: 12px 15px;
        }

        tbody tr {
            border-bottom: 1px solid $grey-color;
        }
        
        tbody tr:hover {
            background-color: color-mix(in srgb, var(--mat-sys-primary) 20%, transparent);
        }

        tbody tr:last-of-type {
            border-bottom: 2px solid color-mix(in srgb, var(--mat-sys-primary) 75%, transparent);
        }

        tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    }
}

.mat-card-content {
    margin-left: 16px;
    margin-right: 16px;
}

.mat-mdc-card-subtitle {
    padding-bottom: 10px;
}

.mat-mdc-card-title {
    padding-bottom: 10px;
}

.loading-shade {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cdk-visually-hidden {
    width: 0;
    height: 0;
    position: fixed;
    overflow: hidden;
    top: -500px;
}

.fill-symbol {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.outline-symbol {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.icon-only {
    &.mdc-button {
        min-width: 48px;
    }

    &.mat-mdc-unelevated-button {
        .mat-icon {
            margin: 0;
        }
    }

    &.mat-mdc-outlined-button {
        .mat-icon {
            margin: 0;
        }
    }

    &.mat-mdc-raised-button {
        .mat-icon {
            margin: 0;
        }
    }
}