$green-link: green;
$error-color: red;
$warning-color: orange;
$green-color: green;
$grey-color: gray;

$light-background-color: #fafafa;
$light-text-color: #000000;
$light-toolbar-background-color: #fff;
$light-panel-background-color: rgb(255, 255, 255);
$light-outline: rgba(0, 0, 0, 0.12);
$light-dialog-background-color: rgb(250, 250, 250);

$dark-background-color: rgb(48, 48, 48);
$dark-text-color: #fff;
$dark-toolbar-background-color: #2b2b2be6;
$dark-panel-background-color: rgb(66, 66, 66);
$dark-outline: rgba(255, 255, 255, 0.12);
$dark-dialog-background-color: rgb(28, 28, 28);