// General colors.
$green-link: #12a812;
$error-color: #f95858;
$warning-color: #ffa500;
$green-color: #13b413;
$grey-color: #808080;
$gallery-background: #202020;

// Light theme colors.
$light-background-color: #f1f1f1;
$light-text-color: #000000;
$light-toolbar-background-color: #fff;
$light-panel-background-color: #ffffff;
$light-dialog-background-color: #fafafa;
$light-outline: rgba(0, 0, 0, 0.15);

// Dark theme colors.
$dark-background-color: #303030;
$dark-text-color: #fff;
$dark-toolbar-background-color: #2b2b2b;
$dark-panel-background-color: #424242;
$dark-dialog-background-color: #1c1c1c;
$dark-outline: rgba(255, 255, 255, 0.15);