<div class="blurhash-container">
    @if (showBlurhash) {
        <div class="text">{{ text }}</div>
        <canvas class="blurhash" #canvas width="32" height="32"></canvas>
    }

    <img [ngClass]="{ 'img-vertical': !horizontal, 'img-horizontal': horizontal }" [src]="imageSrc" />

    @if(showAvatar && user) {
        <div class="avatar">
            <app-mini-user-card [user]="user" [showUserName]="false" [whiteLink]="true" [size]="avatarSize.verysmall"></app-mini-user-card>
        </div>
    }

    @if (signedInUser && showFavourites) {
        <div class="favourite" (click)="favouriteToogle(); $event.preventDefault(); $event.stopPropagation();">
            <mat-icon *ngIf="!getMainStatus()?.favourited" class="outline-symbol">grade</mat-icon>
            <mat-icon *ngIf="getMainStatus()?.favourited" class="fill-symbol">grade</mat-icon>
        </div>
    }

    @if(showAltIcon && alt) {
        <div class="alt" [matTooltip]="alt" matTooltipPosition="above">ALT</div>
    }
</div>