<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>Share your personal info</div>
    <div mat-dialog-content>

        <div class="flex-col gap-0 margin-top-5">
            <mat-form-field appearance="outline" class="width-100 padding-top-10">
                <mat-label>Your name</mat-label>
                <input type="text" matInput name="name" #nameInput="ngModel" [(ngModel)]="name"
                    placeholder="Your name" aria-label="Your name" appMaxLength="100" autocomplete="off" required />

                @if (nameInput.invalid && nameInput.errors?.required) {
                    <mat-error>Enter your name.</mat-error>
                }

                @if (nameInput.invalid && nameInput.errors?.appMaxLength) {
                    <mat-error>Too long name.</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="width-100 padding-top-10">
                <mat-label>Your email</mat-label>
                <input type="email" matInput name="email" #emailInput="ngModel" [(ngModel)]="email"
                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    placeholder="Your email" aria-label="Your email" appMaxLength="500" autocomplete="off" />

                @if (emailInput.invalid && emailInput.errors?.pattern) {
                    <mat-error>Verify that you've entered proper email.</mat-error>
                }

                @if (emailInput.invalid && emailInput.errors?.appMaxLength) {
                    <mat-error>Too long email.</mat-error>
                }
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="accent" cdkFocusInitial>Save</button>
    </div>
</form>