<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>Enable two factor authentication (2FA)</div>
    <div mat-dialog-content>
        <div class="flex-col gap-0 margin-top-5">
            <div>
                Scan QR code with 2FA application (like Authy or Google Authenticator).
            </div>
            <div class="flex-row flex-responsive gap-16 flex-align-center margin-top-5">
                <div class="qr-code">
                    <div #canvas></div>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="token">
                        <mat-label>Token</mat-label>
                        <input type="text" matInput name="code" #codeInput="ngModel" [(ngModel)]="code" required aria-label="Code" />

                        @if (codeInput.invalid && codeInput.errors?.required) {
                            <mat-error>Token is required.</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div>
                <mat-divider></mat-divider>
                <strong>Backup codes</strong>
                <div>
                    <small class="text-muted text-right">
                        You should keep these codes in case you cannot access the authenticator app.
                    </small>
                </div>
                <div>
                    @for (backupCode of twoFactorToken()?.backupCodes; track $index) {
                        <span> {{ backupCode }} </span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="accent" cdkFocusInitial>Send</button>
    </div>
</form>