@if (isValidatingMode()) {
    <div animate.enter="fade-in" class="padding-top-30 flex-row flex-center">
        <div class="confirm-container margin-left-10 margin-right-10">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon inline="true" class="vertical-align-bottom">email</mat-icon>
                        {{ 'pages.confirmEmail.validating.title' | translate }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{ 'pages.confirmEmail.validating.description' | translate }}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
}

@if (isSuccessMode()) {
    <div class="padding-top-30 flex-row flex-center">
        <div class="confirm-container margin-left-10 margin-right-10">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon inline="true" class="vertical-align-bottom">check_circle</mat-icon>
                        {{ 'pages.confirmEmail.success.title' | translate }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <strong>{{ 'pages.confirmEmail.success.congratulations' | translate }}</strong>
                    {{ 'pages.confirmEmail.success.description' | translate }}
                    @if (!isLoggedIn()) {
                        {{ 'pages.confirmEmail.success.loginPromptPrefix' | translate }}
                        <a routerLink="/login">{{ 'pages.confirmEmail.success.loginLink' | translate }}</a>
                        {{ 'pages.confirmEmail.success.loginPromptSuffix' | translate }}
                    }
                </mat-card-content>
            </mat-card>
        </div>
    </div>
}

@if (isErrorMode()) {
    <div class="padding-top-30 flex-row flex-center">
        <div class="confirm-container margin-left-10 margin-right-10">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon inline="true" class="vertical-align-bottom">error</mat-icon>
                        {{ 'pages.confirmEmail.error.title' | translate }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{ 'pages.confirmEmail.error.descriptionPrefix' | translate }}
                    {{ 'pages.confirmEmail.error.descriptionMiddle' | translate }}
                    <a routerLink="/forgot-password">{{ 'pages.confirmEmail.error.resetPasswordLink' | translate }}</a>
                    {{ 'pages.confirmEmail.error.descriptionSuffix' | translate }}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
}
