@if (isReady()) {
    <div @fadeIn [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
        <div class="business-card-messages">

            <div class="width-100 margin-bottom-20">
                <section [ngClass]="{ 'flex-row': !isHandset(), 'flex-column': isHandset() }">
                    <h1 class="width-100">
                        <div class="flex-row flex-space-between flex-align-center width-100">
                            <div>{{ cardTitle() }}</div>
                            <div class="text-muted fs-60 title-date">{{ cardCreatedDate() | date:'medium' }}</div>
                        </div>
                        <div class="fs-60 text-muted">{{ cardNote() }}</div>
                    </h1>
                </section>
                @if (cardClientUser(); as internalUser) {
                    <div class="flex-row flex-align-center gap-8">
                        <div>
                            <app-avatar [user]="internalUser" [size]="avatarSize.verysmall"></app-avatar>
                        </div>
                        <div class="flex-row flex-responsive username">
                            <div class="fullname">
                                <div class="margin-right-5 fw-400">{{ cardClientName() }}</div>
                            </div>
                            @if (cardClientEmail()) {
                                <div class="fw-400 fs-90 text-muted account">{{ cardClientEmail() }}</div>
                            }
                        </div>
                        <div class="flex-grow-2">
                            <button type="button" (click)="openUpdateSharedBusinessCardDialog()" class="icon-only pull-right" mat-stroked-button aria-label="Edit"><mat-icon class="fill-symbol">edit</mat-icon></button>
                            <button type="button" (click)="openQrCodeDialog()" class="icon-only pull-right margin-right-10" mat-stroked-button aria-label="QR code"><mat-icon class="fill-symbol">qr_code_2</mat-icon></button>
                        </div>
                    </div>
                }
            </div>

            @for(message of cardMessages(); track message) {
                @if (isAuthor(message)) {
                    <div class="flex-row flex-end business-card-message-author">
                        <div class="margin-top-5">
                            <div class="business-card-message-text">{{ message.message }}</div>
                        </div>
                    </div>
                } @else {
                    <div>
                        <div class="text-muted fs-80">{{ cardClientName() }}</div>
                        <div class="business-card-message-text">{{ message.message }}</div>
                    </div>
                }
            }

            <div class="margin-bottom-20 margin-top-20">
                <form>
                    <mat-form-field appearance="outline">
                        <input type="text" matInput name="totalCost" #totalCost="ngModel" [(ngModel)]="message" placeholder="Send message..." aria-label="Message" />
                        <button matSuffix mat-flat-button type="submit" color="primary" class="margin-right-10" (click)="sendMessage()" aria-label="Send">Send</button>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
}