<form name="form" (ngSubmit)="commentForm.form.valid && onSubmitComment()" #commentForm="ngForm" novalidate>
    <div class="flex-row gap-8 comment-add small-text-input">
        <div>
            <app-avatar [user]="signedInUser()" [size]="avatarSize.big"></app-avatar>
        </div>
        <div class="flex-grow-1">
            <mat-form-field appearance="outline" class="width-100">
                <mat-label>Comment</mat-label>
                <textarea
                    matInput
                    [name]="'comment' + status().id"
                    cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"
                    placeholder="Leave a comment"
                    #commentInput="ngModel"
                    [(ngModel)]="comment"
                    aria-label="Leave a comment"
                    [appMaxLength]="maxStatusLength().toString()">
                </textarea>

                @if (showCancel()) {
                    <mat-hint class="text-muted" align="start">
                        <a href="javascript:void(0)" (click)="onCancel()">Cancel</a>
                    </mat-hint>
                }

                <mat-hint class="text-muted" align="end">{{ comment()?.length ?? "0" }}/{{ maxStatusLength() }}</mat-hint>

                @if (commentInput.touched && commentInput.invalid && commentInput.errors?.appMaxLength) {
                    <mat-error>
                        Too long comment.
                    </mat-error>
                }

                @if (commentInput.touched && commentInput.invalid && commentInput.errors?.required) {
                    <mat-error>
                        Comment required.
                    </mat-error>
                }
            </mat-form-field>

        </div>
        <button type="submit" mat-flat-button color="primary" [disabled]="isDuringSave() || !commentEntered()">Send</button>
    </div>
</form>