<form name="form" (ngSubmit)="f.form.valid && onSubmitComment()" #f="ngForm" novalidate>
    <div class="flex-row gap-8 comment-add small-text-input">
        <div>
            <app-avatar [user]="signedInUser" [size]="avatarSize.big"></app-avatar>
        </div>
        <div class="flex-grow-1">
            <mat-form-field appearance="outline" class="width-100">
                <mat-label>Comment</mat-label>
                <input matInput [name]="'comment' + status?.id" #commentInput="ngModel" [(ngModel)]="comment"
                    placeholder="Comment" aria-label="Comment" required="" appMaxLength="100" />
                <mat-error *ngIf="commentInput.invalid && commentInput.errors?.appMaxLength">
                    Too long comment.
                </mat-error>
                <mat-error *ngIf="commentInput.invalid && commentInput.errors?.required">
                    Comment required.
                </mat-error>
            </mat-form-field>
            <a *ngIf="showCancel" href="javascript:void(0)" (click)="cancel()">Cancel</a>
        </div>
        <button type="submit" mat-flat-button color="primary">Send</button>
    </div>
</form>