.comment-add {
    img {
        padding-top: 1px;
        width: 42px;
        height:42px;
        border-radius: 15%;
    }

    button {
        margin-top: 4px;
    }

    a {
        position: relative;
        top: -20px;
    }
}