<div animate.enter="fade-in" class="flex-row flex-center padding-top-30">
    <div class="error-container margin-left-10 margin-right-10">
        <h1><mat-icon [inline]="true" class="text-muted vertical-align-bottom">https</mat-icon> Page not found</h1>
        <p>
            We're sorry, the page you requested could not be found.
            Please go back to the <a routerLink="/home" aria-label="Home page">homepage</a> or contact with system administrator.
        </p>
        <mat-progress-bar mode="determinate" color="accent" [value]="value()"></mat-progress-bar>
    </div>
</div>