@if (isReady()) {
    @if (events(); as eventsArray) {
        <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
            <div class="flex-row flex-space-around padding-left-10 padding-right-10">
                <div class="width-100">
                    <section class="flex-row flex-space-between flex-align-center margin-bottom-20" [ngClass]="{ 'flex-row': !isHandset(), 'flex-column': isHandset() }">
                        <h1>
                            <div>{{ 'pages.statusEvents.title' | translate }}</div>
                            @if (!isHandset()) {
                                <div class="fs-60 text-muted">
                                    {{ 'pages.statusEvents.subtitlePrefix' | translate }}<a [routerLink]="['/statuses', this.statusId()]">{{ 'pages.statusEvents.statusLink' | translate }}</a>{{ 'pages.statusEvents.subtitleSuffix' | translate }}
                                </div>
                            }
                        </h1>
                    </section>

                    <div class="search width-100">
                        <mat-card class="margin-bottom-20" appearance="outlined">
                            <mat-card-content>
                                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                    <div class="flex-row flex-align-center flex-space-between gap-16">
                                        <div class="flex-row flex-align-center gap-16">
                                            @if (!isHandset()) {
                                                <mat-form-field appearance="outline">
                                                    <mat-label>{{ 'pages.activityPubEvents.filters.action.label' | translate }}</mat-label>
                                                    <mat-select [(value)]="type">
                                                        <mat-option value="">{{ 'pages.activityPubEvents.common.all' | translate }}</mat-option>
                                                        <mat-option value="create">{{ 'pages.activityPubEvents.action.create' | translate }}</mat-option>
                                                        <mat-option value="update">{{ 'pages.activityPubEvents.action.update' | translate }}</mat-option>
                                                        <mat-option value="like">{{ 'pages.activityPubEvents.action.like' | translate }}</mat-option>
                                                        <mat-option value="unlike">{{ 'pages.activityPubEvents.action.undoLike' | translate }}</mat-option>
                                                        <mat-option value="announce">{{ 'pages.activityPubEvents.action.announce' | translate }}</mat-option>
                                                        <mat-option value="unannounce">{{ 'pages.activityPubEvents.action.undoAnnounce' | translate }}</mat-option>
                                                        <mat-option value="pin">{{ 'pages.activityPubEvents.action.pinStatus' | translate }}</mat-option>
                                                        <mat-option value="unpin">{{ 'pages.activityPubEvents.action.unpinStatus' | translate }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            }

                                            <mat-form-field appearance="outline">
                                                <mat-label>{{ 'pages.activityPubEvents.filters.result.label' | translate }}</mat-label>
                                                <mat-select [(value)]="result">
                                                    <mat-option value="">{{ 'pages.activityPubEvents.common.all' | translate }}</mat-option>
                                                    <mat-option value="waiting">{{ 'pages.activityPubEvents.result.waiting' | translate }}</mat-option>
                                                    <mat-option value="processing">{{ 'pages.activityPubEvents.result.processing' | translate }}</mat-option>
                                                    <mat-option value="finished">{{ 'pages.activityPubEvents.result.finished' | translate }}</mat-option>
                                                    <mat-option value="finishedWithErrors">{{ 'pages.activityPubEvents.result.finishedWithErrors' | translate }}</mat-option>
                                                    <mat-option value="failed">{{ 'pages.activityPubEvents.result.failed' | translate }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            @if (!isHandset()) {
                                                <mat-form-field appearance="outline">
                                                    <mat-label>{{ 'pages.activityPubEvents.filters.sorting.label' | translate }}</mat-label>
                                                    <mat-select [(value)]="sortColumn">
                                                        <mat-option value="startAt">{{ 'pages.activityPubEvents.filters.sorting.startDate' | translate }}</mat-option>
                                                        <mat-option value="endAt">{{ 'pages.activityPubEvents.filters.sorting.endDate' | translate }}</mat-option>
                                                        <mat-option value="createdAt">{{ 'common.dates.createdDate' | translate }}</mat-option>
                                                        <mat-option value="updatedAt">{{ 'pages.activityPubEvents.filters.sorting.updatedDate' | translate }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            }
                                        </div>
                                        <button type="submit" matButton="outlined">{{ 'common.actions.search' | translate }}</button>
                                    </div>
                                    <div class="margin-top-5">
                                        @if (!isHandset()) {
                                            <mat-radio-group name="sortDirection" [(ngModel)]="sortDirection" [attr.aria-label]="'pages.activityPubEvents.filters.sortDirection.label' | translate">
                                                <mat-radio-button value="ascending">{{ 'common.sort.ascending' | translate }}</mat-radio-button>
                                                <mat-radio-button value="descending">{{ 'common.sort.descending' | translate }}</mat-radio-button>
                                            </mat-radio-group>
                                        }
                                    </div>
                                </form>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <table mat-table [dataSource]="eventsArray.data" class="mat-elevation-z1">

                        <!-- Type Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEvents.table.action' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                @switch (element.type) {
                                    @case ('create') {
                                        <span>{{ 'pages.activityPubEvents.action.create' | translate }}</span>
                                    }
                                    @case ('update') {
                                        <span>{{ 'pages.activityPubEvents.action.update' | translate }}</span>
                                    }
                                    @case ('like') {
                                        <span>{{ 'pages.activityPubEvents.action.like' | translate }}</span>
                                    }
                                    @case ('unlike') {
                                        <span>{{ 'pages.activityPubEvents.action.undoLike' | translate }}</span>
                                    }
                                    @case ('announce') {
                                        <span>{{ 'pages.activityPubEvents.action.announce' | translate }}</span>
                                    }
                                    @case ('unannounce') {
                                        <span>{{ 'pages.activityPubEvents.action.undoAnnounce' | translate }}</span>
                                    }
                                    @case ('pin') {
                                        <span>{{ 'pages.activityPubEvents.action.pinStatus' | translate }}</span>
                                    }
                                    @case ('unpin') {
                                        <span>{{ 'pages.activityPubEvents.action.unpinStatus' | translate }}</span>
                                    }
                                }
                            </td>
                        </ng-container>

                        <!-- Result Column -->
                        <ng-container matColumnDef="result">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEvents.table.result' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                @switch (element.result) {
                                    @case ('waiting') {
                                        <span>{{ 'pages.activityPubEvents.result.waiting' | translate }}</span>
                                    }
                                    @case ('processing') {
                                        <span>{{ 'pages.activityPubEvents.result.processing' | translate }}</span>
                                    }
                                    @case ('finished') {
                                        <span>{{ 'pages.activityPubEvents.result.finished' | translate }}</span>
                                    }
                                    @case ('finishedWithErrors') {
                                        <span>{{ 'pages.activityPubEvents.result.finishedWithErrorsInParens' | translate }}</span>
                                    }
                                    @case ('failed') {
                                        <span>{{ 'pages.activityPubEvents.result.failed' | translate }}</span>
                                    }
                                }

                                @if (element.errorMessage) {
                                    <div class="fs-80">
                                        <a href="javascript:void(0)" (click)="onOpenErrorMessage(element)">{{ 'pages.activityPubEvents.table.errorMessage' | translate }}</a>
                                    </div>
                                }
                            </td>
                        </ng-container>

                        <!-- User Name Column -->
                        <ng-container matColumnDef="user">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEvents.table.user' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="user-name-link">
                                    <a [routerLink]="['/@' + element.user.userName ]">
                                        {{ element.user.userName }}
                                    </a>
                                </div>
                                <div class="name">
                                    {{ element.name }}
                                </div>
                            </td>
                        </ng-container>

                        <!-- Attempts Column -->
                        <ng-container matColumnDef="attempts">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEvents.table.attempts' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                <span>
                                    {{ element.attempts }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Created Date Column -->
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef>{{ 'common.dates.createdDate' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.createdAt) {
                                    <span>
                                        {{ element.createdAt | localizedDate: 'short' }}
                                    </span>
                                }
                            </td>
                        </ng-container>

                        <!-- Start Date Column -->
                        <ng-container matColumnDef="startAt">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEvents.table.startDate' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.startAt) {
                                    <span>
                                        {{ element.startAt | localizedDate: 'short' }}
                                    </span>
                                }
                            </td>
                        </ng-container>

                        <!-- Start Date Column -->
                        <ng-container matColumnDef="endAt">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEvents.table.endDate' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.endAt) {
                                    <span>
                                        {{ element.endAt | localizedDate: 'short' }}
                                    </span>
                                }
                            </td>
                        </ng-container>

                        <!-- Actions Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element" class="text-right">
                                <a [routerLink]="['/statuses', this.statusId(), 'events', element.id, 'items']">{{ 'common.labels.details' | translate }}</a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
                    </table>
                    <mat-paginator
                        (page)="handlePageEvent($event)"
                        [length]="eventsArray.total"
                        [pageIndex]="pageIndex()"
                        [pageSize]="10"
                        [pageSizeOptions]="[10, 25, 100]"
                        [attr.aria-label]="'common.paginator.selectPage' | translate">
                    </mat-paginator>
                </div>
            </div>
        </div>
    }
}
