<div class="padding-top-30" animate.enter="fade-in">
    <div class="flex-row flex-center">
        <div class="login-container margin-left-10 margin-right-10">
            <!-- Sign in via username and password. -->
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Log in to Vernissage</mat-card-title>
                        <mat-card-subtitle>Enter your credentials to sign in to the system</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="login-content">
                            @if (loginPageMode() === loginMode.UserNameAndPassword) {
                                <!-- Username. -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Username or email</mat-label>
                                    <input type="text" matInput [errorStateMatcher]="dirtyErrorStateMatcher" name="userNameOrEmail" [(ngModel)]="userNameOrEmail" #userNameOrEmailInput="ngModel" placeholder="Username or email" aria-label="Username or email" required />

                                    @if (userNameOrEmailInput.dirty && userNameOrEmailInput.invalid && userNameOrEmailInput.errors?.required) {
                                        <mat-error>Enter username or email.</mat-error>
                                    }
                                </mat-form-field>

                                <!-- Password. -->
                                <div class="text-right">
                                    <a routerLink="/forgot-password">Forgot password?</a>
                                </div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input type="password" matInput [errorStateMatcher]="dirtyErrorStateMatcher" name="password" [(ngModel)]="password" #passwordInput="ngModel" placeholder="Password" aria-label="Password" required />

                                    @if (passwordInput.dirty && passwordInput.invalid && passwordInput.errors?.required) {
                                        <mat-error>Enter password.</mat-error>
                                    }
                                </mat-form-field>
                            } @else {
                                <!-- Token 2FA. -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Token</mat-label>
                                    <input type="text" matInput [errorStateMatcher]="alwaysErrorStateMatcher" inputmode="numeric" name="token" [(ngModel)]="twoFactorToken" #twoFactorTokenInput="ngModel" placeholder="Two factor token" aria-label="Two factor token" required />
                                    @if (tokenMessage()) {
                                        <mat-error>{{ tokenMessage() }}</mat-error>
                                    }
                                </mat-form-field>
                                <mat-checkbox class="margin-bottom-20" name="trustMachine" [disableRipple]="true" [(ngModel)]="trustMachine">
                                    Trust this machine for the next 30 days.
                                </mat-checkbox>
                            }
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="flex-row flex-align-center gap-8 login-actions">
                            @if (loginPageMode() === loginMode.TwoFactorToken) {
                                <button type="button" mat-stroked-button (click)="onCancelTwoFactor()" [disabled]="isSubmitting()" aria-label="Cancel">Cancel</button>
                            }
                            <button type="submit" mat-flat-button [disabled]="isSubmitting()" color="primary" aria-label="Login">Login</button>

                            @if (isSubmitting()) {
                                <mat-spinner [diameter]="18"></mat-spinner>
                            }

                            @if (errorMessage(); as errorMessageString) {
                                <div class="mat-small text-error">{{ errorMessageString }}</div>
                            }
                        </div>
                    </mat-card-actions>

                    @if (isRegistrationEnabled()) {
                        <mat-card-footer>
                            <!-- Register new account. -->
                            <div class="text-center">
                                <p>You don't have an account yet? <a routerLink="/register">Sign up</a>.</p>
                            </div>
                        </mat-card-footer>
                    }
                </mat-card>
            </form>

            <!-- Sign in via external account. -->
            @if (authClients(); as authClientsArray) {
                @if (authClientsArray.length > 0) {
                    <div class="separator margin-top-20 margin-bottom-20">Or via Social Account</div>
                    <div class="external-sign-in">
                        @for (authClient of authClientsArray; track authClient.id) {
                            <div>
                                <a [href]="getExternalProviderUrl(authClient)" type="button" mat-flat-button color="basic">
                                    @if (authClient.svgIcon) {
                                        <div class='icon' [innerHTML]="authClient.svgIcon | sanitizeHtml"></div>
                                    }
                                    &nbsp;{{ authClient.name }}
                                </a>
                            </div>
                        }
                    </div>
                }
            }

            <!-- Footer with privacy policy. -->
            <app-footer></app-footer>
        </div>
    </div>
</div>