<div *ngIf="isReady" @fadeIn>

    <div class="flex-row flex-align-center flex-space-between margin-bottom-20" [ngClass]="{ 'padding-left-30 padding-right-30 padding-top-30': !isHandset, 'padding-left-10 padding-right-10 padding-top-10': isHandset }">
        <h1>Editor's choice</h1>

        <section class="small-button-toggle">
            <mat-button-toggle-group [(ngModel)]="tab" (ngModelChange)="onSelectionChange()" [hideSingleSelectionIndicator]="true" aria-label="Trending type">
                @if (showStatusesButton) {
                    <mat-button-toggle value="statuses"><mat-icon>insert_photo</mat-icon><span *ngIf="!isHandset"> Photos</span></mat-button-toggle>
                }
                @if (showUsersButton) {
                    <mat-button-toggle value="users"><mat-icon>groups</mat-icon><span *ngIf="!isHandset"> Artists</span></mat-button-toggle>
                }
            </mat-button-toggle-group>
        </section>
    </div>

    @if (statuses) {
        <app-gallery *ngIf="selectedTab === 'statuses'" [statuses]="statuses" [isDetached]="isDetached"></app-gallery>
    }

    <app-users-gallery *ngIf="selectedTab === 'users'" [users]="users"></app-users-gallery>
</div>
