@if (isReady()) {
    <div animate.enter="fade-in">
        <div class="flex-row flex-align-center flex-space-between margin-bottom-20" [ngClass]="{ 'padding-left-30 padding-right-30 padding-top-30': !isHandset(), 'padding-left-10 padding-right-10 padding-top-10': isHandset() }">
            <h1>
                <div>{{ 'pages.editors.title' | translate }}</div>
                @if (!isHandset()) {
                    @switch (selectedTab()) {
                        @case ('statuses') {
                            <div class="fs-60 text-muted">{{ 'pages.editors.subtitles.statuses' | translate }}</div>
                        }
                        @case ('users') {
                            <div class="fs-60 text-muted">{{ 'pages.editors.subtitles.users' | translate }}</div>
                        }
                    }
                }
            </h1>

            <section class="small-button-toggle">
                <mat-button-toggle-group [(ngModel)]="tab" (ngModelChange)="onSelectionChange()" [hideSingleSelectionIndicator]="true" [attr.aria-label]="'pages.editors.tabAriaLabel' | translate">
                    @if (showStatusesButton()) {
                        <mat-button-toggle value="statuses"><mat-icon>insert_photo</mat-icon>
                            @if (!isHandset()) {
                                <span> {{ 'common.labels.photosLabel' | translate: { count: 2 } }}</span>
                            }
                        </mat-button-toggle>
                    }

                    @if (showUsersButton()) {
                        <mat-button-toggle value="users"><mat-icon>groups</mat-icon>
                            @if (!isHandset()) {
                                <span> {{ 'common.labels.artists' | translate }}</span>
                            }
                        </mat-button-toggle>
                    }
                </mat-button-toggle-group>
            </section>
        </div>

        @if (selectedTab() === 'statuses') {
            @if (statuses(); as statusesArray) {
                <app-gallery [statuses]="statusesArray" [startUrl]="pageUrl"></app-gallery>
            }
        }

        @if (selectedTab() === 'users') {
            @if (users(); as usersArray) {
                <app-users-gallery [users]="usersArray"></app-users-gallery>
            }
        }

    </div>
}
