.privacy-container {
    max-width: 640px;

    h2 {
        margin-top: 24px;
        margin-bottom: 12px;
    }

    ul {
        margin-bottom: 0;
    }

    li {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    div {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}
