@if (isReady()) {
    <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">

        <div class="flex-row flex-space-around">
            <div class="privacy-container width-100">

                <div class="flex-row flex-align-center flex-space-between margin-bottom-10">
                    <h1>{{ 'pages.privacy.title' | translate }}</h1>
                    <div>{{ 'common.labels.lastUpdate' | translate }}: {{ privacyPolicyUpdatedAt() }}</div>
                </div>

                <div [innerHTML]="privacyPolicyContent()"></div>
            </div>
        </div>
    </div>
}
