<div animate.enter="fade-in" class="flex-row flex-center padding-top-30">
    <div class="error-container margin-left-10 margin-right-10">
        <h1><mat-icon [inline]="true" class="text-muted vertical-align-bottom">explore</mat-icon> {{ 'pages.errors.connectionLost.title' | translate }}</h1>
        <p>
            {{ 'pages.errors.connectionLost.description' | translate }}
            {{ 'common.errors.goBackPrefix' | translate }}<a routerLink="/home" [attr.aria-label]="'common.labels.homePage' | translate">{{ 'common.errors.goBackLink' | translate }}</a>{{ 'common.errors.goBackSuffix' | translate }}
        </p>
    </div>
</div>
