@if (categories?.length) {
    <div *ngFor="let category of categories">
        <div class="hashtag-header">
            <a [routerLink]="['/categories', category.name]">
                <mat-icon>loyalty</mat-icon> {{ category.name }}
            </a>
        </div>
        <div class="images-container">
            <div class="flex-row">
                <ng-container *ngFor="let status of getStatuses(category.name); trackBy:trackByFn">
                    <a [routerLink]="['/statuses', status.id]" [ariaLabel]="'Status added by: ' + getMainStatus(status).user?.userName" (click)="onStatusClick(category.name)">
                        @if (getMainStatus(status).sensitive) {
                            <div class="blurhash">
                                <app-blurhash-image
                                    [horizontal]="true"
                                    [imageSrc]="getMainAttachmentSrc(status)"
                                    [alt]="getMainAttachmentAlt(status)"
                                    [blurhash]="getMainAttachmentBlurhash(status)"
                                    [text]="getMainStatus(status).contentWarning"
                                    [user]="getMainStatus(status).user">
                                </app-blurhash-image>
                            </div>
                        } @else {
                            <div class="image">
                                <app-image
                                    [horizontal]="true"
                                    [imageSrc]="getMainAttachmentSrc(status)"
                                    [alt]="getMainAttachmentAlt(status)"
                                    [user]="getMainStatus(status).user">
                                </app-image>
                            </div>
                        }
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
} @else {
    <div class="text-muted padding-top-30 width-100 text-center">
        <h2>
            Unfortunatelly, there is nothing to see here yet.
        </h2>
    </div>
}