.register-container {
    width: 480px;

    mat-form-field {
        width: 100%;
    }

    .captcha {
        img {
            border-radius: 6px;
        }
    }

    .register-actions {
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 10px;
    }
}
