<div class="padding-top-30" @fadeIn>
    <div class="flex-row flex-center">
        <div class="register-container margin-left-10 margin-right-10">
            <form name="form" (ngSubmit)="f.form.valid && passwordIsValid() && onSubmit()" #f="ngForm" novalidate>
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Create new account</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="margin-bottom-20">
                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input type="text" matInput name="userName" [(ngModel)]="userName" #userNameInput="ngModel"
                                    aria-label="Username" required pattern="^[a-zA-Z0-9]*$" appUniqueUserName appMaxLength="50" />
                                <mat-error *ngIf="userNameInput.invalid && userNameInput.errors?.required">Enter username.</mat-error>
                                <mat-error *ngIf="userNameInput.invalid && userNameInput.errors?.pattern">Only alphanumeric characters are allowed in user name.</mat-error>
                                <mat-error *ngIf="userNameInput.invalid && userNameInput.errors?.appUniqueUserName">Choose a different user name, this one is already taken.</mat-error>
                                <mat-error *ngIf="userNameInput.invalid && userNameInput.errors?.appMaxLength">Choose a different user name, this one is too long.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput name="email" [(ngModel)]="email" #emailInput="ngModel"
                                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                                aria-label="Email" appUniqueEmail required />
                                <mat-error *ngIf="emailInput.invalid && emailInput.errors?.required">Enter email.</mat-error>
                                <mat-error *ngIf="emailInput.invalid && emailInput.errors?.pattern">Verify that you've entered proper email.</mat-error>
                                <mat-error *ngIf="emailInput.invalid && emailInput.errors?.appUniqueEmail">Choose other email, this one is already connected to different account.</mat-error>
                            </mat-form-field>

                            <small class="text-muted text-right">
                                Don't worry. This info is sacred for us. We won't ever show, sell or abuse it.
                            </small>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-form-field appearance="outline">
                                <mat-label>Display name</mat-label>
                                <input type="text" matInput name="name" [(ngModel)]="fullName" #name="ngModel" aria-label="Name" required appMaxLength="50" />
                                <mat-error *ngIf="name.invalid && name.errors?.required">Enter name.</mat-error>
                                <mat-error *ngIf="name.invalid && name.errors?.appMaxLength">Name is too long.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-form-field appearance="outline">
                                <mat-label>Language</mat-label>
                                <mat-select [(value)]="locale">
                                    <mat-option value="en_US">English (English)</mat-option>
                                    <mat-option value="pl_PL">Polish (polski)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="margin-bottom-20">
                            <app-password [(passwordText)]="password" (passwordValid)="onPasswordValid($event)" [form]="f"></app-password>
                        </div>

                        <mat-divider class="padding-bottom-20"></mat-divider>

                        <div>
                            <h4>Server rules</h4>
                            <ul>
                                @for(rule of serverRules(); track rule.id) {
                                    <li>{{ rule.text }}</li>
                                }
                            </ul>
                        </div>

                        <div class="margin-bottom-20">
                            <mat-checkbox name="agreement" [disableRipple]="true" [(ngModel)]="agreement">
                                I accept all server rules.
                            </mat-checkbox>
                        </div>

                        @if (isRegistrationByInvitationsOpened() || isRegistrationByApprovalOpened() || isQuickCaptchaEnabled()) {
                            <mat-divider class="padding-bottom-20"></mat-divider>
                        }

                        @if (isRegistrationByInvitationsOpened()) {
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Invitation code</mat-label>
                                    <input type="text" matInput name="inviteToken" [(ngModel)]="inviteToken" #inviteTokenInput="ngModel" aria-label="Invitation token" appMaxLength="11" [required]="!isRegistrationByApprovalOpened()" />
                                    <mat-error *ngIf="inviteTokenInput.invalid && inviteTokenInput.errors?.required">Enter invitation code.</mat-error>
                                    <mat-error *ngIf="inviteTokenInput.invalid && inviteTokenInput.errors?.appMaxLength">Invitation code is too long.</mat-error>
                                </mat-form-field>
                            </div>
                        }

                        @if (isRegistrationByApprovalOpened()) {
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Reason</mat-label>
                                    <textarea matInput name="reason" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                                            cdkAutosizeMaxRows="6"  #reasonInput="ngModel" [(ngModel)]="reason"
                                            aria-label="Reason" appMaxLength="500" [required]="!isRegistrationByInvitationsOpened()"></textarea>
                                    <mat-error *ngIf="reasonInput.invalid && reasonInput.errors?.required">Enter reason.</mat-error>
                                    <mat-error *ngIf="reasonInput.invalid && reasonInput.errors?.appMaxLength">Reason is too long.</mat-error>
                                </mat-form-field>
                            </div>
                        }

                        @if (isQuickCaptchaEnabled()) {
                            <div>
                                <h4>Solve the captcha</h4>
                                <div class="flex-row gap-16">
                                    <div class="flex-align-center captcha">
                                        <img [src]="apiUrl() +'/api/v1/quick-captcha/generate?key=' + securityKey()" class="captcha-image" alt="Captcha" />
                                    </div>
                                    <div class="flex-align-center">
                                        <button class="margin-top-15" type="button" mat-stroked-button (click)="onCaptchaRefreshClick()" aria-label="Refresh captcha">
                                            Refresh
                                        </button>
                                    </div>
                                </div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Captcha text</mat-label>
                                    <input type="text" matInput name="captcha" [(ngModel)]="securityText" #captchaInput="ngModel" aria-label="Captcha text" appMaxLength="6" required />
                                    <mat-error *ngIf="captchaInput.invalid && captchaInput.errors?.required">Enter captcha text.</mat-error>
                                    <mat-error *ngIf="captchaInput.invalid && captchaInput.errors?.appMaxLength">Captcha text is too long.</mat-error>
                                </mat-form-field>
                            </div>
                        }

                    </mat-card-content>

                    <mat-card-actions>
                        <div class="flex-row register-actions">
                            <button type="submit" mat-flat-button (click)="onRegisterClick()" [disabled]="isSubmittingMode()" color="primary" aria-label="Register">Register</button>
                            
                            @if (isSubmittingMode()) {
                                <mat-spinner [diameter]="18" class="margin-left-10 margin-top-5"></mat-spinner>
                            }

                            @if (isErrorMode()) {
                                <div class="mat-small text-error margin-left-10 margin-top-10">{{ errorMessage() }}</div>
                            }
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>

            <!-- Footer with privacy policy. -->
            <app-footer></app-footer>
        </div>
    </div>
</div>
