.images-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 20px;

    .image {
        height: 300px;
        padding-right: 6px;
    }

    .blurhash {
        height: 300px;
        padding-right: 6px;
    }
}