<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>{{ 'dialogs.moveAccount.texts.moveAccount' | translate }}</div>
    <div mat-dialog-content>

        <div class="padding-top-5 text-muted fs-90">
            <p>
                This action will move your account to another account in the Fediverse, such as another Vernissage,
                Mastodon, Pixelfed, or compatible ActivityPub server.
            </p>

            <p>
                After the migration is started, your followers will be notified about your new account.
                If their servers support account migration, they may automatically unfollow this account and follow your new account instead.
            </p>

            <p>
                Please read the following information carefully before continuing:
            </p>

            <ul>
                <li>{{ 'dialogs.moveAccount.texts.onlyYourFollowersWillBeMovedAutomatically' | translate }}</li>
                <li>{{ 'dialogs.moveAccount.texts.yourPostsPhotosCommentsLikesBookmarksFollowed' | translate }}</li>
                <li>{{ 'dialogs.moveAccount.texts.yourCurrentProfileWillBeMarkedAs' | translate }}</li>
                <li>{{ 'dialogs.moveAccount.texts.yourCurrentAccountMayNoLongerBe' | translate }}</li>
                <li>{{ 'dialogs.moveAccount.texts.theNewAccountMustFirstBeConfigured' | translate }}</li>
                <li>{{ 'dialogs.moveAccount.texts.afterMovingThereMayBeAWaiting' | translate }}</li>
                <li>{{ 'dialogs.moveAccount.texts.youShouldExportYourDataBeforeContinuing' | translate }}</li>
            </ul>
        </div>

        <div class="margin-bottom-10 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>{{ 'common.labels.account' | translate }}</mat-label>
                <input type="text" matInput name="account" [(ngModel)]="account" #accountInput="ngModel" [attr.aria-label]="'dialogs.moveAccount.attrs.account' | translate" required />

                @if (accountInput.invalid && accountInput.errors?.required) {
                    <mat-error>{{ 'dialogs.moveAccount.texts.enterNewAccount' | translate }}</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="margin-bottom-20 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>{{ 'common.labels.password' | translate }}</mat-label>
                <input type="password" matInput name="password" [(ngModel)]="password" #passwordInput="ngModel" [attr.aria-label]="'dialogs.moveAccount.attrs.password' | translate" required />

                @if (passwordInput.invalid && passwordInput.errors?.required) {
                    <mat-error>{{ 'dialogs.moveAccount.texts.enterPassword' | translate }}</mat-error>
                }
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button matButton="text" type="button" (click)="onNoClick()">{{ 'common.actions.cancel' | translate }}</button>
        <button matButton="filled" type="submit" cdkFocusInitial>{{ 'components.dialogCommon.actions.move' | translate }}</button>
    </div>
</form>