.article-container {
    max-width: 640px;

    mat-form-field {
        width: 100%;
    }

    .images-container {
        img {
            max-width: 120px;
            max-height: 80px;
        }

        @media only screen and (max-width: 768px) {
            img {
                max-width: 60px;
                max-height: 40px;
            }
        }
    }
}