@if (isReady()) {
    <div @fadeIn [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
        <div class="flex-row flex-space-around">
            <div class="article-container width-100">
                <section>
                    <h1>Article content</h1>
                </section>

                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                    <mat-card class="margin-bottom-20" appearance="outlined">
                        <mat-card-content>
                            <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                <mat-form-field appearance="outline">
                                    <mat-label>Title</mat-label>
                                    <input type="text" matInput name="title" #titleInput="ngModel" [(ngModel)]="title"
                                        placeholder="Title" aria-label="Title" appMaxLength="200" />
                                    <mat-error *ngIf="titleInput.invalid && titleInput.errors?.appMaxLength">
                                        Too long title.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                <mat-form-field appearance="outline">
                                    <mat-label>Article body</mat-label>
                                    <textarea matInput name="body" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="8"
                                        cdkAutosizeMaxRows="26" placeholder="Article body" #bodyInput="ngModel" [(ngModel)]="body"
                                        aria-label="Article body" appMaxLength="50000" required></textarea>
                                    <mat-hint align="end"><span class="text-muted">This field supports Markdown formatting.</span></mat-hint>
                                    <mat-error *ngIf="bodyInput.invalid && bodyInput.errors?.appMaxLength">Too long article body.</mat-error>
                                    <mat-error *ngIf="bodyInput.invalid && bodyInput.errors?.required">Enter article body.</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                <mat-form-field appearance="outline">
                                    <mat-label>Color</mat-label>
                                    <input type="text" matInput name="color" #colorInput="ngModel" [(ngModel)]="color"
                                        placeholder="Color" aria-label="Color" appMaxLength="200" />
                                    <mat-hint align="end"><span class="text-muted">You can use CSS-compatible colors here, e.g., #00ff0020.</span></mat-hint>
                                    <mat-error *ngIf="colorInput.invalid && colorInput.errors?.appMaxLength">
                                        Too long color.
                                    </mat-error>
                                    
                                </mat-form-field>
                            </div>

                            <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-40">
                                <mat-form-field appearance="outline">
                                    <mat-label>Alternative author</mat-label>
                                    <input type="text" matInput name="alternativeAuthor" #alternativeAuthorInput="ngModel" [(ngModel)]="alternativeAuthor"
                                        placeholder="Color" aria-label="Alternative author" appMaxLength="500" />
                                    <mat-hint align="end">
                                        <span class="text-muted">
                                            You can set an alternative handle for a user's account in the Fediverse.
                                            It will be displayed as the author in thumbnails generated based on OpenGraph tags.
                                        </span>
                                    </mat-hint>
                                    <mat-error *ngIf="alternativeAuthorInput.invalid && alternativeAuthorInput.errors?.appMaxLength">
                                        Too long user name.
                                    </mat-error>
                                    
                                </mat-form-field>
                            </div>

                            <h3>Visibilities</h3>
                        
                            <div class="padding-bottom-20">
                                <div>
                                    <mat-checkbox name="showInNewsSignIn" color="primary" [disableRipple]="true" [(ngModel)]="showInNewsSignIn">
                                        News - sign in
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox name="showInNewsSignOut" color="primary" [disableRipple]="true" [(ngModel)]="showInNewsSignOut">
                                        News - sign out
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox name="showInHomeSignIn" color="primary" [disableRipple]="true" [(ngModel)]="showInHomeSignIn">
                                        Home - sign in
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox name="showInHomeSignOut" color="primary" [disableRipple]="true" [(ngModel)]="showInHomeSignOut">
                                        Home - sign out
                                    </mat-checkbox>
                                </div>
                            </div>

                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button type="button" (click)="onCancelClick()">Cancel</button>
                            <button mat-raised-button type="submit" color="accent" class="margin-left-10" cdkFocusInitial>Save</button>
                        </mat-card-actions>
                    </mat-card>
                </form>
            </div>
        </div>
    </div>
}