@if (isReady()) {
    <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
        <div class="flex-row flex-space-around">
            <div class="article-container width-100">
                <section>
                    <h1>{{ 'pages.articleEdit.title' | translate }}</h1>
                </section>

                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                    <mat-card class="margin-bottom-20" appearance="outlined">
                        <mat-card-content>
                            <div class="margin-bottom-10">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'pages.articleEdit.form.title.label' | translate }}</mat-label>
                                    <input type="text" matInput name="title" #titleInput="ngModel" [(ngModel)]="title"
                                        [attr.placeholder]="'pages.articleEdit.form.title.placeholder' | translate" [attr.aria-label]="'pages.articleEdit.form.title.ariaLabel' | translate" appMaxLength="200" />
                                    @if (titleInput.invalid && titleInput.errors?.appMaxLength) {
                                        <mat-error>
                                            {{ 'pages.articleEdit.form.title.errors.tooLong' | translate }}
                                        </mat-error>
                                    }
                                </mat-form-field>
                            </div>

                            <div class="margin-bottom-10">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'pages.articleEdit.form.body.label' | translate }}</mat-label>
                                    <textarea matInput name="body" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="8"
                                        cdkAutosizeMaxRows="26" [attr.placeholder]="'pages.articleEdit.form.body.placeholder' | translate" #bodyInput="ngModel" [(ngModel)]="body"
                                    [attr.aria-label]="'pages.articleEdit.form.body.ariaLabel' | translate" appMaxLength="50000" required></textarea>
                                    <mat-hint align="end"><span class="text-muted">{{ 'pages.articleEdit.form.body.hint' | translate }}</span></mat-hint>
                                    @if (bodyInput.invalid && bodyInput.errors?.appMaxLength) {
                                        <mat-error>{{ 'pages.articleEdit.form.body.errors.tooLong' | translate }}</mat-error>
                                    }
                                    @if (bodyInput.invalid && bodyInput.errors?.required) {
                                        <mat-error>{{ 'pages.articleEdit.form.body.errors.required' | translate }}</mat-error>
                                    }
                                </mat-form-field>
                            </div>

                            <div [ngClass]="{ 'margin-bottom-30': isHandsetPortrait(), 'margin-bottom-10': !isHandsetPortrait() }">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'pages.articleEdit.form.color.label' | translate }}</mat-label>
                                    <input type="text" matInput name="color" #colorInput="ngModel" [(ngModel)]="color"
                                        [attr.placeholder]="'pages.articleEdit.form.color.placeholder' | translate" [attr.aria-label]="'pages.articleEdit.form.color.ariaLabel' | translate" appMaxLength="200" />
                                    <mat-hint align="end"><span class="text-muted">{{ 'pages.articleEdit.form.color.hint' | translate }}</span></mat-hint>
                                    @if (colorInput.invalid && colorInput.errors?.appMaxLength) {
                                        <mat-error>
                                            {{ 'pages.articleEdit.form.color.errors.tooLong' | translate }}
                                        </mat-error>
                                    }

                                </mat-form-field>
                            </div>

                            <div class="margin-bottom-40">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'pages.articleEdit.form.alternativeAuthor.label' | translate }}</mat-label>
                                    <input type="text" matInput name="alternativeAuthor" #alternativeAuthorInput="ngModel" [(ngModel)]="alternativeAuthor"
                                        [attr.placeholder]="'pages.articleEdit.form.alternativeAuthor.placeholder' | translate" [attr.aria-label]="'pages.articleEdit.form.alternativeAuthor.ariaLabel' | translate" appMaxLength="500" />
                                    <mat-hint align="end">
                                        <span class="text-muted">
                                            {{ 'pages.articleEdit.form.alternativeAuthor.hint' | translate }}
                                        </span>
                                    </mat-hint>
                                    @if (alternativeAuthorInput.invalid && alternativeAuthorInput.errors?.appMaxLength) {
                                        <mat-error>
                                            {{ 'pages.articleEdit.form.alternativeAuthor.errors.tooLong' | translate }}
                                        </mat-error>
                                    }
                                </mat-form-field>
                            </div>

                            <div class="margin-bottom-10">
                                <app-language-select [(value)]="language" [includeAll]="true"></app-language-select>
                            </div>

                            <h3 [ngClass]="{ 'padding-top-10': isHandsetPortrait() }">{{ 'pages.articleEdit.visibilities.title' | translate }}</h3>

                            <div class="padding-bottom-20">
                                <div>
                                    <mat-checkbox name="showInNewsSignIn" [disableRipple]="true" [(ngModel)]="showInNewsSignIn">
                                        {{ 'common.articleVisibility.newsSignIn' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox name="showInNewsSignOut" [disableRipple]="true" [(ngModel)]="showInNewsSignOut">
                                        {{ 'common.articleVisibility.newsSignOut' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox name="showInHomeSignIn" [disableRipple]="true" [(ngModel)]="showInHomeSignIn">
                                        {{ 'common.articleVisibility.homeSignIn' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox name="showInHomeSignOut" [disableRipple]="true" [(ngModel)]="showInHomeSignOut">
                                        {{ 'common.articleVisibility.homeSignOut' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>

                            <h3>
                                <div class="flex-row flex-space-between">
                                    <div>{{ 'pages.articleEdit.files.title' | translate }}</div>
                                    <div class="text-right">
                                        <input type="file" hidden (change)="onFileSelected($event)" #fileInput id="file">
                                        <button type="button" matButton="outlined" class="small-button" [attr.aria-label]="'pages.articleEdit.files.uploadAriaLabel' | translate" (click)="fileInput.click()">{{ 'pages.articleEdit.files.upload' | translate }}</button>
                                    </div>
                                </div>
                            </h3>
                            <div class="padding-bottom-20 images-container">
                                @for (item of articleFileInfos(); track item.id) {
                                    <div class="margin-bottom-10">
                                        <div class="flex-row flex-space-between flex-align-center">
                                            <div>
                                                <img [src]="item.url" [attr.alt]="'pages.articleEdit.files.fileAlt' | translate">
                                            </div>
                                            <div>
                                                @if (mainArticleFileInfoId() === item.id) {
                                                    <span class="margin-right-10"><strong>{{ 'pages.articleEdit.files.mainFile' | translate }}</strong></span>
                                                } @else {
                                                    <button type="button" matButton="outlined" class="small-button margin-right-10" [attr.aria-label]="'pages.articleEdit.files.markAsMainAriaLabel' | translate" (click)="onMarkAsMainFile(item)">{{ 'pages.articleEdit.files.markAsMain' | translate }}</button>
                                                }
                                                <button type="button" matButton="outlined" class="icon-only small-button margin-right-10" (click)="onCopyMarkdown(item)" [attr.aria-label]="'pages.articleEdit.files.copyMarkdownAriaLabel' | translate">
                                                    @if (isHandset()) {
                                                        <mat-icon>content_copy</mat-icon>
                                                    } @else {
                                                        <span>{{ 'pages.articleEdit.files.copy' | translate }}</span>
                                                    }
                                                </button>
                                                <button type="button" matButton="outlined" class="icon-only small-button" [attr.aria-label]="'pages.articleEdit.files.deleteAriaLabel' | translate" (click)="onDeleteFile(item)">
                                                    @if (isHandset()) {
                                                        <mat-icon>delete</mat-icon>
                                                    } @else {
                                                        <span>{{ 'pages.articleEdit.files.delete' | translate }}</span>
                                                    }
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </mat-card-content>
                        <mat-card-actions>
                            <button matButton="text" type="button" (click)="onCancelClick()">{{ 'common.actions.cancel' | translate }}</button>
                            <button matButton="filled" type="submit" class="margin-left-10" cdkFocusInitial>{{ 'common.actions.save' | translate }}</button>
                        </mat-card-actions>
                    </mat-card>
                </form>
            </div>
        </div>
    </div>
}
