@if (isReady()) {
    <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
        <div class="flex-row flex-space-around">
            <div class="article-container width-100">
                <section>
                    <h1>Article content</h1>
                </section>

                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                    <mat-card class="margin-bottom-20" appearance="outlined">
                        <mat-card-content>
                            <div class="margin-bottom-10">
                                <mat-form-field appearance="outline">
                                    <mat-label>Title</mat-label>
                                    <input type="text" matInput name="title" #titleInput="ngModel" [(ngModel)]="title"
                                        placeholder="Title" aria-label="Title" appMaxLength="200" />
                                    @if (titleInput.invalid && titleInput.errors?.appMaxLength) {
                                        <mat-error>
                                            Too long title.
                                        </mat-error>
                                    }
                                </mat-form-field>
                            </div>

                            <div class="margin-bottom-10">
                                <mat-form-field appearance="outline">
                                    <mat-label>Article body</mat-label>
                                    <textarea matInput name="body" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="8"
                                        cdkAutosizeMaxRows="26" placeholder="Article body" #bodyInput="ngModel" [(ngModel)]="body"
                                    aria-label="Article body" appMaxLength="50000" required></textarea>
                                    <mat-hint align="end"><span class="text-muted">This field supports Markdown formatting.</span></mat-hint>
                                    @if (bodyInput.invalid && bodyInput.errors?.appMaxLength) {
                                        <mat-error>Too long article body.</mat-error>
                                    }
                                    @if (bodyInput.invalid && bodyInput.errors?.required) {
                                        <mat-error>Enter article body.</mat-error>
                                    }
                                </mat-form-field>
                            </div>

                            <div [ngClass]="{ 'margin-bottom-30': isHandsetPortrait(), 'margin-bottom-10': !isHandsetPortrait() }">
                                <mat-form-field appearance="outline">
                                    <mat-label>Color</mat-label>
                                    <input type="text" matInput name="color" #colorInput="ngModel" [(ngModel)]="color"
                                        placeholder="Color" aria-label="Color" appMaxLength="200" />
                                    <mat-hint align="end"><span class="text-muted">You can use CSS-compatible colors here, e.g., #00ff0020.</span></mat-hint>
                                    @if (colorInput.invalid && colorInput.errors?.appMaxLength) {
                                        <mat-error>
                                            Too long color.
                                        </mat-error>
                                    }

                                </mat-form-field>
                            </div>

                            <div ngClass="margin-bottom-40">
                                <mat-form-field appearance="outline">
                                    <mat-label>Alternative author</mat-label>
                                    <input type="text" matInput name="alternativeAuthor" #alternativeAuthorInput="ngModel" [(ngModel)]="alternativeAuthor"
                                        placeholder="Color" aria-label="Alternative author" appMaxLength="500" />
                                    <mat-hint align="end">
                                        <span class="text-muted">
                                            You can set an alternative handle for a user's account in the Fediverse.
                                            It will be displayed as the author in thumbnails generated based on OpenGraph tags.
                                        </span>
                                    </mat-hint>
                                    @if (alternativeAuthorInput.invalid && alternativeAuthorInput.errors?.appMaxLength) {
                                        <mat-error>
                                            Too long user name.
                                        </mat-error>
                                    }
                                </mat-form-field>
                            </div>

                            <h3 [ngClass]="{ 'padding-top-20': isHandsetPortrait() }">Visibilities</h3>

                            <div class="padding-bottom-20">
                                <div>
                                    <mat-checkbox name="showInNewsSignIn" color="primary" [disableRipple]="true" [(ngModel)]="showInNewsSignIn">
                                        News - sign in
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox name="showInNewsSignOut" color="primary" [disableRipple]="true" [(ngModel)]="showInNewsSignOut">
                                        News - sign out
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox name="showInHomeSignIn" color="primary" [disableRipple]="true" [(ngModel)]="showInHomeSignIn">
                                        Home - sign in
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox name="showInHomeSignOut" color="primary" [disableRipple]="true" [(ngModel)]="showInHomeSignOut">
                                        Home - sign out
                                    </mat-checkbox>
                                </div>
                            </div>

                            <h3>
                                <div class="flex-row flex-space-between">
                                    <div>Files</div>
                                    <div class="text-right">
                                        <input type="file" hidden (change)="onFileSelected($event)" #fileInput id="file">
                                        <button type="button" mat-stroked-button color="primary" class="small-button" aria-label="Upload file" (click)="fileInput.click()">Upload</button>
                                    </div>
                                </div>
                            </h3>
                            <div class="padding-bottom-20 images-container">
                                @for (item of articleFileInfos(); track item.id) {
                                    <div class="margin-bottom-10">
                                        <div class="flex-row flex-space-between flex-align-center">
                                            <div>
                                                <img [src]="item.url" alt="Article file">
                                            </div>
                                            <div>
                                                @if (mainArticleFileInfoId() === item.id) {
                                                    <span class="margin-right-10"><strong>Main file</strong></span>
                                                } @else {
                                                    <button type="button" mat-stroked-button color="primary" class="small-button margin-right-10" aria-label="Delete file" (click)="onMarkAsMainFile(item)">Mark as main</button>
                                                }
                                                <button type="button" mat-stroked-button color="primary" class="icon-only small-button margin-right-10" (click)="onCopyMarkdown(item)" aria-label="Copy markdown">
                                                    @if (isHandset()) {
                                                        <mat-icon>content_copy</mat-icon>
                                                    } @else {
                                                        <span>Copy</span>
                                                    }
                                                </button>
                                                <button type="button" mat-stroked-button color="accent" class="icon-only small-button" aria-label="Delete file" (click)="onDeleteFile(item)">
                                                    @if (isHandset()) {
                                                        <mat-icon>delete</mat-icon>
                                                    } @else {
                                                        <span>Delete</span>
                                                    }
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button type="button" (click)="onCancelClick()">Cancel</button>
                            <button mat-raised-button type="submit" color="accent" class="margin-left-10" cdkFocusInitial>Save</button>
                        </mat-card-actions>
                    </mat-card>
                </form>
            </div>
        </div>
    </div>
}