<mat-form-field class="width-100" appearance="outline">
    <mat-label>{{ label() }}</mat-label>
    <input
        type="text"
        [name]="name() + '-input'"
        [id]="name() + '-input'"
        matInput
        (change)="onChange()"
        [ngModel]="selectedUser()"
        (ngModelChange)="onModelChange($event)"
        #userSelector="ngModel"
        [attr.aria-label]="label()"
        [matAutocomplete]="autoUsers"
        [required]="isRequired()"
        [appAutocompleteValid]="true"
        [disabled]="isReadOnly()" />
    <mat-autocomplete
        #autoUsers="matAutocomplete"
        [displayWith]="userDisplayFn"
        (optionSelected)='onSelectedUser($event.option.value)'>

        @for (option of filteredUsers(); track option.id) {
            <mat-option [value]="option">
                {{ option.name }} <small>(&#64;{{ option.userName }})</small>
            </mat-option>
        }
    </mat-autocomplete>

    @if (selectedUser() && !isReadOnly) {
        <button [name]="name + '-clear'" [id]="name + '-clear'" type="button" matSuffix mat-icon-button aria-label="Clear" (click)="onChange()">
            <mat-icon class="text-muted">backspace</mat-icon>
        </button>
    }

    @if (isUsersLoading()) {
        <mat-spinner matSuffix [diameter]="16"></mat-spinner>
    }

    @if (userSelector.invalid && userSelector.errors?.required) {
        <mat-error>Chose user.</mat-error>
    }

    @if (userSelector.invalid && userSelector.errors?.appAutocompleteValid) {
        <mat-error>Chose user from list.</mat-error>
    }
</mat-form-field>