.gallery-container {
    .image-gallery {
        display: flex;
        flex-direction: row;
        gap: 6px;

        .column {
            max-width: calc((100vw - 12px) / 3);
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        &.square {
            .column {    
                ::ng-deep .image-item {
                    width: calc((100vw - 12px) / 3);
                    height: calc((100vw - 12px) / 3);
                    object-fit: cover;
                }
            }
        }
    }

    .image-column {
        .column {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
    }

    .placeholder {
        width: calc((100vw - 12px) / 3);
    }

    .gallery-item {
        width: 100%;
    }

    .gallery-link {
        display: block;
        width: 100%;
        height: 100%;
    }

    .gallery-placeholder {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 6px;
        overflow: hidden;
    }

    .gallery-item app-image,
    .gallery-item app-blurhash-image {
        display: block;
        width: 100%;
        height: 100%;
    }

    .gallery-item {
        ::ng-deep .image-container,
        ::ng-deep .blurhash-container {
            width: 100%;
            height: 100%;
        }
    }

}
