@if (!isBrowser()) {
    <div></div>
}
@else if (statusesExists()) {
    <div class="gallery-container" appInfiniteScroll [infiniteScrollDistance]="500" [infiniteScrollThrottle]="200" (scrolled)="onNearEndScroll()">
        <div [ngClass]="{ 'image-gallery': !isHandsetPortrait() || squareImages(), 'square': squareImages() }">
            @for (column of galleryColumns(); track column.columnId) {
                <div class="column">
                    @if(column.statuses.length > 0) {
                        @for (galleryStatus of column.statuses; track galleryStatus.status.id) {
                            <div animate.enter="fade-in">
                                <a [routerLink]="['/statuses', galleryStatus.status.id]" [ariaLabel]="'Status added by: ' + getMainStatus(galleryStatus.status).user?.userName">
                                    @if (getMainStatus(galleryStatus.status).sensitive && !alwaysShowNSFW()) {
                                        <app-blurhash-image [horizontal]="false" [avatarVisible]="avatarVisible() && !hideAvatars()" [status]="galleryStatus.status"></app-blurhash-image>
                                    } @else {
                                        <app-image [horizontal]="false" [avatarVisible]="avatarVisible() && !hideAvatars()" [status]="galleryStatus.status" [priority]="galleryStatus.priority"></app-image>
                                    }
                                </a>
                            </div>
                        }
                    } @else {
                        <div class="placeholder"></div>
                    }
                </div>
            }
        </div>
    </div>
    
} @else {
    <div class="text-muted padding-top-30 text-center" [ngClass]="{ 'padding-left-30 padding-right-30': !isHandset(), 'padding-left-10 padding-right-10': isHandset() }">
        <h2 class="empty-page">
            <div class="camera"></div>
            <div>Sadly, there's nothing to see here just yet.</div>
        </h2>
    </div>
}