.gallery-container {
    .image-gallery {
        display: flex;
        flex-direction: row;
        gap: 6px;

        .column {
            max-width: calc((100vw - 12px) / 3);
        }
    }

    .placeholder {
        width: calc((100vw - 12px) / 3);
    }
}