@if (statuses?.data?.length) {
    <div class="gallery-container" appScrollNearEnd (nearEnd)="onNearEndScroll()">
        <div [ngClass]="{ 'image-gallery': !isHandsetPortrait || squareImages, 'square': squareImages }">
            <div class="column" *ngFor="let items of gallery">
                @if(items.length > 0) {
                    <div @fadeIn *ngFor="let status of items; trackBy:trackByFn">
                        <a [routerLink]="['/statuses', status.id]" [ariaLabel]="'Status added by: ' + getMainStatus(status).user?.userName">
                            @if (getMainStatus(status).sensitive) {
                                <app-blurhash-image [horizontal]="false" [avatarVisible]="avatarVisible && !hideAvatars" [status]="status"></app-blurhash-image>
                            } @else {
                                <app-image [horizontal]="false" [avatarVisible]="avatarVisible && !hideAvatars" [status]="status"></app-image>
                            }
                        </a>
                    </div>
                } @else {
                    <div class="placeholder"></div>
                }
            </div>
        </div>
    </div>
    
} @else {
    <div class="text-muted padding-top-30 text-center" [ngClass]="{ 'padding-left-30 padding-right-30': !isHandset, 'padding-left-10 padding-right-10': isHandset }">
        <h2 class="empty-page">
            <div class="camera"></div>
            <div>Sadly, there's nothing to see here just yet.</div>
        </h2>
    </div>
}