@if (statuses?.data?.length) {
    <div class="gallery-container">
        <div class="image-gallery">
            <div class="column" *ngFor="let items of gallery">
                <div class="image-item" *ngFor="let status of items">
                    <a [routerLink]="['/statuses', status.id]" [ariaLabel]="'Status added by: ' + getMainStatus(status).user?.userName">
                        @if (getMainStatus(status).sensitive) {
                            <app-blurhash-image
                                [horizontal]="false"
                                [imageSrc]="getMainAttachmentSrc(status)"
                                [alt]="getMainAttachmentAlt(status)"
                                [blurhash]="getMainAttachmentBlurhash(status)"
                                [text]="getMainStatus(status).contentWarning"
                                [user]="getMainStatus(status).user">
                            </app-blurhash-image>
                        } @else {
                            <app-image
                                [horizontal]="false" 
                                [imageSrc]="getMainAttachmentSrc(status)"
                                [alt]="getMainAttachmentAlt(status)"
                                [user]="getMainStatus(status).user">
                            </app-image>
                        }
                    </a>
                </div>
            </div>
        </div>
    </div>
} @else {
    <div class="text-muted padding-top-30 width-100 text-center">
        <h2>
            Unfortunatelly, there is nothing to see here yet.
        </h2>
    </div>
}