<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>{{ 'dialogs.changeEmail.texts.changeEmail' | translate }}</div>
    <div mat-dialog-content>

        <small class="text-muted text-right">
            {{ 'dialogs.changeEmail.texts.privacyNote' | translate }}
        </small>

        <div class="margin-bottom-20 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>{{ 'common.labels.email' | translate }}</mat-label>
                <input type="email" matInput name="email" [(ngModel)]="email" #emailInput="ngModel"
                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    [attr.aria-label]="'dialogs.changeEmail.attrs.email' | translate" appUniqueEmail required />

                @if (emailInput.invalid && emailInput.errors?.required) {
                    <mat-error>{{ 'dialogs.changeEmail.texts.enterEmail' | translate }}</mat-error>
                }

                @if (emailInput.invalid && emailInput.errors?.pattern) {
                    <mat-error>{{ 'dialogs.changeEmail.texts.verifyThatYouVeEnteredProperEmail' | translate }}</mat-error>
                }

                @if (emailInput.invalid && emailInput.errors?.appUniqueEmail) {
                    <mat-error>{{ 'dialogs.changeEmail.texts.chooseOtherEmailThisOneIsAlready' | translate }}</mat-error>
                }
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button matButton="text" type="button" (click)="onNoClick()">{{ 'common.actions.cancel' | translate }}</button>
        <button matButton="filled" type="submit" cdkFocusInitial>{{ 'components.dialogCommon.actions.change' | translate }}</button>
    </div>
</form>
