<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>Change email</div>
    <div mat-dialog-content>

        <small class="text-muted text-right">
            Don't worry. This info is sacred for us. We won't ever show, sell or abuse it.
        </small>

        <div class="margin-bottom-20 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput name="email" [(ngModel)]="email" #emailInput="ngModel"
                       pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                       aria-label="Email" appUniqueEmail required />
                <mat-error *ngIf="emailInput.invalid && emailInput.errors?.required">Enter email.</mat-error>
                <mat-error *ngIf="emailInput.invalid && emailInput.errors?.pattern">Verify that you've entered proper email.</mat-error>
                <mat-error *ngIf="emailInput.invalid && emailInput.errors?.appUniqueEmail">Choose other email, this one is already connected to different account.</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="primary" cdkFocusInitial>Change</button>
    </div>
</form>