.mat-button-toggle-group {
    height: 36px;
    align-items: center;
  }

.mat-button-toggle-checked {
    background-color: white;
}

.multiple-buttons {
  .mat-button-toggle-group {
    height: 34px;
    align-items: center;
  }
}