@if (!singleButton()) {
    <div class="multiple-buttons flex-row flex-center gap-8">
        @if (isDuringRelationshipAction()) {
            <button animate.enter="fade-in" type="button" matButton="text" [attr.aria-label]="'common.labels.processing' | translate" disabled="disabled">{{ 'common.labels.processing' | translate }}...</button>
        }

        @if (!isDuringRelationshipAction()) {
            @if (showChangeRelationshipButton()) {
                @if (showFollowButton()) {
                    <button animate.enter="fade-in" type="button" (click)="onFollow()" matButton="filled" [attr.aria-label]="'common.actions.follow' | translate">{{ updatedRelationship().followedBy ? ('components.followButtons.actions.followBack' | translate) : ('common.actions.follow' | translate) }}</button>
                } @else {
                    <button animate.enter="fade-in" type="button" (click)="onUnfollow()" matButton="tonal" [attr.aria-label]="'common.actions.unfollow' | translate">{{ updatedRelationship().following ? ('common.actions.unfollow' | translate) : ('components.followButtons.actions.cancelRequest' | translate) }}</button>
                }
            }
            
            @if (showApproveFollowButton()) {
                <button animate.enter="fade-in" type="button" (click)="onApproveFollow()" matButton="filled" [attr.aria-label]="'components.followButtons.actions.approveFollow' | translate">{{ 'components.followButtons.actions.approveFollow' | translate }}</button>
                <button animate.enter="fade-in" type="button" (click)="onRejectFollow()" matButton="tonal" [attr.aria-label]="'components.followButtons.actions.rejectFollow' | translate">{{ 'components.followButtons.actions.rejectFollow' | translate }}</button>
            }
        }

        @if (showOpenOriginalProfileButton() || showCopyProfileUrlButton() || showMuteButton() || showUnmuteButton() || showFeatureButton() || showUnfeatureButton() || showReportButton()) {
            <button class="more-button" matButton="outlined" [matMenuTriggerFor]="dropdownMenuOne2" [attr.aria-label]="'common.labels.moreOptions' | translate">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #dropdownMenuOne2="matMenu" xPosition="before">
                @if (showOpenOriginalProfileButton()) {
                    <button (click)="onOriginalProfile()" mat-menu-item><mat-icon>public</mat-icon> {{ 'components.followButtons.actions.openOriginalProfile' | translate }}</button>
                }

                @if (showCopyProfileUrlButton()) {
                    <button (click)="onCopyLinkToPost()" mat-menu-item><mat-icon>file_copy</mat-icon> {{ 'components.followButtons.actions.copyProfileLink' | translate }}</button>
                }

                @if (showOpenOriginalProfileButton() || showCopyProfileUrlButton()) {
                    <mat-divider></mat-divider>
                }
                
                @if (showFeatureButton()) {
                    <button (click)="onFeature()" mat-menu-item><mat-icon class="outline-symbol">stars</mat-icon> {{ 'components.followButtons.actions.feature' | translate }}</button>
                }
                
                @if (showUnfeatureButton()) {
                    <button (click)="onUnfeature()" mat-menu-item><mat-icon class="fill-symbol">stars</mat-icon> {{ 'components.followButtons.actions.undoFeature' | translate }}</button>
                }
                
                @if (showReportButton()) {
                    <button (click)="onReportDialog()" mat-menu-item><mat-icon>report</mat-icon> {{ 'common.actions.report' | translate }}</button>
                }

                @if (showMuteButton()) {
                    <mat-divider></mat-divider>
                    <button (click)="openMuteAccountDialog()" mat-menu-item><mat-icon>voice_over_off</mat-icon> {{ 'components.followButtons.actions.mute' | translate }}</button>
                }
                
                @if (showUnmuteButton()) {
                    <mat-divider></mat-divider>
                    <button (click)="unmuteAccount()" mat-menu-item><mat-icon>record_voice_over</mat-icon> {{ 'components.followButtons.actions.unmute' | translate }}</button>
                }

                @if (showBlockButton()) {
                    <button (click)="openBlockAccountDialog()" mat-menu-item><mat-icon>do_not_touch</mat-icon> {{ 'components.followButtons.actions.blockUser' | translate }}</button>
                }
                
                @if (showUnblockButton()) {
                    <button (click)="unblockAccount()" mat-menu-item><mat-icon>hand_gesture</mat-icon> {{ 'components.followButtons.actions.unblockUser' | translate }}</button>
                }

                @if (showUserBlockDomainButton()) {
                    <button (click)="onUserBlockDomainDialog()" mat-menu-item><mat-icon>supervised_user_circle_off</mat-icon> {{ 'components.followButtons.actions.blockDomain' | translate }}</button>
                }

                @if (showUserUnblockDomainButton()) {
                    <button (click)="onUserUnblockDomainDialog()" mat-menu-item><mat-icon>supervised_user_circle</mat-icon> {{ 'components.followButtons.actions.unblockDomain' | translate }}</button>
                }
            </mat-menu>
        }
    </div>
}

@if (singleButton() && (showChangeRelationshipButton() || showApproveFollowButton())) {
    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" (change)="toggleChange($event)">
        @if (showChangeRelationshipButton()) {
            @if (showFollowButton()) {
                <mat-button-toggle (click)="onFollow()">{{ updatedRelationship().followedBy ? ('components.followButtons.actions.followBack' | translate) : ('common.actions.follow' | translate) }}</mat-button-toggle>
            } @else {
                <mat-button-toggle (click)="onUnfollow()">{{ updatedRelationship().following ? ('common.actions.unfollow' | translate) : ('components.followButtons.actions.cancelRequest' | translate) }}</mat-button-toggle>
            }
        }

        @if (showApproveFollowButton()) {
            <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                <mat-icon>arrow_drop_down</mat-icon>
            </mat-button-toggle>
        }
    </mat-button-toggle-group>
    
    <mat-menu #dropdownMenuOne="matMenu" xPosition="before">
        @if (showApproveFollowButton()) {
            <button (click)="onApproveFollow()" mat-menu-item>{{ 'components.followButtons.actions.approveFollow' | translate }}</button>
            <button (click)="onRejectFollow()" mat-menu-item>{{ 'components.followButtons.actions.rejectFollow' | translate }}</button>
        }
    </mat-menu>
}
