.mat-button-toggle-group {
    height: 36px;
    align-items: center;
  }

.more-button {
  padding: 0;

  mat-icon {
    margin: 0;
  }
}

.multiple-buttons {
  .mat-button-toggle-group {
    height: 34px;
    align-items: center;
  }
}