<div mat-dialog-title>Following import accounts</div>
<div mat-dialog-content>
    <div class="text-muted fs-90">
        Below you will find a list of accounts that were read from the import file.
        You can check the status of the follow import for a specific account from the file.
    </div>

    @if(data?.followingImportItems; as followingImportItems) {

        <table mat-table [dataSource]="followingImportItems">

            <!-- RequestDate Column -->
            <ng-container matColumnDef="account">
                <th mat-header-cell *matHeaderCellDef> Account </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.account }}
                </td>
            </ng-container>

            <!-- Request StartDate Column -->
            <ng-container matColumnDef="startedAt">
                <th mat-header-cell *matHeaderCellDef> Start </th>
                <td mat-cell *matCellDef="let element">
                    @if (element.startedAt) {
                        {{ element.startedAt | date: 'short' }}
                    }
                </td>
            </ng-container>

            <!-- Request EndDate Column -->
            <ng-container matColumnDef="endedAt">
                <th mat-header-cell *matHeaderCellDef> End </th>
                <td mat-cell *matCellDef="let element">
                    @if (element.endedAt) {
                        {{ element.endedAt | date: 'short' }}
                    }
                </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-set aria-label="Status">
                        @switch (element.status) {
                            @case (followingImportItemStatus.NotProcessed) {
                                <mat-chip [disableRipple]="true">Not processed</mat-chip>
                            }
                            @case (followingImportItemStatus.Followed) {
                                <mat-chip [disableRipple]="true">Followed</mat-chip>
                            }
                            @case (followingImportItemStatus.Sent) {
                                <mat-chip [disableRipple]="true">Request sent</mat-chip>
                            }
                            @case (followingImportItemStatus.Error) {
                                <mat-chip [disableRipple]="true" [matTooltip]="element.errorMessage">Error</mat-chip>
                            }
                        }
                    </mat-chip-set>
                </td>
            </ng-container>
                            
            <tr mat-header-row *matHeaderRowDef="followingImportsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: followingImportsDisplayedColumns;"></tr>
        </table>
    }

</div>
<div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">Close</button>
</div>
