@if (isReady()) {
    <div animate.enter="fade-in">
        <section [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
            <h1>{{ 'pages.bookmarks.title' | translate }}</h1>

            @if (user(); as userInternal) {
                <a [routerLink]="['/@' + userInternal.userName]" [attr.aria-label]="'common.labels.accountLink' | translate">{{ fullName() }}</a>
            }
        </section>

        @if (statuses(); as statusesArray) {
            <app-gallery [statuses]="statusesArray" [startUrl]="pageUrl"></app-gallery>
        }
    </div>
}
