@if (isReady()) {
    <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
        <section>
            <h1>
                <div>Business card</div>
                @if (!isHandset()) {
                    <div class="flex-row flex-responsive flex-stretch">
                        <div class="fs-60 text-muted line-height-normal">
                            You can create your business card here and share it securely with individuals who do not have an account.
                            Your card is only visible to those who have the unique, hard-to-guess link you generate.
                            Each share creates a new link that you can remove at any time.
                        </div>
                        <div></div>
                    </div>
                }
            </h1>
        </section>

        <div class="flex-row flex-responsive flex-stretch">
            <div class="flex-row flex-space-around">
                <div class="width-100">
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                        <mat-card class="margin-bottom-20" appearance="outlined">
                            <mat-card-content>
                                <div class="flex-row flex-end gap-8 margin-bottom-20">
                                    <div class="input-color-container">
                                        <input type="color" class="input-color" name="color1" [(ngModel)]="color1" aria-label="Top color">
                                    </div>
                                    <div class="input-color-container">
                                        <input type="color" class="input-color" name="color2" [(ngModel)]="color2" aria-label="Bottom color">
                                    </div>
                                    <div class="input-color-container">
                                        <input    type="color"class="input-color" name="color3" [(ngModel)]="color3" aria-label="Text color">
                                    </div>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Title</mat-label>
                                        <input type="text" matInput name="title" #titleInput="ngModel" [(ngModel)]="title"
                                            placeholder="Title" aria-label="Title" appMaxLength="200" required />

                                        @if (titleInput.invalid && titleInput.errors?.required) {
                                            <mat-error>Enter title.</mat-error>
                                        }

                                        @if (titleInput.invalid && titleInput.errors?.appMaxLength) {
                                            <mat-error>
                                                Too long title.
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Subtitle</mat-label>
                                        <input type="text" matInput name="subtitle" #subtitleInput="ngModel" [(ngModel)]="subtitle"
                                            placeholder="Subtitle" aria-label="Title" appMaxLength="200" />

                                        @if (subtitleInput.invalid && subtitleInput.errors?.appMaxLength) {
                                            <mat-error>
                                                Too long subtitle.
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Note</mat-label>
                                        <textarea matInput name="body" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="8"
                                            cdkAutosizeMaxRows="100" placeholder="Note" #bodyInput="ngModel" [(ngModel)]="body"
                                        aria-label="Note" appMaxLength="50000"></textarea>

                                        @if (bodyInput.invalid && bodyInput.errors?.appMaxLength) {
                                            <mat-error>Too long article body.</mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Website</mat-label>
                                        <input type="text" matInput name="website" #websiteInput="ngModel" [(ngModel)]="website"
                                            placeholder="Website" aria-label="Website" appMaxLength="200" />

                                        @if (websiteInput.invalid && websiteInput.errors?.appMaxLength) {
                                            <mat-error>
                                                Too long website.
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Telephone</mat-label>
                                        <input type="text" matInput name="telephone" #telephoneInput="ngModel" [(ngModel)]="telephone"
                                            placeholder="Telephone" aria-label="Telephone" appMaxLength="200" />

                                        @if (telephoneInput.invalid && telephoneInput.errors?.appMaxLength) {
                                            <mat-error>
                                                Too long telephone.
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input type="text" matInput name="email" #emailInput="ngModel" [(ngModel)]="email"
                                            placeholder="Title" aria-label="Title" appMaxLength="200" />

                                        @if (emailInput.invalid && emailInput.errors?.appMaxLength) {
                                            <mat-error>
                                                Too long email.
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20 padding-top-20">
                                    <div class="flex-row flex-stretch flex-space-between">
                                        <h3>Fields</h3>
                                        <div class="text-right">
                                            <button mat-stroked-button color="accent" type="button" (click)="onAddField()">Add field</button>
                                        </div>
                                    </div>
                                </div>

                                @for (field of fields(); track field; let i = $index) {
                                    <div>
                                        <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Key</mat-label>
                                                <input type="text" matInput [name]="'key-' + i" #key="ngModel" [(ngModel)]="field.key" (blur)="updateFields()" placeholder="Key" aria-label="Key" appMaxLength="500" />

                                                @if (key.invalid && key.errors?.appMaxLength) {
                                                    <mat-error>Too long key.</mat-error>
                                                }
                                            </mat-form-field>
                                        </div>

                                        <div class="flex-row flex-responsive flex-stretch gap-16">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Value</mat-label>
                                                <input type="text" matInput [name]="'value-' + i" #value="ngModel" [(ngModel)]="field.value" (blur)="updateFields()" placeholder="Value" aria-label="Value" appMaxLength="500" />

                                                @if (value.invalid && value.errors?.appMaxLength) {
                                                    <mat-error>Too long value.</mat-error>
                                                }
                                            </mat-form-field>
                                        </div>

                                        <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                                            <div class="text-right">
                                                <button mat-stroked-button color="primary" type="button" (click)="onDeleteField(field)">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button type="button" (click)="onCancelClick()">Cancel</button>
                                <button mat-raised-button type="submit" color="accent" class="margin-left-10" cdkFocusInitial>Save</button>
                            </mat-card-actions>
                        </mat-card>
                    </form>
                </div>
            </div>

            <div>
                @if (user(); as userInternal) {
                    <app-business-card
                        [title]="title()"
                        [fields]="fields()"
                        [subtitle]="subtitle()"
                        [body]="body()"
                        [website]="website()"
                        [telephone]="telephone()"
                        [email]="email()"
                        [color1]="color1()"
                        [color2]="color2()"
                        [color3]="color3()"
                        [avatarUrl]="userInternal.avatarUrl ?? 'assets/avatar.svg'">
                    </app-business-card>
                }
            </div>
        </div>
    </div>
}