@if (isReady()) {
    <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
        <section>
            <h1>
                <div>{{ 'pages.editBusinessCard.title' | translate }}</div>
                @if (!isHandset()) {
                    <div class="flex-row flex-responsive flex-stretch">
                        <div class="fs-60 text-muted line-height-normal">
                            {{ 'pages.editBusinessCard.subtitle' | translate }}
                        </div>
                        <div></div>
                    </div>
                }
            </h1>
        </section>

        <div class="flex-row flex-responsive flex-stretch">
            <div class="flex-row flex-space-around">
                <div class="width-100">
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                        <mat-card class="margin-bottom-20" appearance="outlined">
                            <mat-card-content>
                                <div class="flex-row flex-end gap-8 margin-bottom-20">
                                    <div class="input-color-container">
                                        <input type="color" class="input-color" name="color1" [(ngModel)]="color1" [attr.aria-label]="'pages.editBusinessCard.colors.topAriaLabel' | translate">
                                    </div>
                                    <div class="input-color-container">
                                        <input type="color" class="input-color" name="color2" [(ngModel)]="color2" [attr.aria-label]="'pages.editBusinessCard.colors.bottomAriaLabel' | translate">
                                    </div>
                                    <div class="input-color-container">
                                        <input type="color" class="input-color" name="color3" [(ngModel)]="color3" [attr.aria-label]="'pages.editBusinessCard.colors.textAriaLabel' | translate">
                                    </div>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ 'common.labels.title' | translate }}</mat-label>
                                        <input type="text" matInput name="title" #titleInput="ngModel" [(ngModel)]="title"
                                            [attr.placeholder]="'common.labels.title' | translate" [attr.aria-label]="'common.labels.title' | translate" appMaxLength="200" required />

                                        @if (titleInput.invalid && titleInput.errors?.required) {
                                            <mat-error>{{ 'pages.editBusinessCard.form.title.errors.required' | translate }}</mat-error>
                                        }

                                        @if (titleInput.invalid && titleInput.errors?.appMaxLength) {
                                            <mat-error>
                                                {{ 'pages.editBusinessCard.form.title.errors.tooLong' | translate }}
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ 'common.labels.subtitle' | translate }}</mat-label>
                                        <input type="text" matInput name="subtitle" #subtitleInput="ngModel" [(ngModel)]="subtitle"
                                            [attr.placeholder]="'common.labels.subtitle' | translate" [attr.aria-label]="'common.labels.subtitle' | translate" appMaxLength="200" />

                                        @if (subtitleInput.invalid && subtitleInput.errors?.appMaxLength) {
                                            <mat-error>
                                                {{ 'pages.editBusinessCard.form.subtitle.errors.tooLong' | translate }}
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ 'common.labels.note' | translate }}</mat-label>
                                        <textarea matInput name="body" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="8"
                                            cdkAutosizeMaxRows="100" [attr.placeholder]="'common.labels.note' | translate" #bodyInput="ngModel" [(ngModel)]="body"
                                        [attr.aria-label]="'common.labels.note' | translate" appMaxLength="50000"></textarea>

                                        @if (bodyInput.invalid && bodyInput.errors?.appMaxLength) {
                                            <mat-error>{{ 'pages.editBusinessCard.form.note.errors.tooLong' | translate }}</mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ 'common.labels.website' | translate }}</mat-label>
                                        <input type="text" matInput name="website" #websiteInput="ngModel" [(ngModel)]="website"
                                            [attr.placeholder]="'common.labels.website' | translate" [attr.aria-label]="'common.labels.website' | translate" appMaxLength="200" />

                                        @if (websiteInput.invalid && websiteInput.errors?.appMaxLength) {
                                            <mat-error>
                                                {{ 'pages.editBusinessCard.form.website.errors.tooLong' | translate }}
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ 'common.labels.telephone' | translate }}</mat-label>
                                        <input type="text" matInput name="telephone" #telephoneInput="ngModel" [(ngModel)]="telephone"
                                            [attr.placeholder]="'common.labels.telephone' | translate" [attr.aria-label]="'common.labels.telephone' | translate" appMaxLength="200" />

                                        @if (telephoneInput.invalid && telephoneInput.errors?.appMaxLength) {
                                            <mat-error>
                                                {{ 'pages.editBusinessCard.form.telephone.errors.tooLong' | translate }}
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-10">
                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ 'common.labels.email' | translate }}</mat-label>
                                        <input type="text" matInput name="email" #emailInput="ngModel" [(ngModel)]="email"
                                            [attr.placeholder]="'common.labels.email' | translate" [attr.aria-label]="'common.labels.email' | translate" appMaxLength="200" />

                                        @if (emailInput.invalid && emailInput.errors?.appMaxLength) {
                                            <mat-error>
                                                {{ 'pages.editBusinessCard.form.email.errors.tooLong' | translate }}
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20 padding-top-20">
                                    <div class="flex-row flex-stretch flex-space-between">
                                        <h3>{{ 'common.labels.fields' | translate }}</h3>
                                        <div class="text-right">
                                            <button matButton="outlined" type="button" (click)="onAddField()">{{ 'common.actions.addField' | translate }}</button>
                                        </div>
                                    </div>
                                </div>

                                @for (field of fields(); track field; let i = $index) {
                                    <div>
                                        <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                                            <mat-form-field appearance="outline">
                                                <mat-label>{{ 'common.labels.key' | translate }}</mat-label>
                                                <input type="text" matInput [name]="'key-' + i" #key="ngModel" [(ngModel)]="field.key" (blur)="updateFields()" [attr.placeholder]="'common.labels.key' | translate" [attr.aria-label]="'common.labels.key' | translate" appMaxLength="500" />

                                                @if (key.invalid && key.errors?.appMaxLength) {
                                                    <mat-error>{{ 'pages.editBusinessCard.form.fields.key.errors.tooLong' | translate }}</mat-error>
                                                }
                                            </mat-form-field>
                                        </div>

                                        <div class="flex-row flex-responsive flex-stretch gap-16">
                                            <mat-form-field appearance="outline">
                                                <mat-label>{{ 'common.labels.value' | translate }}</mat-label>
                                                <input type="text" matInput [name]="'value-' + i" #value="ngModel" [(ngModel)]="field.value" (blur)="updateFields()" [attr.placeholder]="'common.labels.value' | translate" [attr.aria-label]="'common.labels.value' | translate" appMaxLength="500" />

                                                @if (value.invalid && value.errors?.appMaxLength) {
                                                    <mat-error>{{ 'pages.editBusinessCard.form.fields.value.errors.tooLong' | translate }}</mat-error>
                                                }
                                            </mat-form-field>
                                        </div>

                                        <div class="flex-row flex-responsive flex-stretch gap-16 margin-bottom-20">
                                            <div class="text-right">
                                                <button matButton="outlined" type="button" (click)="onDeleteField(field)">{{ 'common.actions.delete' | translate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </mat-card-content>
                            <mat-card-actions>
                                <button matButton="text" type="button" (click)="onCancelClick()">{{ 'common.actions.cancel' | translate }}</button>
                                <button matButton="filled" type="submit" class="margin-left-10" cdkFocusInitial>{{ 'common.actions.save' | translate }}</button>
                            </mat-card-actions>
                        </mat-card>
                    </form>
                </div>
            </div>

            <div>
                @if (user(); as userInternal) {
                    <app-business-card
                        [title]="title()"
                        [fields]="fields()"
                        [subtitle]="subtitle()"
                        [body]="body()"
                        [website]="website()"
                        [telephone]="telephone()"
                        [email]="email()"
                        [color1]="color1()"
                        [color2]="color2()"
                        [color3]="color3()"
                        [avatarUrl]="userInternal.avatarUrl ?? 'assets/avatar.svg'">
                    </app-business-card>
                }
            </div>
        </div>
    </div>
}
