@if (isReady()) {
    @if (eventItems(); as eventsArray) {
        <div animate.enter="fade-in" [ngClass]="{ 'padding-30': !isHandset(), 'padding-10': isHandset() }">
            <div class="flex-row flex-space-around padding-left-10 padding-right-10">
                <div class="width-100">
                    <section class="flex-row flex-space-between flex-align-center margin-bottom-20" [ngClass]="{ 'flex-row': !isHandset(), 'flex-column': isHandset() }">
                        <h1>
                            <div>{{ 'pages.statusEventItems.title' | translate }}</div>
                            @if (!isHandset()) {
                                <div class="fs-60 text-muted">
                                    {{ 'pages.statusEventItems.subtitlePrefix' | translate }} <a [routerLink]="['/statuses', this.statusId()]">{{ 'common.labels.status' | translate | lowercase }}</a> {{ 'pages.statusEventItems.subtitleMiddle' | translate }} (<a [routerLink]="['/statuses', this.statusId(), 'events']">{{ 'pages.statusEventItems.otherEvents' | translate }}</a>).
                                </div>
                            }
                        </h1>
                    </section>

                    <div class="search width-100">
                        <mat-card class="margin-bottom-20" appearance="outlined">
                            <mat-card-content>
                                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                    <div class="flex-row flex-align-center flex-space-between gap-16">
                                        <div class="flex-row flex-align-center gap-16">
                                            @if (!isHandset()) {
                                                <mat-form-field appearance="outline">
                                                    <mat-label>{{ 'pages.activityPubEventItems.filters.sorting.label' | translate }}</mat-label>
                                                    <mat-select [(value)]="sortColumn">
                                                        <mat-option value="startAt">{{ 'pages.activityPubEventItems.filters.sorting.startDate' | translate }}</mat-option>
                                                        <mat-option value="endAt">{{ 'pages.activityPubEventItems.filters.sorting.endDate' | translate }}</mat-option>
                                                        <mat-option value="createdAt">{{ 'common.dates.createdDate' | translate }}</mat-option>
                                                        <mat-option value="updatedAt">{{ 'pages.activityPubEventItems.filters.sorting.updatedDate' | translate }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            }
                                            <mat-checkbox name="onlyErrors" [disableRipple]="true" [(ngModel)]="onlyErrors">
                                                {{ 'pages.activityPubEventItems.filters.onlyErrors' | translate }}
                                            </mat-checkbox>
                                            @if (!isHandset()) {
                                                <mat-radio-group name="sortDirection" [(ngModel)]="sortDirection" [attr.aria-label]="'pages.activityPubEventItems.filters.sortDirection.label' | translate">
                                                    <mat-radio-button value="ascending">{{ 'common.sort.ascending' | translate }}</mat-radio-button>
                                                    <mat-radio-button value="descending">{{ 'common.sort.descending' | translate }}</mat-radio-button>
                                                </mat-radio-group>
                                            }
                                        </div>
                                        <button type="submit" matButton="outlined">{{ 'common.actions.search' | translate }}</button>
                                    </div>
                                    <div>

                                    </div>
                                </form>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <table mat-table [dataSource]="eventsArray.data" class="mat-elevation-z1">

                        <!-- Url Column -->
                        <ng-container matColumnDef="url">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEventItems.table.inboxUrl' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.url }}</span>
                            </td>
                        </ng-container>

                        <!-- Is Host Suspended Column -->
                        <ng-container matColumnDef="isSuspended">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEventItems.table.hostSuspended' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox [disableRipple]="true" [ngModel]="element.isSuspended" disabled>
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Is success Column -->
                        <ng-container matColumnDef="isSuccess">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEventItems.table.isSuccess' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox [disableRipple]="true" [ngModel]="element.isSuccess" disabled>
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Created Date Column -->
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef>{{ 'common.dates.createdDate' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.createdAt) {
                                    <span>
                                        {{ element.createdAt | date: 'short' }}
                                    </span>
                                }
                            </td>
                        </ng-container>

                        <!-- Start Date Column -->
                        <ng-container matColumnDef="startAt">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEventItems.table.startDate' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.startAt) {
                                    <span>
                                        {{ element.startAt | date: 'short' }}
                                    </span>
                                }
                            </td>
                        </ng-container>

                        <!-- Start Date Column -->
                        <ng-container matColumnDef="endAt">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEventItems.table.endDate' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.endAt) {
                                    <span>
                                        {{ element.endAt | date: 'short' }}
                                    </span>
                                }
                            </td>
                        </ng-container>

                        <!-- Result Column -->
                        <ng-container matColumnDef="error">
                            <th mat-header-cell *matHeaderCellDef>{{ 'pages.activityPubEventItems.table.error' | translate }}</th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.errorMessage) {
                                    <div>
                                        <a href="javascript:void(0)" (click)="onOpenErrorMessage(element)">{{ 'pages.activityPubEventItems.table.open' | translate }}</a>
                                    </div>
                                }
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
                    </table>
                    <mat-paginator
                        (page)="handlePageEvent($event)"
                        [length]="eventsArray.total"
                        [pageIndex]="pageIndex()"
                        [pageSize]="10"
                        [pageSizeOptions]="[10, 25, 100]"
                        [attr.aria-label]="'common.paginator.selectPage' | translate">
                    </mat-paginator>
                </div>
            </div>
        </div>
    }
}
