<form name="form" (ngSubmit)="f.form.valid && passwordIsValid && onSubmit()" #f="ngForm" novalidate>
    <h1 mat-dialog-title>Change password</h1>
    <div mat-dialog-content>

        <div fxLayout="column" class="margin-bottom-20">
            <mat-form-field floatLabel="always">
                <input matInput name="oldPassword" [(ngModel)]="oldPassword" #oldPasswordInput="ngModel" type="text" placeholder="Old password" aria-label="Old password" required appMaxLength="50" />
                <mat-error *ngIf="oldPasswordInput.invalid && oldPasswordInput.errors?.required">Enter password.</mat-error>
                <mat-error *ngIf="oldPasswordInput.invalid && oldPasswordInput.errors?.appMaxLength">Password is too long.</mat-error>
            </mat-form-field>
        </div>

        <app-password [(passwordText)]="password" (passwordValid)="passwordValid($event)" [form]="f"></app-password>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" cdkFocusInitial>Change</button>
    </div>
</form>