<form name="form" (ngSubmit)="f.form.valid && passwordIsValid() && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>Change password</div>
    <div mat-dialog-content>

        <div class="margin-bottom-20 padding-top-5">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Old password</mat-label>
                <input type="password" matInput name="oldPassword" [(ngModel)]="oldPassword" #oldPasswordInput="ngModel" aria-label="Old password" required appMaxLength="50" />

                @if (oldPasswordInput.invalid && oldPasswordInput.errors?.required) {
                    <mat-error>Enter password.</mat-error>
                }

                @if (oldPasswordInput.invalid && oldPasswordInput.errors?.appMaxLength) {
                    <mat-error>Password is too long.</mat-error>
                }
            </mat-form-field>
        </div>

        <app-password [(passwordText)]="password" (passwordValid)="onPasswordValid($event)" [form]="f"></app-password>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="primary" cdkFocusInitial>Change</button>
    </div>
</form>