<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-title>Report</div>
    <div mat-dialog-content>

        <div class="flex-col gap-0 margin-top-5">
            <mat-form-field appearance="outline" class="width-100 padding-top-10">
                <mat-label>Comment</mat-label>
                <textarea matInput name="comment" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                    cdkAutosizeMaxRows="10" placeholder="Comment" #commentModel="ngModel" [(ngModel)]="comment"
                aria-label="Comment" appMaxLength="1000"></textarea>

                @if (commentModel.invalid && commentModel.errors?.appMaxLength) {
                    <mat-error>Too long comment.</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select [(value)]="category">
                    @for (item of categories(); track item) {
                        <mat-option [value]="item">{{ item }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Server rules</mat-label>
                <mat-select multiple [(value)]="ruleIds">
                    @for (rule of rules(); track rule.id) {
                        <mat-option [value]="rule.id">{{ rule.text }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <!-- @if (!isLocal()) {
            <mat-checkbox name="forward" color="primary" [disableRipple]="true" [(ngModel)]="forward">
                Should the report be forwarded to the remote admin?
            </mat-checkbox>
            } -->
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="accent" cdkFocusInitial>Report</button>
    </div>
</form>