<div class="flex-col gap-0 margin-top-5">

    @if (isOpenAIEnabled) {
        <div class="flex-row flex-end">
            <mat-spinner *ngIf="describeInProgress" class="margin-right-10 margin-top-10" [diameter]="18"></mat-spinner>
            <button mat-stroked-button color="primary" (click)="onGenerateDescription()" [disabled]="!photo.isUploaded || describeInProgress">
                <mat-icon>smart_toy</mat-icon> Generate
            </button>
        </div>
    }

    <mat-form-field appearance="outline" class="margin-top-10">
        <mat-label>Alt text</mat-label>
        <textarea
                matInput [name]="'altText-' + index"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="10"
                #altTextInput="ngModel"
                [(ngModel)]="photo.description"
                aria-label="Alt text"
                appMaxLength="2000"></textarea>
        <mat-error *ngIf="altTextInput.invalid && altTextInput.errors?.appMaxLength">Too long alt text.</mat-error>
    </mat-form-field>

    <div class="text-muted">Location</div>
    <mat-form-field appearance="outline" class="margin-top-10">
        <mat-label>Country</mat-label>
        <input type="text"
               placeholder="Enter location"
               aria-label="Number"
               matInput
               [formControl]="countriesControl"
               [matAutocomplete]="autoCountry">
        <mat-autocomplete autoActiveFirstOption #autoCountry="matAutocomplete" [displayWith]="displayCountryFn" (optionSelected)="selectedCountry($event.option.value)">
            <mat-option *ngFor="let option of filteredCountries | async" [value]="option">
                {{ option.name }} <small class="text-muted">({{ option.code }})</small>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input type="text"
               placeholder="Enter location"
               aria-label="Number"
               matInput
               [formControl]="citiesControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayCityFn" (optionSelected)="selectedCity($event.option.value)">
            <mat-option *ngFor="let option of cities$ | async" [value]="option">
                {{ option.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>License</mat-label>
        <mat-select [(value)]="photo.licenseId">
            <mat-option *ngFor="let license of licenses" [value]="license.id">
                {{ license.name }} <ng-container *ngIf="license.code">({{ license.code }})</ng-container>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="text-muted">Exif metadata</div>
    <div class="exif-values">
        <div class="flex-row flex-responsive flex-stretch gap-16 small-text-input margin-bottom-10">
            <mat-checkbox class="exif-label" [name]="'make' + index" color="primary" [disableRipple]="true" [(ngModel)]="photo.showMake">
                <span class="text-muted">Manufacturer:</span> 
            </mat-checkbox>
            <mat-form-field appearance="outline" class="flex-grow-2">
                <input matInput [name]="'inputMake' + index" [(ngModel)]="photo.make" [disabled]="!photo.showMake" aria-label="Manufacturer" />
            </mat-form-field>
        </div>

        <div class="flex-row flex-responsive flex-stretch gap-16 small-text-input margin-bottom-10">
            <mat-checkbox class="exif-label" [name]="'model' + index" color="primary" [disableRipple]="true" [(ngModel)]="photo.showModel">
                <span class="text-muted">Model:</span>
            </mat-checkbox>
            <mat-form-field appearance="outline" class="flex-grow-2">
                <input matInput [name]="'inputModel' + index" [(ngModel)]="photo.model" [disabled]="!photo.showModel" aria-label="Model" />
            </mat-form-field>
        </div>

        <div class="flex-row flex-responsive  flex-stretch gap-16 small-text-input margin-bottom-10">
            <mat-checkbox class="exif-label" [name]="'lens' + index" color="primary" [disableRipple]="true" [(ngModel)]="photo.showLens">
                <span class="text-muted">Lens:</span>
            </mat-checkbox>
            <mat-form-field appearance="outline" class="flex-grow-2">
                <input matInput [name]="'inputLens' + index" [(ngModel)]="photo.lens" [disabled]="!photo.showLens" aria-label="Lens" />
            </mat-form-field>
        </div>

        <div class="flex-row flex-responsive  flex-stretch gap-16 small-text-input margin-bottom-10">
            <mat-checkbox class="exif-label" [name]="'focalLenIn35mmFilm' + index" color="primary" [disableRipple]="true" [(ngModel)]="photo.showFocalLenIn35mmFilm">
                <span class="text-muted">Focal length:</span>
            </mat-checkbox>
            <mat-form-field appearance="outline" class="flex-grow-2">
                <input matInput [name]="'inputFocalLenIn35mmFilm' + index" [(ngModel)]="photo.focalLenIn35mmFilm" [disabled]="!photo.showFocalLenIn35mmFilm" aria-label="Focal length" />
                <span class="text-muted" matSuffix>mm&nbsp;&nbsp;</span>
            </mat-form-field>
        </div>

        <div class="flex-row flex-responsive  flex-stretch gap-16 small-text-input margin-bottom-10">
            <mat-checkbox class="exif-label" [name]="'fNumber' + index" color="primary" [disableRipple]="true" [(ngModel)]="photo.showFNumber">
                <span class="text-muted">Aperture:</span>
            </mat-checkbox>
            <mat-form-field appearance="outline" class="flex-grow-2">
                <span class="text-muted" matTextPrefix>f/</span>
                <input matInput [name]="'inputFNumber' + index" [(ngModel)]="photo.fNumber" [disabled]="!photo.showFNumber" aria-label="Aperture" />
            </mat-form-field>
        </div>

        <div class="flex-row flex-responsive  flex-stretch gap-16 small-text-input margin-bottom-10">
            <mat-checkbox class="exif-label" [name]="'exposureTime' + index" color="primary" [disableRipple]="true" [(ngModel)]="photo.showExposureTime">
                <span class="text-muted">Exposure time:</span>
            </mat-checkbox>
            <mat-form-field appearance="outline" class="flex-grow-2">
                <input matInput [name]="'inputExposureTime' + index" [(ngModel)]="photo.exposureTime" [disabled]="!photo.showExposureTime" aria-label="Exposure time" />
                <span class="text-muted" matSuffix>sec&nbsp;&nbsp;</span>
            </mat-form-field>
        </div>

        <div class="flex-row flex-responsive  flex-stretch gap-16 small-text-input margin-bottom-10">
            <mat-checkbox class="exif-label" [name]="'photographicSensitivity' + index" color="primary" [disableRipple]="true" [(ngModel)]="photo.showPhotographicSensitivity">
                <span class="text-muted">ISO:</span>
            </mat-checkbox>
            <mat-form-field appearance="outline" class="flex-grow-2">
                <input matInput [name]="'inputPhotographicSensitivity' + index" [(ngModel)]="photo.photographicSensitivity" [disabled]="!photo.showPhotographicSensitivity" aria-label="ISO" />
            </mat-form-field>
        </div>

        <div class="flex-row flex-responsive  flex-stretch gap-16 small-text-input margin-bottom-10">
            <mat-checkbox class="exif-label" [name]="'film' + index" color="primary" [disableRipple]="true" [(ngModel)]="photo.showFilm">
                <span class="text-muted">Film:</span>
            </mat-checkbox>
            <mat-form-field appearance="outline" class="flex-grow-2">
                <input matInput [name]="'inputFilm' + index" [(ngModel)]="photo.film" [disabled]="!photo.showFilm" aria-label="ISO" />
            </mat-form-field>
        </div>

        <div class="flex-row flex-responsive  flex-stretch gap-16 small-text-input margin-bottom-10">
            <mat-checkbox class="exif-label" [name]="'createDate' + index" color="primary" [disableRipple]="true" [(ngModel)]="photo.showCreateDate">
                <span class="text-muted">Create date:</span>
            </mat-checkbox>
            <mat-form-field appearance="outline" class="flex-grow-2">
                <input matInput type="datetime-local" [name]="'inputCreateDate' + index" [ngModel]="photo.createDate | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="photo.createDate = $event" [disabled]="!photo.showCreateDate" aria-label="Create date" />
            </mat-form-field>
        </div>
    </div>
</div>
