// Fix the size of fonts in the dialog content.
::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
    color: inherit !important;
}
    
::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
    line-height: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    letter-spacing: inherit !important;
}